[2017-07-15 13:49] Eufranio commented on #1373
They are already disabled, altrough disabling them won't fix the issue (`checkBlockBreaksSign` is still called somewhere...)

[2017-07-15 13:59] mdcfe commented on #1373
[code]

If there aren't any signs enabled under `enabledSigns`, then Essentials will consider signs to be disabled. `onSignBlockBreak` checks whether or not signs are disabled, and shouldn't try to protect signs if they are. If you have another stall report with a different stack trace then I can try to figure it out from that, but otherwise I don't see what could cause this.

Could you try and re

[2017-07-15 14:33] Eufranio commented on #1373
I can do that: `version: 2.0.1-b472`, and I'm sure I don't have signs enabled, my config: https://gist.github.com/Eufranio/5e08e300799cb4ff9a4d1cca33726e9c

[2017-07-15 14:43] MYCQ-Projects commented on #1395
how do I upgrade using buildtools?

[2017-07-15 15:10] MYCQ-Projects commented on #1395
Well, I got the spigot 1.8.8 jar file and tried it and the buy signs still don't actually work.

[2017-07-15 15:18] smmmadden commented on #1395
just curious, have you ever had the signs working and if so, what version(s) were you on when you did?

I'm also surprised that not only are you still on 1.8.x (when the latest is 1.12), you're using Essentials build 156 and not the latest build 498.  At some point in time, you should really think about upgrading to the latest versions including Minecraft Client, Java (1.8.0_131 latest) and take a

[2017-07-15 15:33] MYCQ-Projects commented on #1395
Well I'll look into it but the thing is, I run a network of servers and they both run the same version, however, on one server it works perfectly fine but on the other, it just doesn't work

[2017-07-15 15:34] MYCQ-Projects commented on #1395
and im currently running the latest Java too, I also use ViaVersions and Viabackwards on my server to support versions up to 1.11.2 and all the way down 1.7 I do believe

[2017-07-15 16:05] mdcfe commented on #1395
@smmmadden Many people have different reasons for remaining on older game versions, and it's unlikely that the Java version is going to cause specific bugs. If it's a config issue (which it looks like) then the Minecraft version will have little to no effect.

@ImJustJamie If you haven't already, update EssentialsX from the link above. The version you're running is incredibly old (~2 years) and is

[2017-07-15 16:09] MYCQ-Projects commented on #1395
@md678685 I have updated to the link you sent above and it still refuses to allow signs to work

[2017-07-15 17:34] mdcfe commented on #1395
I believe `enabledSigns` should be `enabled-signs`.

[2017-07-15 17:41] MYCQ-Projects commented on #1395
Okie
Ill try that

[2017-07-15 17:42] MYCQ-Projects commented on #1395
No It still doesnt work.

[2017-07-15 17:46] mdcfe commented on #1376
This has been added by d7685dc1bcd6a1792e790b0f68f2627f7754c0bc and is available from build 499. You can get the latest build from the [build server](http://ci.drtshock.net/job/EssentialsX/lastSuccessfulBuild).

[2017-07-15 17:46] #1376 closed, assigned to mdcfe

[2017-07-15 17:53] #1115 closed, assigned to nobody

[2017-07-15 22:34] MYCQ-Projects commented on #1395
Anyone help?

[2017-07-15 22:49] mdcfe commented on #1395
My mistake, it should be `enabledSigns`.

[2017-07-15 22:51] MYCQ-Projects commented on #1395
Still doesnt work.

[2017-07-16 01:05] MYCQ-Projects commented on #1395
Anything else?
that could help me?

[2017-07-16 01:37] smmmadden commented on #1395
@ImJustJamie in an earlier post you mentioned that you have two servers where one works and the other does not and both are configured with the same plugins, same versions and same configuration and permissions files "for all plugins"?  This sounds more like a configuration issue and not a plugin problem.

my previous post I asked if this ever worked on the server having the problems?  Based on yo

[2017-07-16 02:08] delbertina commented on #1293
In my testing, issue is fixed after one of the latest dev versions with that merged PR.
#1375

[2017-07-16 05:36] #1293 closed, assigned to nobody

[2017-07-16 05:49] mdcfe commented on #1395
Could you clarify what "not working at all" is?

Could you also run `/ess debug` and see if anything is output when creating or using signs?

[2017-07-16 06:00] mdcfe commented on #1393
Duplicate of #991. You can give players the `silentjoin` permission, or just leave the custom messages with a blank line.

[2017-07-16 06:02] #1393 closed, assigned to mdcfe

[2017-07-16 09:49] mdcfe commented on #1293
This was fixed in a recent build - you can get the latest version from the [build server](https://ci.drtshock.net).

[2017-07-16 11:40] MYCQ-Projects commented on #1395
I upgraded to 498 since that was the latest version yesterday.

[2017-07-16 11:47] MYCQ-Projects commented on #1395
Ok so when i Debug the sign issue this is what shows.

however it does say its not working however the sign itself does work or turn blue to say its gunna work

[04:44:38] [Server thread/INFO]: ImJustJamie issued server command: /ess debug
[04:44:38] [Server thread/INFO]: [Essentials] attempting to charge user ImJustJamie
[04:44:38] [Server thread/INFO]: [Essentials] calculated command (essentials

[2017-07-16 11:51] MYCQ-Projects commented on #1395
Also I stated it above also that it cant be a config issue due to me even remaking the config from fresh by remaking it and it still doesnt work.

[2017-07-16 11:55] smmmadden commented on #1395
you just said "however it does say its not working however the sign itself does work or turn blue to say its gunna work"
Either the sign is not working or it is.  Nothing in the log above states anything is "NOT" working.  Please provide screenshots of what it is you believe is not working.  We've asked a number of questions, but you haven't answered them.
Please provide a full startup log of your

[2017-07-16 12:00] MYCQ-Projects commented on #1395
Well Make them more clear also when I said it doesnt work i mean this, but like i said it doesnt work meaning you can make the sign the but the bit saying [buy] doesnt turn blue and your not able to buy anything

http://prntscr.com/fwbfac

[2017-07-16 12:34] smmmadden commented on #1395
my questions to you were very clear - read each one and respond accordingly.  The screenshot you finally provided, shows that the sign can be placed and it can accept text on it.  So that part works.  Two parts of the sign process is working.  So now lets focus on the functional aspect of the sign.
Permissions: do you have access to essentials.signs.* permission nodes (there are 35+ perms)?  If yo

[2017-07-16 13:35] MithrandirCraft commented on #1328
That piece of config doesn't show up on my EssentialsX config. So right now I'm attempting at adding it manually after: `teleport-invulnerability`

[2017-07-16 13:40] MYCQ-Projects commented on #1395
If you scroll up you can see my config already also if you thinking i havnt taken out the # I have taken them out if you check my config in my very first post
I use Groupmanager
Im OP so I would end up having all permissions anyway including * perms as im owner

Startup log:https://gist.github.com/ImJustJamie/56be59864a6a9dbea8e64f6527731042

[2017-07-16 13:49] mdcfe commented on #1395
@ImJustJamie The old GroupManager plugin is not supported. Can you try disabling SignShop to see if this changes? (As a side note, I don't see why you're trying to use EssX's shop signs alongside SignShop?)

[2017-07-16 13:52] smmmadden commented on #1395
I saw the config file - but that wasn't the only thing I had asked for.  By you providing the startup log as you did, it confirms my suspicions that the issue is with other plugins.  I stopped counting after 6 issues in your startup logs.  Fix the plugins so they start and enable without warnings/errors/exceptions and using the minimum required plugin versions shown in the startup and then lets go

[2017-07-16 13:52] MYCQ-Projects commented on #1395
Well no the thing is My System admin mustve installed it since i didnt even know it was there

[2017-07-16 13:55] MYCQ-Projects commented on #1395
I removed SignShops and retested Essentials and it still does not work, and also Even with warnings warnings dont matter all plugins will still run the same and I also dont have any error only some that are showing due to a staff related plugin nothing to do wih essentials.

[2017-07-16 14:46] MYCQ-Projects commented on #1395
I just went through the start up log and cleaned all warn's and no I barely have any the only ones I have are to do with buycraft but I can't access my buycraft atm

[2017-07-16 17:58] boredhero opened #1397 "When will /recipe be back?"
Hi, on b499 /recipe is temporarily disabled. Was wondering why and when this will be fixed?

[2017-07-16 19:16] MYCQ-Projects commented on #1395
Nevermind the help I fixed it

[2017-07-16 19:16] #1395 closed, assigned to nobody

[2017-07-16 19:26] mdcfe commented on #1397
`/recipe` is disabled on 1.12 only because of a dupe bug. The 1.12 recipe book should be sufficient for finding recipes anyway.

[2017-07-16 19:57] boredhero commented on #1397
I'd argue that the recipe book isn't that sufficient. 1.) You have to go into survival mode to use it. 2.) You need to place and open a crafting table just to use it for items that use more than 4 slots to craft. Would it be possible to add a config option to put /recipe back and just leave a warning about it being bugged in 1.12?

[2017-07-16 21:16] smmmadden commented on #1395
@ImJustJamie can you let us know what it was that you fixed?  It would help others if they run into a similar problem.  Thanks!

[2017-07-16 23:13] MYCQ-Projects commented on #1395
Well, It turns out that using Essentials custom messages, can actually cause your signs to bug and disable themselfs, so the way i fixed it simply removing the messages_en.properties file

[2017-07-17 10:40] Twonox opened #1398 "World list for spawn-on-join"
Hi,

Could you add world compatibility for spawn-on-join please ?

[2017-07-17 12:13] mdcfe commented on #1387
Does `/tppos 0 38 0 90 -6` teleport you to the correct position?

[2017-07-17 20:55] kalebmmm opened #1399 "Essentials signs and similar formatted signs cancel nearby explosions"
EssentialsX version (`/essentials`): 2.0.1

Server software (`/version`): 1.8.8-R0.1

EssentialsX config (if applicable): https://gist.github.com/phonyfakeorreal/d764856e049ad728615481398a0d0b9c

----
Essentially, (hah) when an explosion takes place near an essentials sign, the explosion is cancelled.

**Steps to reproduce:**
- Enable any essentials sign or all (Bug does not happen when all are di

[2017-07-17 20:58] kalebmmm commented on #1399
Just realized this is intentional. https://github.com/drtshock/Essentials/blob/2.x/Essentials/src/com/earth2me/essentials/signs/SignEntityListener.java#L21

[2017-07-18 00:43] #1143 closed, assigned to nobody

[2017-07-18 01:03] HenrikEngen opened #1400 "Missing messages in messages_en.properies"
EssentialsX version (`/essentials`): 2.0.1-b483

Server software (`/version`): git-spigot-3fb9445-2b6c9f4 (MC: 1.11.2)

EssentialsX config (if applicable):

I have a problem... There are some messages in EssentialsX that is not included in the messages_en.properties ... for example, the message for /tpacancel can't be found in that file so therefore, I cannot modify it...

Are there any solutions

[2017-07-18 08:35] Metisuneatn opened #1401 "Can't unban even as op'd"
Spigot 1.12

I had this before but couldn't find this error in time to fix it. This ONLY happens for this one single person I've been trying to unban.

[code]

[2017-07-18 23:55] LaxWasHere commented on #1400
https://github.com/drtshock/Essentials/blob/2.x/Essentials/src/messages_en.properties#L429-L430
Are these the ones you are looking for?

[2017-07-18 23:57] SupaHam commented on #1400
Or this https://github.com/drtshock/Essentials/blob/2.x/Essentials/src/messages_en.properties#L459

[2017-07-19 00:05] LaxWasHere commented on #1368
Is it only happening on that specific location? Try removing the RandomCoords plugin and see if the problem persist.

[2017-07-19 02:09] #1386 closed, assigned to nobody

[2017-07-19 12:44] HenrikEngen commented on #1400
I found out the problem.

**Problem:**
The messages_en.properties that was posted on the EssentialsX home page in spigot has not been updated with the latest messages and that was the file I downloaded.

**Solution:**
I just downloaded the latest messages file from https://github.com/drtshock/Essentials/blob/2.x/Essentials/src/messages_en.properties

_Closed._

[2017-07-19 12:44] #1400 closed, assigned to nobody

[2017-07-19 14:28] Metisuneatn commented on #1401
Update: Now is happening for 3 players. One who was just recently banned

[2017-07-19 15:22] CheatSupport commented on #1401
@Metisuneatn try /minecraft:pardon (name) and /minecraft:pardon-ip (name)

[2017-07-19 16:20] mdcfe commented on #1401
What other plugins do you have installed?

[2017-07-19 16:56] #1335 closed, assigned to nobody

[2017-07-19 17:06] Metisuneatn commented on #1401
/minecraft:pardon says "Could not unban player" for the player I posted in the error. It works on the other two I tried on.

Theres a large list of plugins but none involve themselves with banning/unbanning.

[2017-07-19 18:05] ghost commented on #1390
@md678685 Good to hear I'm not going crazy and there is an actual issue. Is there anything I can do to help OR have you made any progress? I have people dying from falling beneath platforms they teleport to daily.

[2017-07-19 18:08] partydragen commented on #241
Please? :S This is a feature i have wanted for a long time since i running a network i will like to use same information on other servers

Even on lobby, I using EssentialsXSpawn on my lobby servers it stand welcome messages for each time then join a lobby them never have joined before

And i have heard many other networks hate file storage too since its being much on each minigame/server

Just ne

[2017-07-19 19:21] Someone-NEW opened #1403 "essentialsX chat"
Im noob with using github dont know using everything here so i write my suggestion here.
I dont know is this issue or is just need to be add some more feature into EssentiasChat
I have not bungee thats clear. I will use **Per World Chat** ok right i change **radius: 999999** but this is not the right solution ok this will work in some cases will not under that radius for example.
Tham other proble

[2017-07-19 19:49] partydragen commented on #1398
I very want this option
If them leaved in world bedwars example when will be teleported to bedwars spawn

[2017-07-19 19:53] partydragen opened #1404 "spawn-on-join not working"
Hey this is first time i use EssentialsX but "spawn-on-join: true" not work :/ spawn is set and work to use /spawn

But when i relog im not back to spawn :/

Using latest Build: 499 on a 1.8.8 server
There is no errors in console

[2017-07-19 20:40] DardBrinza commented on #1325
But I can't update to 1.11 or 1.12 :l You have 1.8 support written in plugin, and problem with /fly is unique for 1.8 :(

[2017-07-19 22:12] mdcfe commented on #1390
Since you're using Paper, could you post your `paper.yml` on [Gist](https://gist.github,com) just to see whether there is an issue with your server's configuration? I believe there are teleport-related options in Paper.

[2017-07-19 22:15] mdcfe commented on #1403
Could you separate suggestions into different issues?

Could you also clarify exactly what you're referring to with the "per-world chat" functionality that you want? As far as I can tell this is outside the scope of EssXChat.

[2017-07-19 22:16] mdcfe commented on #1404
Are you opped or do you have full permissions? There is a spawn-on-join bypass permission that you might have accidentally been granted.

[2017-07-19 22:42] partydragen commented on #1404
Ah yea i had bypass xD

[2017-07-19 22:42] #1404 closed, assigned to nobody

[2017-07-20 00:18] Someone-NEW commented on #1403
Inside config for EssentiaslChat are nothing special, so in this case can be add some more feature like other chat plugins have but to avoid have to many plugins is a easy was to implement more feature in this plugin.
For example "Per World Chat" <-- i think this say all. So please make so that we have more configurable things in this section i can do separate CHAT but not at all, players can see

[2017-07-20 00:31] Someone-NEW opened #1405 "First Join"
Here i have another suggestion i hope you can add in section **"First join"** inside confi.yml for example they give a reward or Start kit that is selected

    # Do we want to give users anything on first join? Set to '' to disable
    # This kit will be given regardless of cost, and permissions.
    #kit: ''
    kit: Start

but this is global and player have this on spawn world and this world fo

[2017-07-20 01:17] smmmadden commented on #1403
that may be out of scope for Essentials-Chat, but I can tell you what you're looking for exists in Factions and Residence plugins among others.  You can also private message someone with this plugin /msg name message and only that person sees it.  Not a chat channel as you describe, but does have some support for private messages.  Hope that helps.

[2017-07-20 04:51] mdcfe commented on #1405
This also seems to be outside the scope of EssentialsX - this could most likely be achieved with a plugin such as FirstJoinPlus.

[2017-07-20 10:07] Someone-NEW commented on #1405
but this option is already inside this plugin Why to have too many plugins? Why not to implement something usefull there? to avoid with too many plugins i suggest for something better here i thinking to replace all this plugins idk i hope will be this ess better ;)

[2017-07-20 10:10] Someone-NEW commented on #1403
WTF smmmadden Im here to suggest SOMETHING for essentials go away with factions etc. man i use residence too but WUT?
"Essentials-Chat" <<-- i think this say all.  Out of scope? Noo  whati s than "Essentials-OutOfScope" or whatever this is my suggestion and will be realy nice to implementes it i use all essentials plugins but when i dont find any good solution for all i muss thinking to replace a

[2017-07-20 10:48] TomLewis commented on #241
At least get the trade log into mysql, it's unmanaged size and is definitely better off in a database.

[2017-07-20 15:03] LeoS0 commented on #1368
Hello there, this problem happened before installing RandomCoords.

[2017-07-20 16:14] mdcfe commented on #1405
Essentials already combines the features that would otherwise be provided by lots of separate plugins, and many server owners don't want hundreds more features that they'll never use on their servers. Adding more features, especially when other plugins already have these features, will only make this bloat worse for many people and can cause confusion as it can become harder to distinguish between

[2017-07-20 16:25] mdcfe commented on #1403
Many servers either don't see the need for shared separated chats, or already have a separate plugin to handle this. Essentials is only intended to provide the "essential" features that many or most servers would use, and it seems unlikely that the majority of servers would use this feature.

By adding features that people won't use, this creates bloat in the plugin. In addition, adding these feat

[2017-07-20 16:34] MithrandirCraft commented on #1328
Ok, so now with that feature, no one is teleported if the location is unsafe.
However, this also affects admins. Can it be disabled for such?
Else, could teleports be done even if the location is unsafe?
All the current options seem imperfect.

[2017-07-20 17:47] smmmadden commented on #1403
no need to be rude about it @Someone-NEW - was just suggesting what @md678685 just did in a nice way.  Many server owners rely on multiple plugins because each of them are small, performance driven and has exactly what players want.  Minecraft Plugins were designed to be layered on top of each other and extend the capability of MC at the same time offering tailoring to ones needs more easily.

FWI

[2017-07-20 18:59] ghost opened #1406 "Option to display either username or display name in messages"
Hello,

Can u create in the new essentialsX update that not will been used the displayname for ' "displayname" has teleported to you'.

I use a prefix before the playername and that will be show before the playername in that messages.

For example: '[rookie] aeadnerr has teleported to you'

Can u set that to the playername and not to the displayname?

Best regards
Thibaud

[2017-07-21 00:00] LaxWasHere commented on #1368
My best best is to use the simple and easy debugging method.
Take half the plugins out, if it persist, take half more.
If the problem disappeared, put the plugins you took back and remove the other half.
Do it until you have one plugin left and there you go!

[2017-07-21 00:34] Someone-NEW commented on #1403
Im just suggest to implement something look up in config what is from Chat sooo small thing nothing realy usefull, Only solution is to replace with other plugins than. i have 61 plugins btw in that case i dont want have it more in one server. But i have only one lol.

[2017-07-21 00:38] Someone-NEW commented on #1405
Sorry Essentials have not this what i say and what is needed only solution is to replace with other plugins than. What i say is just suggestion i know that is alot of work but but what will be plugin without any suggestion? hmm ok no one i think will do that, take your time.

[2017-07-21 06:48] LeoS0 commented on #1368
That isn't really the best option here. The tp bug doesn't happen instantly, it happens after a few 1 or 2 days. Imagine removing half of the plugins for 2 days with a playerbase of 40 players...I'm sure you can figure out why that isn't the best idea here..

[2017-07-21 10:49] lol768 commented on #1368
Use the test server which you have set-up (as a competent admin) that mirrors your production environment.

You _do_ have a test server, right?

------

It actually asymptotically is the _best_ option. It identifies the offending problem in O(log n) steps, which is much better than removing plugins 1 by 1 in O(n) time! Here's a proof:

![sphfh](https://user-images.githubusercontent.com/2552726/284

[2017-07-21 16:36] LaxWasHere commented on #1406
All messages can be edited in messages.properties https://github.com/drtshock/Essentials/blob/2.x/Essentials/src/messages.properties

[2017-07-21 16:59] mdcfe commented on #1406
I don't think that it would be particularly easy to implement any way of supporting both simultaneously, since the messages currently substitute whatever string is passed to the tl method. Since in most cases the display name is passed, we'd need to add a condition to every use of translated messages which substitutes in player names, which is quite a lot of places.

[2017-07-22 07:42] Cewkaurai commented on #1194
Got this issue on my 1.12 server too... Attempting to condense diamonds results in the creation and dropping (with a full inventory) of diamond boots when attempting /condense hand or /condense all. doing just /condense results in the "You have no items that can be converted into blocks" error that has been mentioned for a while.

Is there any chance that we could even just get some kind of hotfix

[2017-07-22 19:06] SioWolf commented on #1390
https://pastebin.com/n0Ve6c86

[2017-07-22 23:19] Techno3600 opened #1407 "[Idea] Redo /give Command"
Hello,

I've got a new idea with the current /give command:
With right now I cannot do something like `/give Techno3600 diamond_chestplate 1 prot:100`. You can only do `/give Techno3600 diamond_chestplate 1 prot:5`. Can there be an option where you are able to bypass the max amount a certain enchantment limit?

Thanks
Techno3600

[2017-07-22 23:41] Kakifrucht commented on #1407
In your config.yml, set ``unsafe-enchantments`` to ``true``.

[2017-07-22 23:48] Techno3600 commented on #1407
Thanks
EssentialsX thinks of EVERYTHING!

[2017-07-23 03:44] ghost commented on #1390
Closed, fairly certain this was caused by AAC's fly check.

[2017-07-23 03:44] #1390 closed, assigned to nobody

[2017-07-23 08:48] #1407 closed, assigned to nobody

[2017-07-23 10:50] Castiella opened #1408 "Blocked items list not working."
I have always had enderpearls blocked for the default rank players on my server.
It gives them a notification that tells them they can not use the item.

However, since updating, (to the new dev build) it alerts them - saying they cant use it until the higher rank.... but they still can use the item.

haven't changed the config or anything

[2017-07-23 10:51] Castiella opened #1409 "Changing social spy back to grey (&7)"
On the official essentials build, social spy messages were grey, not white - like this

socialSpy=\u00a76SocialSpy for \u00a7c{0}\u00a76\: \u00a7c{1}
socialSpyFormat=\u00a76[\u00a7c{0}\u00a76 -> \u00a7c{1}\u00a76] \u00a77{2}
socialSpyPrefix=\u00a7f[\u00a76SS\u00a7f] \u00a7r

It's really annoying having to ask my dev to re-do the colours in the jar file every time theres a new build - is there anyw

[2017-07-23 12:07] mdcfe commented on #1408
Do you know what build you were using before you updated?

[2017-07-23 12:09] mdcfe commented on #1409
Copy the relevant `messages_zz.properties` to plugins/Essentials and edit that. Don't edit the messages in the jar.

If you want to change the default colour of socialspy for PMs, this isn't supported yet.

[2017-07-24 14:23] zRiaz opened #1410 "Accessing the enderchest of offline players"
title explains it all pretty much, let admins access others enderchests even though they are not online.

[2017-07-24 20:26] FixTheAdmin opened #1411 "Essentials:msg eating up 46% of tick"
This timings report was gathered after collecting data for 1 hour. During this time roughly 50 player were online. [https://i.imgur.com/foewJE9.png](https://i.imgur.com/foewJE9.png). I can send the full report in PM if you'd like.

EssentialsX version (`/essentials`): 2.0.1-b483

Server software (`/version`): Paper spigot git-paper-1152 (MC:1.12) (API version 1.12-R0.1-snapshot).

[2017-07-24 21:29] mibby commented on #1409
https://github.com/drtshock/Essentials/issues/788

Still waiting on that. ^^ Impossible to use and keep socialspy enabled with 100+ people online since it blends in with normal chat.

[2017-07-24 23:00] gameplayerhd opened #1412 "Glitching balances and infinite money"
EssentialsX version (`/essentials`):  2.01-b488

Server software (`/version`): latest spigot 1.8.8

By paying money less than 1 cent you can glitch the balances out.

Example: /pay name 1.000001

You balance is now glitched and you have infinite money.

Is there a way to limit the decimals?

[2017-07-25 00:45] LaxWasHere commented on #1411
Please provide us with the actual timings link instead of a picture, thanks!

[2017-07-25 01:26] SupaHam commented on #1412
Sorry, I'm unable to reproduce this in build 499. Can you please elaborate on "glitch the balances out"? Decimal points are not a glitch, they're a true representation of your balance.

There's a config option [`minimum-pay-amount`](https://github.com/drtshock/Essentials/blob/2.x/Essentials/src/config.yml#L623) which lets you limit the minimum range required to transfer money.

[2017-07-25 01:30] SupaHam commented on #1410
I don't believe there's an easy way to make this happen currently, the ability to access a player's enderchest is made possible by the owner being online.

[2017-07-25 05:32] mdcfe commented on #1411
Or better yet, an archive link to it so we can refer to it on the future too. A picture doesn't allow us to use the timings tool properly to gather data to investigate the problem.

[2017-07-25 07:18] FixTheAdmin commented on #1411
Alright, here it is: [https://timings.aikar.co/?id=037fbee8d85b454497cb0a366822e713#plugins](https://timings.aikar.co/?id=037fbee8d85b454497cb0a366822e713#plugins)
Not sure how you'd like me to archive it, hope this is enough. Thanks for the help!

[2017-07-25 07:34] teamAngelic opened #1413 "Essentials error [Fixed]"
[03:25:37 WARN]: org.apache.commons.lang.UnhandledException: Plugin Essentials v2.0.1-b370 generated an exception while executing task 796509
        at org.bukkit.craftbukkit.v1_8_R3.scheduler.CraftAsyncTask.run(CraftAsyncTask.java:56)
        at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
        at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPool

[2017-07-25 11:43] mdcfe commented on #1411
* Is there noticeable delay when sending messages?
* What is the console output when `/msg` is run and debug mode is enabled? (`/ess debug`)

[2017-07-25 11:45] mdcfe commented on #1413
Update both EssentialsX and any other modules you have installed from [the CI server](https://ci.drtshock.net/job/EssentialsX/lastSuccessfulBuild).

[2017-07-25 14:47] YepImRobbie opened #1414 "/blocks not working in 1.12"
http://i.imgur.com/7f3yp1v.png

EssentialsX version (`/essentials`):
http://i.imgur.com/zAs8SNm.png
Server software (`/version`):
http://i.imgur.com/NqDJAfv.png

[2017-07-25 15:26] smmmadden commented on #1414
I suggest you get the latest version of Essentials to go with 1.12.  Build 370 is quite old. :-)

[2017-07-25 17:41] mdcfe commented on #1414
Build 370 does not support 1.12. You can update from the [build server](https://ci.drtshock.net/job/EssentialsX/lastSuccessfulBuild).

[2017-07-25 19:22] FixTheAdmin commented on #1411
There is no noticable delay when sending a message. Here is the console output: [https://i.imgur.com/r8g4aRa.png](https://i.imgur.com/r8g4aRa.png)

[2017-07-25 21:36] ChanceSD commented on #1332
Paper version git-Paper-1155 (MC: 1.12) (Implementing API version 1.12-R0.1-SNAPSHOT)
Essentials 2.0.1-b499
Still happens on those versions.

[2017-07-25 21:48] teamAngelic commented on #1413
Done, fixed thank you.

[2017-07-25 23:24] imaBASKET commented on #1340
No, I also tried it on a remote server, and banned myself (not being op or having any permissions)

The console says it banned the IPV6 address, however it doesnt ban the player (and of course the player can reconnect)

[2017-07-25 23:58] #1413 closed, assigned to nobody

[2017-07-26 00:01] mdcfe commented on #1340
Is `/minecraft:banip` able to ban them successfully? I don't see any separation between Bukkit's IPv4 list and IPv6 list.

[2017-07-26 00:57] Poslovitch commented on #1410
This would require to save ender chests in files.

[2017-07-26 15:34] ygtdmn commented on #1039
Bump @drtshock

[2017-07-26 19:30] mdcfe commented on #1039
EssX still doesn't alter the tab list aside from afk, prefixes and suffixes to my knowledge. The provided screenshot doesn't appear to be related to EssentialsX.

[2017-07-26 19:59] ygtdmn commented on #1039
The tab list changed when i update from Classic Essentials to EssentialsX. It gets prefixes from zPermissions.

[2017-07-26 20:48] mdcfe commented on #1039
EssX doesn't have tab list headers or footers. Nor does it currently manipulate the order in the tab list - this has been suggested before and has not yet been implemented, and I think different people will have different opinions on the sorting if it were to be added.

[2017-07-26 20:53] ygtdmn commented on #1039
Yeah tab list and tab footers are from another plugin. But prefixes getting from permission plugin as i said before. Permission plugins usually have group weight option. Essentials can use it and different people can edit weight as they wish too.

[2017-07-27 00:43] dartasen opened #1415 "Mute broadcast can't be translated"
Just a small issue : all messages can be translated in messages_en.properties except the mute broadcast.
When we mute a player, others players see a broadcast message (with the permission "essentials.mute.notify") that can't be translated into this file.
<ADMIN> has muted player <PLAYER> for <TIME>

That's a bit annoying

[2017-07-27 07:19] LaxWasHere commented on #1415
https://github.com/drtshock/Essentials/blob/2.x/Essentials/src/messages.properties#L256-L257

[2017-07-27 09:39] #1415 closed, assigned to nobody

[2017-07-27 10:45] TomLewis commented on #1289
Was this ever patched?

[2017-07-27 10:47] SupaHam commented on #1289
On 1.12 servers, /recipe is disabled in favour of the 1.12 vanilla recipe book.

[2017-07-27 10:49] TomLewis commented on #1289
@SupaHam awesome, sorry to necro this Issue, its just I found a dupe glitch on 1.12 default crafting book today, this thread was brought up in conversation for "other ways to dupe" Just wanted to make sure im patched! https://hub.spigotmc.org/jira/browse/SPIGOT-3466

[2017-07-27 11:16] TNTUP commented on #1289
Not sure if its related to EssentialsX but anyways the bug you've reported or found works on my Paper server (1162!) and Spigot builds in 1.12. The provided plugin in the bug report solves it :)

Wasn't aware of this issue so meaning players could abuse that bug in the past I don't know :/

[2017-07-27 11:39] TomLewis commented on #1289
@TNTUP not related to EssentialsX that bug, thats Vanilla/Spigot/Paper/Bukkit server issue, its reported, Paper has a "kind'a" fix, but its not fully patched yet, that plugin solved it for me that I linked in the Issue tracker.

[2017-07-27 12:18] keehl254 commented on #1289
I found out about that new 1.12 dupe glitch a long time ago. The packet for AutoRecipe, if cancelled, will stop that glitch. Acompany it along with the data held by the packet, such as "c", and c's "a", with the variables "a" and "b" (...Real classy naming here, huh?), you can recreate the vanilla recipe book using workbench inventories, kindof like what /recipe used to do here.

Sorry for posting

[2017-07-27 14:20] Kakifrucht commented on #1289
No need to close the issue, as it isn't actually fixed yet?

[2017-07-27 15:34] zRiaz commented on #1410
Wouldn't it be possible to save the enderchests in the playerdata files for Essentials though?

[2017-07-27 15:48] keehl254 commented on #1289
@Kakifrucht The dupe glitch that I posted this issue about no longer exists because the EssentialsX team took out the recipe command.

[2017-07-27 15:58] Poslovitch commented on #1410
Sure, this is possible. However, this is a huge amount of data there. ItemStacks, ItemMetas, nbts...

[2017-07-27 17:01] dartasen commented on #1415
@SupaHam @LaxWasHere Nop :
muteNotify=\u00a7c{0} \u00a76a r\u00e9duit \u00a7c{1}\u00a76 au silence.
mutedPlayer=\u00a76Le joueur\u00a7c {0} \u00a76est maintenant muet.

[2017-07-27 17:01] Kakifrucht commented on #1289
Well yes, but that was just a quick patch to prevent big damages due to updating. The issue in itself is not fixed yet, as it is waiting for server side functionality to prevent recipe book interaction in a recipe window.

[2017-07-27 17:06] keehl254 commented on #1289
True. Well, then, I guess there are few courses of action, from their viewpoint. Use the removal of /recipe as the permanent fixture, or they could listen to the AutoRecipe packet, and if it's called, and the user's "RecipeSee" boolean is true, then clear the inv and unregister the listener/set RecipeSee to false. There could be other courses of action that I am not thinking of, though.

[2017-07-28 11:26] FixTheAdmin commented on #1411
Any ideas?

[2017-07-28 12:47] AdamTragedy opened #1416 "Listener Warning "Server performance will be affected""
28.07 08:15:46 [Server] WARN "Essentials v2.0.1-b499" has registered a listener for org.bukkit.event.player.PlayerPickupItemEvent on method "public void com.earth2me.essentials.EssentialsPlayerListener.onPlayerPickupItem(org.bukkit.event.player.PlayerPickupItemEvent)", but the event is Deprecated. "Server performance will be affected"; please notify the authors [Zenexer, ementalo, Aelux, Brettflan

[2017-07-28 16:25] SlimeDog commented on #1416
This is due to the latest Spigot 1.12 built (today). Many plugins warned.

[2017-07-28 17:26] AdamTragedy commented on #1416
Yeah I'm aware. Is this going to be fixed within essentials? Or is it something I don't need to worry about?

[2017-07-28 18:16] SupaHam commented on #1416
It will be fixed. It's not something you need to worry about.

[2017-07-28 22:15] Eufranio commented on #1373
@md678685 could you compile a EssentialsX build without the sign stuff?

[2017-07-28 23:34] MrsKliper commented on #1416
I received same error after updating spigot a bit ago. Glad it's nothing to worry about

[2017-07-29 09:01] SupaHam commented on #1416
Forgot to mention this has been fixed in 210494d. You can grab the fix from [build 501](https://ci.drtshock.net/job/EssentialsX/) on the CI server.

[2017-07-29 09:01] #1416 closed, assigned to SupaHam

[2017-07-29 09:04] SupaHam commented on #1414
This was fixed a while ago, see #1298.

[2017-07-29 09:04] #1414 closed, assigned to SupaHam

[2017-07-29 09:22] SupaHam commented on #788
What I have currently:
socialSpyMsgFormat=\u00a7f[\u00a76SS\u00a7f] \u00a76[\u00a7c{0}\u00a76 -> \u00a7c{1}\u00a76] \u00a7r {2}

{0} is sender player name, {1} recipient player name, {2} message.

`socialSpyMsgFormat` would have its own special case just for the messaging commands. So it can be tailored to your specifications. Is this a sufficient solution?

[2017-07-29 09:24] #1412 closed, assigned to SupaHam

[2017-07-29 09:26] SupaHam commented on #1408
Also blocked using what exactly? AntiBuild?

[2017-07-29 10:15] SupaHam commented on #1411
Only things that messaging commands do is:
- Check those permissions in your imgur, which are handled by permission plugins, so they could be the problem.
- Get valid Users from UserMap, presumed to be highly efficient. Except for old server implementations (but you're 1.12)
- Send message off with a few permission checks

I'm probably over simplifying it quite a bit, but that's the gist from what

[2017-07-29 10:45] mdcfe commented on #788
@SupaHam #1226 already seems to implement this.

[2017-07-29 13:58] Sikatsu opened #1417 "[Feature request] Confirm for doing /clear"
Often players make a mistake with /clear causing their inventory to be reset.
Theres a confirm feature for /pay, but why not for /clear?

WARNING: This will clear your inventory, to confirm type /clear again

[2017-07-29 16:35] Portanna commented on #820
Agree

[2017-07-29 18:04] Metisuneatn commented on #1401
Now this is happening to several players on my server. We were able to recreate this with only EssentialsX, vault, and towny on the test server

[2017-07-29 21:19] dartasen opened #1418 "Mute broadcast can't be translated"
I reopen an issue for #1415 :
@SupaHam @LaxWasHere

muteNotify=\u00a7c{0} \u00a76a r\u00e9duit \u00a7c{1}\u00a76 au silence.
mutedPlayer=\u00a76Le joueur\u00a7c {0} \u00a76est maintenant muet.

But broadcast mute message isn't either translated in game.

[2017-07-30 00:57] Antivalent commented on #1410
Shouldn't it be saved in your main world's "playerdata" folder already? But I don't know how accessible those files are. Anyway, if you're considering /ec <player> for offline players, I'd love to see /invsee for offline players as well.

[2017-07-30 01:24] Antivalent opened #1419 "Vanish doesn't remove players from server list ping in Paper 1.12"
Pretty self-explanatory. When players enter vanish mode, EssentialsX would remove their name from the serverlist ping and decrease the player count returned to a query or game client pinging the server. However, this is no longer the case in EssentialsX 2.0.1-b501 (although I have a feeling that this occured when switching to 1.12 rather than by updating EssentialsX) and game clients or queries pi

[2017-07-30 01:35] Antivalent opened #1420 "[Suggestion] Add an option to log chat messages from muted players"
I'd find it quite useful to see what muted players are actually trying to write, instead of just printing the "tried to speak, but is muted" message in console. We can already see their private messages, since those are logged as server commands and it would be nice to see all chat activity.

It would be even more useful if private and public messages from muted players appeared in socialspy, mayb

[2017-07-30 02:00] Antivalent commented on #1418
I think muteNotifyFor might be the message you're looking for (the one where the mute duration is also broadcasted). As far as I'm concerned, it's missing in almost every translation. I had to manually add it to my german translation as well. It goes right in between muteNotify and mutedPlayer, if you want to keep the alphabetical order.

You can add it manually just like I did:
{0} is the player

[2017-07-30 03:01] twieteddy commented on #1420
Great idea. I've been already wondering if it is possible!

[2017-07-30 07:30] Poslovitch commented on #1420
Interesting :)
I'll have a look if I can do that

[2017-07-30 09:33] Poslovitch commented on #1410
Minecraft's player data is saved as .dat file, which are a bit hard to read.

[2017-07-30 10:35] mdcfe commented on #1419
I can't see any changes in Spigot that would cause this - I'm looking into Paper now. If anyone can try and replicate this in Spigot 1.12, it would be greatly appreciated.

EDIT: Seems like Paper added a new method to the Spigot API through a patch, `ServerListPingEvent#setSampleText`, and this breaks our current implementation.

The relevant patches:
* [API patch](https://github.com/PaperMC/Paper

[2017-07-30 11:16] mdcfe commented on #1411
Just to add: according to the timings report, the permissions plugin in use is bPerms 2.12, and the economy plugin is Gringotts (not sure if EssX does anything economy-related if there's no command costs).

Could you paste your config on [Gist](https://gist.github.com/)?

[2017-07-30 11:48] #1189 closed, assigned to nobody

[2017-07-30 11:50] mdcfe commented on #988
By this point I think we've agreed to drop support for versions below 1.11, so I'm closing this issue.

[2017-07-30 11:50] #988 closed, assigned to nobody

[2017-07-30 14:08] #1020 closed, assigned to nobody

[2017-07-30 17:19] Antivalent commented on #1419
Thanks! I honestly didn't expect Paper to be the issue here. I'll try and test it with Spigot 1.12 later today. I edited the title because it might be misleading otherwise.

Edit: The issue does not occur with the latest Spigot 1.12 (git-Spigot-596221b-2c5c611)

[2017-07-30 22:22] Techno3600 opened #1422 "How do I Give Everyone Something?"
Hello,

I was wondering how I could give everyone on my server an item. Like `/give @a wooden_cloud 1` or something like that?

Thanks
Techno3600

[2017-07-30 22:34] Techno3600 opened #1423 "Color of Person's NameTag is not Changing"
EssentialsX version (`/essentials`):
2.0.1-b499
Server software (`/version`):
1.11.2-RO.1-SNAPSHOT
EssentialsX config (if applicable):
https://pastebin.com/wmRwtuDC
PEX Config https://pastebin.com/k4XwGyEc

The problem I am having is I changed my NameTag coloring from Gold to Yellow, but it does not seem to actually change on the server.

Here is the picture of what I see
http://imgur.com/a/ehpV1

[2017-07-30 23:34] Techno3600 commented on #1423
It was fixed

[2017-07-30 23:34] #1423 closed, assigned to nobody

[2017-07-31 00:08] Fiks75 opened #1424 "Error EntityPickupItemEvent"
EssentialsX version (`/essentials`): Essentials v2.0.1-b501

Server software (`/version`): Java 8

EssentialsX config (if applicable):

My server console error:
31.07 01:54:00 [Server] ERROR [Essentials] Plugin Essentials v2.0.1-b501 has failed to register events for class com.earth2me.essentials.EssentialsPlayerListener$PlayerListener1_12 because org/bukkit/event/entity/EntityPickupItemEvent does

[2017-07-31 00:13] mdcfe commented on #1424
Can you run `/version` from in-game or the console and post the output?

[2017-07-31 00:35] Fiks75 commented on #1424
31.07 02:34:04 [Server] INFO This server is running CraftBukkit version git-Spigot-99c2a37-f078eed (MC: 1.12) (Implementing API version 1.12-R0.1-SNAPSHOT)
31.07 02:34:04 [Server] INFO You are 8 version(s) behind

[2017-07-31 01:12] Legoman99573 commented on #1273
Bug occurs when you use LuckPerms. Works fine when I use PEX, so I used PEX again until there is support for LuckPerms.

[2017-07-31 02:52] Antivalent commented on #1422
As far as I can see, /msg does support a `/msg ** <text>` syntax which messages everybody on the server. However, /give doesn't seem to have this implemented currently.

You can still try one of those two options:

1. Insert `give @a paper 1` into a command block, it worked fine for me and targeted every player on the server while still using Essentials-/give
2. Use `/minecraft:give @a paper 1` in

[2017-07-31 02:58] Techno3600 commented on #1422
Maybe /give all should be a new thing implement in the next version?

[2017-07-31 03:03] Antivalent commented on #1422
`/give **` would be a more consistent and useful implementation, since "all" is a valid player name (looking at you, `/msg console`), but there are already ways around it. If you're having trouble with `/minecraft:give`, I can offer you my help.

[2017-07-31 03:31] Techno3600 commented on #1422
But is it possible the developers of this plugin could add this feature?

[2017-07-31 03:53] smmmadden commented on #1422
probably the quiest way is to use the kit options where all playeres or a group

[2017-07-31 08:35] mdcfe commented on #1424
@SupaHam How long has `EntityPickupItemEvent` been part of Spigot?

@Fiks75 As far as I know you'll have to update to the absolute latest version of Spigot.

[2017-07-31 08:58] SupaHam commented on #1424
@md678685 days. PlayerPickupItemEvent will be removed in the future. Update your 1.12 Spigot server to fix issue.

See #1416

[2017-07-31 08:58] #1424 closed, assigned to nobody

[2017-07-31 22:08] Castiella commented on #1408
Fixed issue, it was config related - sorry.

[2017-07-31 22:08] #1408 closed, assigned to nobody

[2017-07-31 22:14] Techno3600 commented on #1422
Okay, but I'm asking how I could pitch this idea to the developers.

[2017-07-31 23:12] BlackBeltPanda commented on #1397
I've disabled the recipe book on my server due to (yet another) dupe bug with it my players discovered. A toggle to enable/disable "/recipe" would be amazing.

[2017-08-01 07:19] CryptoMorin opened #1425 "Armor And Off Hand Slots"
Add Armor Slot + OffHand (Left Hand) Slot to /inventorysee. (You can make it 5 raw. It's currently 4 right? 3 For inventory, 1 top for Hot bar and 1 down for Armor Slot (The last one must show the first 4 slots as Helmet - Chestplate - Leggings - Boots and the last slot must show the offhand item)

[2017-08-01 08:22] mdcfe commented on #1422
It's been labelled `enhancement`, so the feature request has been noted.

[2017-08-01 08:24] mdcfe commented on #1425
Could you post one suggestion per issue so we can keep track of them?

[2017-08-01 09:05] SupaHam commented on #788
@mibby I'm still waiting to hear back, before resolving the issue.

[2017-08-01 09:53] CryptoMorin opened #1426 "Clear Inventory"
Add support for clearing armor slot + Off Hand slot using /clearinventory

[2017-08-01 09:55] CryptoMorin opened #1427 "Command Usage Custom Messages"
It would be hard but can you add custom messages for your command usage in messages.properties? As it's not nice having a fully white message displayed.

[2017-08-01 12:13] PhanaticD opened #1428 "potions not working"
[code]

this gives me a missing texture item

same as /give and /i

EssentialsX version (`/essentials`):
2.0.1 b510 as of https://github.com/drtshock/Essentials/commit/210494d0d15bd23a6c8bef13053aa16e275308ed
Server software (`/version`):
Paper version git-Paper-1167 (MC: 1.12) (Implementing API version 1.12-R0.1-SNAPSHOT)
EssentialsX config (if applicable):

[2017-08-01 13:51] mdcfe commented on #1428
I assume you mean build 501, not 510.

As far as I know, splash potions (still) aren't supported by EssentialsX, though I may be wrong.

[2017-08-01 13:52] PhanaticD commented on #1428
they worked in 1.11

[2017-08-01 15:32] Techno3600 commented on #1422
Awesome!

[2017-08-01 17:53] FrankHeijden opened #1429 "KeepInventory for /suicide"
Im requesting this feature as most players hate it to lose their items when they do /suicide. I think this feature would really make the command better. Was thinking of a boolean config option, to toggle the usage.

EssentialsX version (`/essentials`):
reloaded 2.0.1-b499

Server software (`/version`):
CraftBukkit version git-Spigot-596221b-2c5c611 (MC: 1.12) (Implementing API version 1.12-R0.1-SN

[2017-08-02 09:36] SupaHam commented on #1428
What about POTION:16421?

[2017-08-02 09:39] PhanaticD commented on #1428
eyy that works

[2017-08-02 09:42] PhanaticD commented on #1428
found out this doesnt though:

SHIELD 1 basecolor:1644825

in 1.11 was a black shield

[2017-08-02 11:23] NicoNekoDev commented on #1215
Should I close this suggestion? Cuz nobody replay to it.

[2017-08-02 20:26] andris155 opened #1431 "/condense not work Melon slice -> Melon block"
EssentialsX version (`/essentials`): Essentials version 2.0.1-b501

Server software (`/version`): This server is running Paper version git-Paper-1167 (MC: 1.12) (Implementing API version 1.12-R0.1-SNAPSHOT)

EssentialsX config (if applicable):

[2017-08-02 20:30] FrankHeijden opened #1432 "Vanish bug"
People who're joining (player1) after you joined (player2) will see the you (player2) in vanish, despite he's not. Tested as OP with negotiated permission `essentials.silentjoin.vanish` and config section regarding this below.

EssentialsX version (`/essentials`):
b501

Server software (`/version`):
CraftBukkit version git-Spigot-596221b-2c5c611 (MC: 1.12) (Implementing API version 1.12-R0.1-SNAPS

[2017-08-03 09:22] arturek1666 commented on #1432
I have a bit different issue in my case every admin when join server is automatically vanished. And I have to use command /vanish 2 times to be not vanished xD

[2017-08-03 10:20] mdcfe commented on #1432
Same as @arturek1666 - on my server we have an alias, `/vfix`, that runs `/vanish` twice to ensure that staff are visible or invisible as needed.

[2017-08-03 14:00] ghost opened #1433 "PlayerInteractEvent"
Bug http://paste.yu8.me/?529458af19f19be0#R5HrxQ8hNE6EdOLtsz3Y3bCwj11td7ycYHaGDEbpnrA=

Essentials v2.0.1-b501
spigot-1.12.1

[2017-08-03 14:32] FrankHeijden commented on #1433
Can confirm

[2017-08-03 15:14] mdcfe commented on #1433
@FrankHeijden What version of Essentials (`/ess`) and Spigot (`/version`) are you running?

@TheChampTF
* What version of PerWorldPlugins are you running, and from where did you get it? (There seems to be a few different maintained versions.)
* What caused this specific error?

[2017-08-03 15:17] FrankHeijden commented on #1432
Yes i have the same issue, i need to enable vanish, and disable to actually be not vanished on join

[2017-08-03 15:18] FrankHeijden commented on #1433
Essentials v2.0.1-b501
CraftBukkit version git-Spigot-edd0396-2a927e8 (MC: 1.12.1) (Implementing API version 1.12.1-R0.1-SNAPSHOT)

[2017-08-03 15:20] FrankHeijden commented on #1433
This error just randomly occured at my console. and it spams like a lot. https://pastebin.com/BAX5xPgX

I see its a different error, but the same nullpointer

[2017-08-03 15:26] mdcfe commented on #1425
Armor slots are already supported by doing `/invsee <player> equip`, although you can't move items to/from them.

EssX just directly shows the remote players inventory when using the command without `equip` at the end, so I'm not sure if there's an easy way to alter the inventory and still be able to move items in the target inventory.

[2017-08-03 15:42] Sikatsu commented on #1433
Same issue on just spigot 1.12.1 with essentials, latest version since I just pulled it from the devbuilds.

[2017-08-03 15:47] MatheweB opened #1434 "Player Interact Event ERROR (1.12.1) Likely a Repost of the issue Below"
LOG:
https://hastebin.com/ciwunebici.vbs

EssentialsX version (v2.0.1-b501)

Server software (Spigot 1.12.1)

EssentialsX config (N/A)

[2017-08-03 17:34] filnari commented on #1433
I'm seeing this same error a couple times a minute.

Essentials reloaded 2.0.1-b501.
CraftBukkit version git-Spigot-edd0396-2a927e8 (MC: 1.12.1) (Implementing API version 1.12.1-R0.1-SNAPSHOT)

[2017-08-03 18:40] mdcfe commented on #1433
This was caused by a removal of a deprecated method in Spigot 1.12.1:
* [Spigot/Bukkit commit](https://hub.spigotmc.org/stash/projects/SPIGOT/repos/bukkit/commits/0aeac440c05a3ae3b69095e109372b7400f0feae#src/main/java/org/bukkit/entity/LivingEntity.java)

[2017-08-03 18:43] ghost commented on #1426
You can already clear armor slots with /clear ** but the offhand slot should be included.

[2017-08-03 18:43] mdcfe commented on #1434
Duplicate of #1433.

[2017-08-03 18:43] #1434 closed, assigned to nobody

[2017-08-03 20:04] mibby commented on #788
@SupaHam Would the sender and recipient player names be sent raw or based on their vault prefix / displayname? As I'd personally like to colorize the entire message string dark grey. It would look a bit silly if the entire thing was dark grey but the names themselves.

Prior socialspy behavior sent the entire message in a raw broadcast so it wasn't as obtrusive with blending in with normal chat.

[2017-08-03 20:48] mibby commented on #1433
Can confirm as well, happening on spigot 1.12.1.

Essentials dev 501
Paper dev 1170 (Spigot 1.12.1)

Pasting error on github so there is a copy here.
[code]

[2017-08-03 20:51] andris155 commented on #1433
Same problem
This server is running Paper version git-Paper-1170 (MC: 1.12.1) (Implementing API version 1.12.1-R0.1-SNAPSHOT)

[2017-08-03 21:05] mdcfe commented on #1433
I've submitted a PR (#1435) that *should* fix this. Could someone test the [test build](https://github.com/drtshock/Essentials/pull/1435#issuecomment-320089716) and confirm whether the issue is still there or is gone?

[2017-08-03 21:27] FrankHeijden commented on #1433
Worked for me!

[2017-08-03 22:07] Sikatsu commented on #1433
Wouldn't it say EssentialsSpawn and EssentialsGEOIP are outdated if I only update the main plugin? @md678685

[2017-08-03 22:08] FrankHeijden commented on #1433
It did just startup normal for me

[2017-08-03 22:08] mdcfe commented on #1433
@Sikatsu Potentially, but since the test build doesn't change anything related to any of the other EssX modules, you can safely ignore it. You can also revert to the release build once the PR is merged.

[2017-08-03 22:33] #1433 closed, assigned to nobody

[2017-08-03 22:36] mdcfe commented on #1417
I feel like if we keep adding confirmation prompts, we might as well make them generic and configurable - for example having a list in the config that contains all the EssentialsX commands that will require confirmation.

[2017-08-03 22:43] Sikatsu commented on #1417
That would be a nice idea too. I think however a confirmation for /ci is quite important to have.

[2017-08-03 22:55] mdcfe commented on #1373
Can you update to the [latest build of EssX](https://ci.drtshock.net/job/EssentialsX) and paste the *full* log output on Gist?

[2017-08-03 22:56] mdcfe commented on #1418
@dartasen Is the issue fixed?

[2017-08-03 23:00] mdcfe commented on #1401
In your `banned-players.json` file, do the entries for the players you can't unban look significantly different to the entries for the players you *can* unban?

[2017-08-03 23:26] Eufranio commented on #1373
Will do. What exact commit am I testing that?

[2017-08-03 23:42] Metisuneatn commented on #1401
Nope nothing stands out as different for these players

[2017-08-03 23:47] Antivalent commented on #1431
I think this is on purpose. /condense will only process items that can be converted back into their original state later without any losses. A diamond block can be turned back into nine diamonds with 100% reliability, but a melon won't always yield you nine lemon slices, so you're potentially losing items. This might also be the reason why it doesn't work on quartz (and some other blocks previousl

[2017-08-03 23:53] Antivalent commented on #1427
You can actually edit the descriptions found in the plugin.yml, here's an example:
[code]
This will make the help message appear colored ingame, with §6 representing gold and §c representing light red.

[2017-08-04 01:33] YepImRobbie opened #1437 "Cannot negate essentials.build.pickup.anything after essentials.build.pickup.*"
Is it possible to do essentials.build.pickup.* and then add essentials.build.pickup.435 and it work? Because it isn't for me with any ID. I'm using PowerfulPerms.

[2017-08-04 02:31] dartasen commented on #1418
Yes thanks to @Antivalent.

[2017-08-04 06:42] pop4959 opened #1438 "1.12.1 breaks /break"
EssentialsX version (`/essentials`): 2.0.1-b510

Server software (`/version`): git-Spigot-edd0396-2a927e8 (MC: 1.12.1)

The command '/break' does not work. Error: "java.lang.NoSuchMethorError: org.bukkit.Entity.Player.getTargetBlock".

[2017-08-04 08:20] mdcfe commented on #1373
The changes for "fix silent error when creating signs" - there might have been related changes but what's important is the entire startup log.

[2017-08-04 08:24] mdcfe commented on #1437
Have you tried using the item name instead? I haven't checked but that might work.

[2017-08-04 08:24] #1418 closed, assigned to nobody

[2017-08-04 11:00] #1419 closed, assigned to mdcfe

[2017-08-04 11:11] #1438 closed, assigned to mdcfe

[2017-08-04 11:57] Poslovitch commented on #1377
@md678685 @SupaHam Can you assign this suggestion to me?
I'll push a PR during the week-end, 'cause I need this feature too :)

[2017-08-04 12:00] Poslovitch commented on #1380
I'll do it for the fr locale.

[2017-08-04 18:26] Ac3dUd3 opened #1439 "Console Errors For Banners"
Contact drtshock of essentialsx and show him this:
at com.earth2me.essentials.MetaItemStack.addBannerMeta(MetaItemStack.java:494)
18:25:44 [WARN] at com.earth2me.essentials.MetaItemStack.addStringMeta(MetaItemStack.java:222)
18:25:44 [WARN] at com.earth2me.essentials.MetaItemStack.parseStringMeta(MetaItemStack.java:134)

Unfortunately this is a problem with essentials and not kitpreview :/ looks l

[2017-08-05 08:59] mdcfe commented on #1439
Please paste the entire error as a Gist ~~of coffee~~ or code block - this doesn't tell us enough about what happened.

[2017-08-05 09:10] Ac3dUd3 commented on #1439
[code]

[2017-08-05 09:11] Ac3dUd3 commented on #1439
https://hastebin.com/peyojoxake.vbs

[2017-08-05 10:57] lululombard opened #1442 "InternalServerListPing event throwing a null exception"
EssentialsX version (`/essentials`): 2.0.1-b514

Server software (`/version`): Paper 1172 (1.12.1)

Since I updated both Paper and EssentialsX to support 1.12.1, I got this stacktrace spammed in my console on every server I own :
[code]

Everything seems to work though, but my log size is growing very fast.

[2017-08-05 11:28] CryptoMorin commented on #1425
Well honestly it doesn't show off hand plus i think it would be better if you make it with 5 raw... like i explained in my first post. It would be even easier to access everything in 1 inventory.
Isn't it better?

[2017-08-05 11:43] CryptoMorin commented on #1427
Thank you!
Working just fine.

[2017-08-05 13:09] mdcfe commented on #1442
Could you try removing ProtocolSupport then try removing MassiveLag to see whether one of them is causing the issue?

This is a conflict between ~~either ProtocolSupport or MassiveLag~~ plugins that fire custom `ServerListPingEvent`s with how EssentialsX handles Paper's altered `ServerListPingEvent` class - this small change in Paper means EssentialsX will have to work around it for plugins that d

[2017-08-05 13:20] mdcfe commented on #1425
No, because we're not creating a clone of the player's inventory, we're showing the actual 4 row inventory. We can't increase the rows of the player's real inventory and as far as I can tell we'd need to rework how inventory viewing for this to happen (listening to inventory events, adding/deleting ItemStacks) which could cause further reliability issues down the road.

This isn't to say that the

[2017-08-05 13:43] Zoiter7 opened #1443 "[Suggestion] Add Teleport-invulnerability permissions"
Hello, I have suggestion, Add Teleport-invulnerability permissions, or do it per world, because I want to avoid the tpakills but if I use this option the user teleport to /warp pvp for example and have the invulnerability.
Or add tpa invulnerability.

Regards,

[2017-08-05 14:50] CryptoMorin commented on #1425
I understand what you're talking about.
It's okay, Thanks for the help!

[2017-08-05 18:17] ghost opened #1445 "[Request] Disable god mode for people without the permission on login."
#299 for god mode.

[2017-08-05 19:46] DisTrugator commented on #1442
Same problem at me.

[2017-08-05 19:46] pop4959 opened #1446 "Command /gc somewhat broken"
The command '/gc' displays "Error: null" instead of some of the information that should be displayed.

EssentialsX version (`/essentials`):  Newest, as of this post

Server software (`/version`): Newest, as of this post

[2017-08-05 19:51] mdcfe commented on #1443
As in, make the player invulnerable for a short delay when they teleport to someone?

[2017-08-05 19:55] mdcfe commented on #1446
Please post the actual output of the version commands as shown, as these versions can and do change rapidly.

Are there any errors in the console? If so, could you paste them on [Gist](https://gist.github.com) and link them here?

[2017-08-05 20:38] pop4959 commented on #1446
I have the version and output below. No errors are outputted, the command just does not output correctly.

![gc bug](http://i.imgur.com/f906vfC.png)

[2017-08-05 21:15] smmmadden commented on #1397
I've got the same question.  With mojang fixing the bug in 1.12.1, it seems EssentialsX is still disabled in build 514.
![image](https://user-images.githubusercontent.com/10309346/28998784-9ace210c-7a01-11e7-9a58-01bb105b7020.png)
![image](https://user-images.githubusercontent.com/10309346/28998787-a002b066-7a01-11e7-8872-103f79ce4a5b.png)

[2017-08-05 21:46] mdcfe commented on #1397
The deobfuscated NMS version didn't change as far as I can tell, so the detection behaviour won't change.

[2017-08-06 08:24] Poslovitch commented on #1445
I can do that

[2017-08-06 11:28] lululombard commented on #1442
Both MassiveLag and ProtocolSupport causes the issue. I had to remove both to get rid of the errors.
Also, removing Essentials fixes the issue. I'll patch it to get rid of this error as I don't need vanish.

[2017-08-06 11:34] CryptoMorin commented on #1425
I recently found this plugin.
https://dev.bukkit.org/projects/openinv
I really enjoyed it and it's working with the latest 1.12.1 Spigot.
I would like to see this in EssentialsX.
Btw... the offhand slot acts somehow weird idk if it's really coded to be like that...
Thought it would be good to show you this plugin. Idk maybe you can somehow work with it?...
If you could somehow merge this plugin or

[2017-08-06 15:33] niki2416 opened #1447 "Minecraft issuse with EssentialsX essentials.gamemode"
Hello...I have a problem with EssentialsX
I gave a permission essentials.gamemode,essentials.gamemode.others,essentials.gamemode.creative......
But they still don't have permissions....
If someone can help,please tell me!
                                                                                                                    Thank You!

[2017-08-06 15:45] SupaHam commented on #1447
Chances are, they don't have the permission. Check your permissions plugin. If it is GroupManager, we don't support it.

[2017-08-06 15:47] niki2416 commented on #1447
Ok,i will check and reload plugin

[2017-08-06 15:56] niki2416 commented on #1447
OMG....The problem was a Chat Control plugin -_- now all is OK.....Thanks for support :)

[2017-08-06 15:56] #1447 closed, assigned to nobody

[2017-08-06 20:59] mdcfe commented on #1442
@lululombard Just out of interest, could you post the errors when only MassiveLag is installed alongside EssentialsX? It looks like only ProtocolSupport is causing the error you posted. (I edited the previous comment accordingly.)

[2017-08-07 04:28] Kiruzx opened #1449 "Unbreakable option for kit"
Can you update unbreakable option to kit i need it :(

[2017-08-07 07:33] CryptoMorin commented on #1425
Bump!

[2017-08-07 07:35] CryptoMorin opened #1450 "Question: Repair Signs"
Hello since i'm using a kitpvp plugin and i want to allow my users to repair their armor in the arena for free but not all of them as some items have special one-time-use ability.

Is there something like this possible:
    - essentials.signs.use.repair
    - -essentials.signs.use.repair.GOLD_SWORD

Or is not added? or it must be item ID?

[2017-08-07 08:13] stapleshotz opened #1451 "Prevent teleporting to bedhome if the bed was destroyed and then replaced."
EssentialsX version (`/essentials`): 2.0.1-b488

Server software (`/version`): Spigot 1.12.1-R0.1-SNAPSHOT

I'm setting up a role-play server and I'm using bed homes. It's working great except for one thing. When a player's bed is destroyed, they're unable to teleport there. That's what I want. **BUT** when the bed is then replaced, the player is able to teleport there again as if the bed was neve

[2017-08-07 08:25] stapleshotz opened #1452 "Do nothing if "/home" is used when no home is set."
EssentialsX version (`/essentials`): 2.0.1-b488

Server software (`/version`): 1.12.1-R0.1-SNAPSHOT

Currently, if a player uses "/home" and they have no home set or their bed home was destroyed etc. they are teleported to the spawn. That's great, but if you have a setup where players use beds as their homes exclusively, if those beds are destroyed the player has no way of knowing and is teleporte

[2017-08-07 09:31] Sitmobedaf opened #1453 "Malfunctioning UUID mechanism."
Hello, DRTShock.
I'm writing on an old Essentials problem.

When I use /seen <nick with Russian characters> or /unban <nickname with Russian characters> or any other command Essentials and <nickname with Russian characters>
We do not get the result that we would like. Esentials can not work correctly with Russian-speaking nicknames. It seems that it is not fully translated into the UUID. And it wo

[2017-08-07 12:15] SupaHam commented on #1450
This is not possible right now. We may add this in the future.

[2017-08-07 13:05] #377 closed, assigned to nobody

[2017-08-07 13:06] SupaHam commented on #377
This has been fixed in 203d656. You can grab the fix from [build 516](https://ci.drtshock.net/job/EssentialsX/) on the CI server.

[2017-08-07 13:11] SupaHam commented on #1365
Duplicate of #377

This has been fixed in 203d656. You can grab the fix from [build 516](https://ci.drtshock.net/job/EssentialsX/) on the CI server.

[2017-08-07 13:11] #1365 closed, assigned to nobody

[2017-08-07 13:11] SupaHam commented on #1449
Duplicate of #377

This has been fixed in 203d656. You can grab the fix from [build 516](https://ci.drtshock.net/job/EssentialsX/) on the CI server.

[2017-08-07 13:11] #1449 closed, assigned to nobody

[2017-08-07 13:23] mdcfe commented on #1425
Please don't bump issues, especially ones that are less than a week old. This will be done whenever it's done, and not before.

[2017-08-07 13:28] mdcfe commented on #1451
We'd need to check every block break to:
* Determine whether the block is a bed
* Determine whether the block is a home

I'm not sure whether the performance hit is worth it, although I suppose this could be made configurable.

[2017-08-07 14:26] mdcfe commented on #1452
This was removed from the upstream Essentials a long time ago:
* Added in dd164d2e38a0e18051de0ce34075774c9347cd4e
  - Seems to have been refactored a lot in the 8 months it existed
* Functionality removed in 4c2b9b8d0fd35cd27ef4cbdd0a8e4200d02926b0
* Config option removed from ISettings in 256ce9e9e6b3b256b5750d1abeb274881f4ad58a
* Config option fully removed in edbac5560d52c1b6bd635f49a4ed7defc4

[2017-08-07 14:35] mdcfe commented on #1453
Offline mode servers are not supported. (Also, nicknames have nothing to do with UUIDs.)

[2017-08-07 14:41] #1453 closed, assigned to nobody

[2017-08-07 17:15] OozeIam commented on #1446
I have the same problem.

[2017-08-07 17:50] Sitmobedaf commented on #1453
I've known this problem since 1.6.4
When Essentials was not on UUID Russian words were replaced by "_"
Now Russian-language nicknames are normally displayed in playerradata-files. But there are problems when using commands. Do not rush to close my ticket, I waited 3 years.

[2017-08-07 22:27] soliddanii opened #1454 "[closed]"
closed

[2017-08-08 13:07] mdcfe commented on #1454
Based on drtshock's response to #807, I still don't think we're going to manually hook into a third-party vanish plugin to add support for it, especially not a paid one. There's already hooks so that plugins can set whether or not the player is hidden through the API (`User#setHidden`).

[2017-08-08 18:13] Metisuneatn commented on #1401
I'm now at 14 people I cannot unban. Tempbans and perm bans

[2017-08-08 19:30] mdcfe commented on #1401
Have you updated Spigot since this started happening?

[2017-08-08 19:38] Metisuneatn commented on #1401
Yep, going to do 1.12.1 soon as well

[2017-08-09 02:28] NachtRaben opened #1455 "NPE in onServerListPing()"
EssentialsX version (`/essentials`): 2.0.1-b516

Server software (`/version`): git-Paper-1178 (MC: 1.12.1) (API: 1.12.1-R0.1-SNAPSHOT)

EssentialsX config (if applicable): Vanilla, not modified.

Paper.yml config: Vanilla, not modified.

Getting massive amounts of Null Pointers in my console. Happens on a fresh server with no name/player modifying plugins.

Happens with every ping:
https://gist.gi

[2017-08-09 07:05] mdcfe commented on #1455
Duplicate of #1442.

[2017-08-09 07:05] #1455 closed, assigned to nobody

[2017-08-09 07:28] pop4959 commented on #1446
It works occasionally, but rarely. I've noticed that with other plugins recently there are a lot of errors regarding banner entities. Since the missing stat is counting entities in the world, etc, perhaps that is the problem? @md678685

[2017-08-09 08:13] gdude2002 commented on #1442
For any interested parties, https://github.com/ProtocolSupport/ProtocolSupport/issues/606 has been closed. ProtocolSupport's involvement in this ticket should be fixed.

[2017-08-09 09:43] mdcfe commented on #1442
@lululombard Update ProtocolSupport. If the error persists, please post a new stack trace, otherwise this issue can be closed once the NPE catch in EssentialsX is done.

[2017-08-09 09:44] soliddanii commented on #1454
PhantonAdmin has been open source for 8 months now.
https://github.com/BigScary/PhantomAdmin
Is there any docs for that API?

[2017-08-09 09:53] mdcfe commented on #1454
[code]

[2017-08-09 14:08] NewBestX opened #1456 "Fire arrows in god/vanish"
If a player with god or vanish enabled shoots a player with a bow enchanted with FLAME, the player shot will not take the damage from the arrow itself, but the fire effect will still apply and could kill him. The first player does not have the permission to pvp from god/vanish.
This issue is a duplicate of an issue submited by me almost 1 year ago: https://github.com/drtshock/Essentials/issues/871

[2017-08-09 14:59] soliddanii commented on #1454
I tryied using reflection so I dont have to add the dependency, but it doesn't work, the message still shows      😞

public static void setHidden(Player player, boolean value)
    {
        try
        {

            Plugin essentials = Bukkit.getPluginManager().getPlugin("Essentials");
            Method getUser = essentials.getClass().getMethod("getUser", String.class);
            Object essent

[2017-08-09 17:10] mdcfe commented on #1454
This isn't a Java support thread.

You can use [this Maven repo](https://ci.drtshock.net/plugin/repository/) for an always up-to-date version of EssentialsX to build against, and EssentialsX should be included in your build config as a `provided` dependency.

[2017-08-09 17:10] #1454 closed, assigned to nobody

[2017-08-09 17:27] lululombard commented on #1442
@md678685 perfect, I still had some errors with MassiveLag, but a patch has been released for it, and now everything is fine with the latest version of Paper, EssentialsX, MassiveLag, and ProtocolSupport.

Thanks a lot !

[2017-08-09 21:50] SupaHam commented on #1213
Is this still a problem?

[2017-08-09 21:50] SupaHam commented on #1170
Not enough information.

[2017-08-09 21:50] #1170 closed, assigned to nobody

[2017-08-09 22:11] #125 closed, assigned to nobody

[2017-08-10 01:21] kmecpp opened #1457 "View and modify the inventories of offline players"
Could there be commands to view and modify offline players' inventories and enderchests?

Alternatively the /invsee and /echest commands could be expanded to work with offline players.

EDIT: Just realized this is the third issue asking for this. Sorry. Maybe instead of using NMS though, Essentials could just read directly from the player's NBT data file? That doesn't seem likely to change any tim

[2017-08-10 01:39] voodootje0 commented on #1457
This would be really helpful.

[2017-08-10 10:31] Sitmobedaf commented on #1453
And yes, there are still problems with the economy when using Russian-language nicknames. Players lose their money, or on the contrary get someone else's balance.
Are you not interested in this problem? Essentials is working for UUID and it seems that it should perfectly cope with Russian symbols in UTF-8?

[2017-08-10 16:28] EnderDragonEP opened #1458 "How to stop Essentials take over Important command function?"
How can I use the Minecraft's original commands?
for example: ```/give```, ```/kill```, ```/tp``` commands.
Because Essentials take over it, but I want to use some command like  ```/kill @e[type=!Player] ``` and  ```/give @p mob_spawner 1 0 {BlockEntityTag:{SpawnData:{id:villager_golem},SpawnPotentials:[]}} ```
but those command did not work when Essentials it enabled......
Is there any way to sto

[2017-08-10 17:07] jyhsu2000 commented on #1458
How about add `minecraft:` prefix when using?
`/minecraft:kill @e[type=!Player]`, `/minecraft:give @p ... `, ...

[2017-08-10 18:41] smmmadden commented on #1458
or don't use essentials, but you lose more by doing so. :-)

[2017-08-11 08:44] EnderDragonEP commented on #1458
@jyhsu2000  YES! It did work! thank you a lot!!!
But unfortunately... Essentials plugin lock the give spawner command as a Pig_spawner......
the only way to fix this It to remove Essentials plugin, I think......

[2017-08-11 08:47] jyhsu2000 commented on #1458
After place the spawner,
use `/spawner` command from Essentials to modify the types of mobs of the spawner you're looking at.

[2017-08-11 09:06] EnderDragonEP commented on #1458
That's right...
But I need to put these things into chest, for players to use

[2017-08-11 09:10] mdcfe commented on #1453
If you can replicate this on an online mode server then I'll reopen the issue, otherwise I can't help.

[2017-08-11 09:12] EnderDragonEP commented on #1458
I try to create another world and put those Spawners into a chest and load to server, but It still all become Pig Spawner

[2017-08-11 09:14] mdcfe commented on #1457
There is still a possibility of the player logging in while you're viewing their ender chest/inventory, so the approach of manually reading player data wouldn't be ideal for modifying inventories. In addition, we can't be sure exactly when the server is finished writing to the file, so there's a chance we could read out-of-date or corrupted data.

[2017-08-11 09:19] mdcfe commented on #1458
Use Bukkit's `commands.yml` to override the commands with their `minecraft:` version.

If you are having an issue with spawners, please create a separate issue.

[2017-08-11 11:48] kmecpp commented on #1457
The data read only needs to happen once and the write only needs to happen once or potentially not at all if the user doesn't make any changes. So there should only be one read and maybe one write. The chances of a problem occurring are extremely slim in the first place and there are also many ways to avoid them.

For example, If the player logins while someone is editing their inventory, just rep

[2017-08-11 13:43] mdcfe commented on #1457
It's not about how big or small the chances of a problem are, it's that the added overhead of dealing with all of these problems isn't worth the effort for the number of people who will use this. Honestly I'd much rather we used NMS via reflection than read and potentially modify player data without the server being aware. In addition, using a provider means that in theory we could support alterna

[2017-08-11 14:18] EnderDragonEP commented on #1458
@jyhsu2000 Yes! It did work!! thank you a lot!!!
but mob spawner still can not use.... Essentials locked it as a Pig spawner......

[2017-08-11 14:18] #1458 closed, assigned to nobody

[2017-08-11 17:40] NachtRaben commented on #1442
I'm still receiving this error on the latest builds.

[13:37:11 INFO]: This server is running Paper version git-Paper-1183 (MC: 1.12.1) (Implementing API version 1.12.1-R0.1-SNAPSHOT)
[13:37:45 INFO]: [Essentials] Using Paper 1.12+ ServerListPingEvent methods
[13:37:45 INFO]: Essentials reloaded 2.0.1-b516.
ProtocolSupport is b133 off their jenkins.

https://gist.github.com/NachtRaben/1327ec37e805

[2017-08-11 19:17] kmecpp commented on #1457
It doesn't really matter to me how it's implemented. I just think this _would_ (#473 #98) be very useful to a lot of people and I do believe it can be done with zero or negligible overhead in existing code.

[2017-08-11 19:21] CDAGaming opened #1459 "http://ci.drtshock.net/job/essentialsx/ Reporting "Bad Gateway""
Build Site isn't working, and reporting "Bad gateway"

[2017-08-11 20:38] FunnyCraft commented on #1459
+

[2017-08-11 20:53] SupaHam commented on #1459
It's back up. Sorry for the inconvenience.

[2017-08-11 20:53] #1459 closed, assigned to nobody

[2017-08-11 21:07] CDAGaming commented on #1459
Thank You :)
Can confirm its up now

[2017-08-12 01:53] CDAGaming opened #1464 "[Feature Request] Multiple Msgformat's for To & From"
It would be a good idea to have 2 msgformat values, one for Sending and One for Receiving

Example

msgformat_to: \u00a76[\u00a7c To {0}\u00a76 -> \u00a7c{1}\u00a76] \u00a7r{2}
msgformat_from: \u00a76[\u00a7c From {0}\u00a76 -> \u00a7c{1}\u00a76] \u00a7r{2}

*I'm aware these formats would look very incorrect, i am just making an example*

edit: This was already suggested by Kixox in Late 2016

[2017-08-12 03:07] stapleshotz opened #1465 "Error when players right click while holding *anything*."
EssentialsX version (/essentials): 2.0.1-b488

Server software (/version): Spigot 1.12.1-R0.1-SNAPSHOT

When players are holding a bow in their main hand and they right click, console gives this error:
https://pastebin.com/qNk9EU6N

The same error appears regardless of gamemode or whether or not they have arrows to shoot.
The error does **NOT** appear if the bow is in the off hand.
The error does

[2017-08-12 03:27] stapleshotz commented on #1465
Actually, it turns out it doesn't have to be just a bow. The error happens when they are holding **ANY** item.
The error does **NOT** appear if the player is holding nothing in their hand.

[2017-08-12 03:43] CDAGaming opened #1466 "/vanish Armor seen"
While in /vanish, players can still see your armor

EssentialsX version (`/essentials`):
2.0.1 (Source)
Server software (`/version`):
PaperSpigot 1.12.1
EssentialsX config (if applicable):

[2017-08-12 05:43] FatmanC opened #1467 "Cant Break BLocks"
EssentialsX version (`/essentials`):

Server software (`/version`):

EssentialsX config (if applicable):

EssentialsX 2.0.1-b488
running MC:1.12
newb question, i have looked through all the config files, and dont know what i am doing wrong. PLayers joining my server cannot break or place blocks without first creating a claim. Then, and only then they can, and they can only mine within their claime

[2017-08-12 08:24] mdcfe commented on #1465
This was fixed in 7fbc721db6a405c3fd4185190d9d86c0e3dfe1c4 - make sure you've updated EssentialsX from the [build server](https://ci.drtshock.net/job/EssentialsX).

[2017-08-12 08:26] mdcfe commented on #1466
Could you run `/version` and `/essentials` from in-game?

[2017-08-12 09:14] mdcfe commented on #1467
EssentialsX doesn't have a claiming system in place. Check your plugins list (you could post it here if you want) for a plugin that handles land claims.

[2017-08-12 09:17] mdcfe commented on #1442
I've submitted #1463 with a proposed fix for the issue. I'll try to upload a test build later so people can check whether the issue is fixed for them.

[2017-08-12 09:40] FatmanC commented on #1467
it is fixed. It was grief prevention plug in. Sorry for confusion

[2017-08-12 09:44] #1467 closed, assigned to nobody

[2017-08-12 09:45] FatmanC opened #1468 "/spawn command"
EssentialsX version (`/essentials`):

Server software (`/version`):

EssentialsX config (if applicable):
how do i enable a /spawn command to work for all players? that when entered, send people back to the world spawn point i set?

[2017-08-12 12:04] mdcfe commented on #1437
Correction: I don't know about IDs/names, but you should make sure you put the `essentials.build.pickup.435` *before* the wildcard negation, as that's how permissions plugins tend to read perms.

[2017-08-12 12:07] mdcfe commented on #1468
Using the EssentialsXSpawn module, you can set a spawnpoint with `/setspawn`. Players can then use `/spawn` to teleport to it. In addition, you can use the `spawn-on-join` option in the config to set a spawn - see the [wiki](https://github.com/drtshock/Essentials/wiki#teleport-to-spawn-when-joining) for more info.

You can download EssentialsXSpawn from the [build server](https://ci.drtshock.net/j

[2017-08-12 12:11] CDAGaming commented on #1466
[12:10:31 INFO]: This server is running Paper version git-Paper-1183 (MC: 1.12.1) (Implementing API version 1.12.1-R0.1-SNAPSHOT)
[12:10:31 INFO]: Checking version, please wait...
[12:10:33 INFO]: You are 3 version(s) behind

[12:10:53 INFO]: CONSOLE issued server command: /essentials
[12:10:53 INFO]: /<command> <reload/debug>

[12:11:02 INFO]: CONSOLE issued server command: /essentials debug
[12:

[2017-08-12 12:15] LogGits opened #1469 "Repair player argument"
Is there a way to repair a players inventory/hand without giving the player access to the /repair command? Something that could be used if an admin needed to repair a players inventory for example.

[2017-08-12 12:47] SupaHam commented on #420
This has been introduced in e5c7ba7. You can grab the feature from [build 517](https://ci.drtshock.net/job/EssentialsX/) on the CI server.

[2017-08-12 12:47] #420 closed, assigned to nobody

[2017-08-12 12:51] SupaHam commented on #1469
Maybe create a [repair] sign and break it after?

http://wiki.mc-ess.net/wiki/Sign_Tutorial#Repair_Sign

[2017-08-12 12:59] #1469 closed, assigned to nobody

[2017-08-12 13:04] SupaHam commented on #1466
When a player executes `/vanish` it will remove the command executor from the game for all online players except for those who have `essentials.vanish.see`, which is commonly operators and staff in general.

If you can see vanished players, then you will see them with an invisible potion, but again only those with `essentials.vanish.see`. So make sure you give that permission to those who can be t

[2017-08-12 13:04] #1466 closed, assigned to nobody

[2017-08-12 13:05] #1465 closed, assigned to nobody

[2017-08-12 13:13] CDAGaming commented on #1466
Pretty Sure, it was essentials.vanish.effect causing it to just give invisibility and NOT full vanish

[2017-08-12 13:31] SupaHam commented on #1466
`essentials.vanish.effect` is what gives the invisibility effect. But again, you would only see the player if you had `essentials.vanish.see`.

[2017-08-12 13:40] LogGits commented on #1469
How can i do that in console? I also want to use it for vote party rewards.

[2017-08-12 13:40] SupaHam commented on #1469
You can't. You have to create this sign in game.

[2017-08-12 17:26] mdcfe commented on #1439
Unfortunately there's no way for us to know what caused the issue as we don't know with what `parseStringMeta` is called and I'm not prepared to debug an interaction with a closed source plugin, especially considering the fact it seems to be obfuscated. If the author of KitPreview can shed some light on why they think that this is an EssentialsX problem then it would be much appreciated.

[2017-08-12 17:33] mdcfe commented on #1284
You can already disable EssentialsX commands by adding the command to the [`disabled-commands` in your `config.yml`](https://github.com/drtshock/Essentials/blob/2.x/Essentials/src/config.yml#L143), although to my knowledge this has a minimal effect on performance.

If you're experiencing a command conflict with another plugin, however, you'll want to use [Bukkit's `commands.yml`](https://github.co

[2017-08-12 17:33] #1284 closed, assigned to nobody

[2017-08-12 17:45] mdcfe commented on #1313
`exp` and `xp` appear to be different commands, although the Essentials wiki says that `xp` is an alias of `exp`.

[2017-08-12 17:57] mdcfe commented on #1261
This could be done in theory by using `Player#addAttachment`, but EssentialsX would need to retrieve the permission for the command being run from the command's plugin. This wouldn't be an issue in theory, assuming the plugin registers its commands properly along with the permissions that it then checks for, but some plugins don't do this for one reason or another.

Also, we won't have an easy way

[2017-08-12 17:58] mdcfe commented on #1256
If this is still an issue, make sure you've updated both EssentialsX and EssentialsXSpawn to the same version.

[2017-08-12 18:03] #1158 closed, assigned to nobody

[2017-08-12 18:03] #1240 closed, assigned to nobody

[2017-08-12 18:03] #1169 closed, assigned to nobody

[2017-08-12 18:03] #1256 closed, assigned to nobody

[2017-08-12 18:52] NachtRaben commented on #1442
I actually applied the patch myself and only get a single stacktrace after the server initializes but it seems to be holding well.

[2017-08-12 19:18] mdcfe commented on #1442
@NachtRaben If you're referring to the changes in #1463, the single stacktrace is intentional so that people realise that there's still a broken plugin installed. You may also want to double-check that you're definitely running the latest version of ProtocolSupport or try build 131 which seems to be the first build that was fixed - [ProtocolSupport has fixed this](https://github.com/ProtocolSuppor

[2017-08-12 19:25] SupaHam commented on #1261
Heh, I was literally just thinking of this today. Since all commands are processed in sync a possible solution is a boolean assigned to the user that is set to true when they're being sudo'd. Then `isAuthorised` would always return true if that boolean is true.

[2017-08-12 19:30] NachtRaben commented on #1442
I was running PS b133 and was still getting the stack, so I tried the patch as a last ditch effort. Unless there's another culprit in the plugins causing the issues but I couldn't think of an easy way of seeing whats creating them.

https://haste.nachtraben.com/UcaHqa7Q8Q.css
This is what the frontend currently has running on this server.

[2017-08-12 20:29] mdcfe commented on #1442
@NachtRaben Could you post the actual error after you start the server? The stacktrace should indicate which plugin is causing it.

[2017-08-12 20:37] mdcfe commented on #1261
@SupaHam This would only work for EssentialsX commands though, although it might be easier than supporting the majority of plugins by attaching temporary perms that plugins may not register.

[2017-08-12 21:05] NachtRaben commented on #1442
[latest.txt](https://github.com/drtshock/Essentials/files/1220064/latest.txt)

Double checked that the NPE still happens on the latest build, then recompiled latest with the patch.
This is the log around when the first stack is printed.

https://haste.nachtraben.com/EiG6EtzWVl.md

[2017-08-12 22:09] WoophRadu opened #1471 "NoSuchMethodError when executing /smite with no parameters"
EssentialsX version (`/essentials`): 2.0.1-b501

Server software (`/version`): git-Paper-1187 (MC: 1.12.1) (Implementing API version 1.12.1-R0.1-SNAPSHOT)

EssentialsX config (if applicable): warn-on-smite: false (doesn't change when it's on true, but I thought I'd include that)

Executing /smite with no parameters returns an error in the console, and nothing happens.
Gist with paste of error:
htt

[2017-08-12 22:14] WoophRadu commented on #1471
nvm it was fixed in b502..

[2017-08-12 22:14] #1471 closed, assigned to nobody

[2017-08-12 22:36] chillerkraft commented on #1056
im gonna try to put respawn priority on high and see if i can do the vanilla bed respawn that way maybe.. doubt itll work tho

anyone know how i can have essentialsxspawn annd have the vanilla bed respawn feature?

[2017-08-12 22:52] chillerkraft opened #1472 "[Request] Option to disable essentials respawn listener to preserve vanilla behavior"
for a while i thought there was a bug where setting respawn priority to lowest didn't actually allow multiverse behavior completely, missing out on vanilla bed respawn that multiverse allows, but now i realize that it is not a multiverse feature it is vanilla so now i am here requesting this:
can you somehow have a way for us to have essentialsxspawn and still have the ability to have the vanilla

[2017-08-12 23:17] NachtRaben commented on #1472
//# When users die, should they respawn at their first home or bed, instead of the spawnpoint?
respawn-at-home: false

Set this to true and they'll respawn at their bed, if their bed spawnpoint isn't set it'll go to their first set home, if they have no set home I believe it falls back to world spawn.

[2017-08-12 23:20] chillerkraft commented on #1472
no. i should have mentioned, i dont want to use the respawn at home/bed feature in essentialsx

[2017-08-12 23:21] NachtRaben commented on #1472
You should probably set the title to something like "[Request] Option to disable essentials respawn listener to preserve vanilla behavior."

[2017-08-12 23:24] chillerkraft commented on #1472
Thanks

[2017-08-12 23:59] xtechgamer735 opened #1473 "Stacktrace"
EssentialsX version (`/essentials`): Essentials v2.0.1-b488

Server software (`/version`): 1.12.1

EssentialsX config (if applicable):

Hello! This stack trace is randomly showing up on my server and spams console.

https://pastebin.com/YDvNqd6w

Thanks!

[2017-08-13 01:12] YepImRobbie commented on #1437
appreciate the help; although it wasn't the answer.

To future viewers just do :0, -essentials.build.pickup.435:0

[2017-08-13 01:14] LaxWasHere commented on #1473
Please update to the latest version of EssentialsX https://ci.drtshock.net/job/EssentialsX/

[2017-08-13 04:09] Azewilous commented on #1456
A Pull Request submitted earlier was merged that fixed this bug.

[2017-08-13 04:14] Azewilous commented on #1432
I can put some time into finding a fix for this if it's still needed.

[2017-08-13 12:02] mibby commented on #788
Bump. ^^

[2017-08-13 12:49] SupaHam commented on #871
This has been fixed in 13fbd311. You can grab the fix from [build 519](https://ci.drtshock.net/job/EssentialsX/) on the CI server.

[2017-08-13 12:49] #871 closed, assigned to nobody

[2017-08-13 12:49] SupaHam commented on #1456
This has been fixed in 13fbd311. You can grab the fix from [build 519](https://ci.drtshock.net/job/EssentialsX/) on the CI server.

[2017-08-13 12:49] #1456 closed, assigned to nobody

[2017-08-13 12:53] SupaHam commented on #788
~@mibby I could add an extra argument to the message which would be the original name, not display name.~

Nevermind, I don't think that'd be a good idea.

[2017-08-13 12:55] SupaHam commented on #1432
That'd be amazing @Azewilous.

[2017-08-13 13:00] #1473 closed, assigned to nobody

[2017-08-13 14:38] PyvesB commented on #886
Unfortunately, the problem still seems outstanding almost a year later. It is not possible to set EssentialsX as a Maven dependency in other projects.

[2017-08-13 15:18] SupaHam commented on #886
Working on it.

[2017-08-13 15:43] #1445 closed, assigned to nobody

[2017-08-13 21:55] ghost commented on #1446
Hi there,

I happened to stumble across this issue on my server. As @pop4959 said, the issue seems to relate to banners. I tested this with regular banners (straight out of the creative inventory), and the issue did not occur. However, I placed a banner that a player has modified in the world, and the "null" issue persisted.
Example of before and after I placed the modified banner: http://imgur.co

[2017-08-13 23:35] mibby commented on #788
@SupaHam Well in the meantime if toggling to a raw output isn't possible to have again, at least being able to recolor everything but the name is better than having it be the same format as normal messages.

[2017-08-14 02:29] pop4959 commented on #1446
This might be fixed on the newest version of spigot. I have not been able to test it yet, but the patch notes mentioned something about banner initializations.

[2017-08-14 02:46] ghost commented on #1446
Yes, this has been fixed in the newest version of Spigot. I just updated to the latest version and tested it, and it works as expected. Thanks!
http://imgur.com/a/ran1W

[2017-08-14 02:47] pop4959 commented on #1446
Ok, closing this then. Update your spigot if you have this issue!

[2017-08-14 02:47] #1446 closed, assigned to nobody

[2017-08-14 04:01] mibby commented on #788
I manually pulled https://github.com/drtshock/Essentials/pull/1460 for testing. While it isn't raw output and names are displayed based on the vault prefix/suffix, it is significantly better than it exists as now with it allowing the message text to be colored grey. Works for me. :)

Only issue I noticed is commands such as mail messages shown in socialspy are displayed white. Being able to re-col

[2017-08-14 11:07] Stephambish opened #1476 "Chat formatting not working?"
I cant add chat formatting such as colors with &a-f or &0-9

EssentialsX version : 2.0.1

for minecraft 1.12

[2017-08-14 11:18] SupaHam commented on #1476
You need to have:
- `essentials.msg.color` permission for colors
- `essentials.msg.magic` permission for magic/obfuscated text
- `essentials.msg.format` permission for formatting permissions

http://wiki.mc-ess.net/wiki/Command_Reference/Perm

[2017-08-14 11:18] #1476 closed, assigned to nobody

[2017-08-14 12:19] mdcfe commented on #1442
@NachtRaben I've pushed a new commit to that PR's branch that should help identify the cause of the stacktrace - could you test it when you get a chance?

[2017-08-14 12:27] mdcfe commented on #1304
If this is still a problem, feel free to reply to this issue and I'll reopen it.

[2017-08-14 12:27] #1304 closed, assigned to SupaHam

[2017-08-14 12:38] #905 closed, assigned to nobody

[2017-08-14 12:44] mdcfe commented on #963
Currently, EssentialsX doesn't track when mails are sent, so we can only purge all mail unless we add a timestamp to mails (which would conflict with existing, timestamp-less mails).

[2017-08-14 18:39] boredhero commented on #1397
Is there any other way to detect it? I'd really really like to have /recipe back.

[2017-08-14 23:31] FatmanC opened #1477 "Feature Request: world generator"
EssentialsX version (`/essentials`):

Server software (`/version`):

EssentialsX config (if applicable):
So far i am enjoyiing essentials. It really is the easiest plugin to use. Would it ever be possible to create an addon plugin or add it to essentials, a custom world generator? like being able to set all biomes to extreme? or extra structures? or add in new crazy biomes?? it is the last thing i

[2017-08-15 07:51] mdcfe commented on #1397
If the dupe bug can't be replicated in 1.12.1, then it's probably safe to just remove the check and tell people to update to 1.12.1, but I haven't yet been able to test it.

[2017-08-15 08:05] mdcfe commented on #1477
A "custom world generator" has a very large scope and to cover even a small number of possibilities that server owners might want, it would require more time and effort than it would be worth, as there are already a number of worldgen plugins on SpigotMC and BukkitDev. Most servers either won't need custom worldgen or will already be using another plugin in which case they'd be unlikely to switch

[2017-08-15 14:07] ghost opened #1478 "PlayerInteractEvent throwing NoSuchMethodError"
EssentialsX version (`/essentials`): 2.0.1-b523

Server software (`/version`): 1.12.1 latest

EssentialsX config (if applicable): -

Essentials logs this error in the console when people interact with certain things: https://pastebin.com/4RQw9iAb

[2017-08-15 15:08] mdcfe commented on #1478
Could you [paste](https://gist.github.com) a full log of starting up then stopping your server?

[2017-08-15 20:22] MithrandirCraft opened #1479 "Random error log spam on console"
https://hastebin.com/zuyudepuya.vbs

EssentialsX version (`/essentials`): 2.0.1 b-496

Server software (`/version`): Spigot with Bungee for MC 1.12.1

[2017-08-15 20:39] YepImRobbie opened #1480 "/pay tax (request)"
Server to tax money moved around.
Defined value in config.

tax: 5.0

/pay John 100

John receives 95 as the server taxed 5%.

Not desperate for this feature, make it the lowest of all priorities if you like it, that is.

[2017-08-15 20:44] YepImRobbie commented on #1480
Perhaps also you can offer to pay the tax, so /pay 90 but it'll make u pay 95 for john to get 90

idk

[2017-08-15 21:26] LaxWasHere commented on #1479
Please download the latest version of essentials at https://ci.drtshock.net/job/EssentialsX/

[2017-08-15 23:27] MithrandirCraft commented on #1479
Done, will report if any further issues.

[2017-08-16 02:14] CDAGaming opened #1481 "Version Mismatch on Latest from Build Server"
https://hastebin.com/xequbitelu.md

Essentials/EssentialsChat Version: Essentials 2.0.1-b522
Server: PaperSpigot 1.12.1 (Running on Ubuntu 16.10)

[2017-08-16 02:48] CDAGaming commented on #1481
Fixed by Reinstalling Jars

[2017-08-16 02:48] #1481 closed, assigned to nobody

[2017-08-16 03:44] LaxWasHere commented on #1480
This sounds like a job for a proper economy plugin.

[2017-08-16 06:13] fuzzyloops opened #1482 "How do i use EssentialsX with PermissionsEX?"
EssentialsX version (`/essentials`): 2.0.1

Server software (`/version`): spigot1.12

EssentialsX config (if applicable): https://pastebin.com/pgGT9QDh

So i use PermissionsEX for my permissions plugin and i really need EssentialsX
I could use PEX with Essentials and since i upgraded it doesn't work please help

-Hunter

[2017-08-16 10:48] smmmadden commented on #1482
@DropSuit you posted the configuration file, but didn't post anything about what the issue is or the version of Essentials you are using.  Did this setup work previously to some update or is this the first time you're trying to get it to work?  Do you have a screen shot of whatever the problem is and a startup log showing what the console is writing out during the startup?

[2017-08-16 13:57] mdcfe commented on #1482
@DropSuit Please run `/essentials` and `/version` and post the output here. In addition, could you clarify what "doesn't work"?

[2017-08-16 14:53] BlackBeltPanda commented on #1397
I have a lot of custom recipes, for which I have aliases. For example, "/recipe miner" would be an alias of "/recipe dispenser 4". I can't do that with the default 1.12 recipe book. =(

[2017-08-16 15:22] user1000012 opened #1483 "EssentialsX plugin problem 1.11.2/1.12"
\Problem is :

when paying an offline player it says:
Error:player not found.
Please fix it. Please! For God's sake. or tell me how to pay an offline player. please
ASAP REPLY ASAP

[2017-08-16 15:28] SupaHam commented on #1483
http://wiki.mc-ess.net/wiki/Essentials_Economy

[2017-08-16 15:28] #1483 closed, assigned to nobody

[2017-08-16 15:49] MithrandirCraft commented on #1479
Looks like that solved it. Thanks.

[2017-08-16 15:49] #1479 closed, assigned to nobody

[2017-08-16 16:00] smmmadden commented on #1483
There doesn't appear to be anything on wiki/Essentials_Economy about paying offline players.  I did a quick search and found a solution that "may" work.  Scroll down to note 19 for the dropbox download of the jar file.  https://bukkit.org/threads/offline-paying.300132/

Good luck!
Steve

[2017-08-16 16:39] user1000012 opened #1484 "EssentialsX plugin problem 1.11.2/1.12"
Problem is :

when paying an offline player it says:
Error:player not found.
Please fix it. Please! For God's sake. or tell me how to pay an offline player. please
ASAP REPLY ASAP

[2017-08-16 16:51] SupaHam commented on #1484
Stop creating new issues.

[2017-08-16 16:51] #1484 closed, assigned to nobody

[2017-08-16 20:06] user1000012 opened #1485 "EASSENTIALSX 1.11.2/1.12"
I HAVE A PROBLEM!
firstly I TRIED TO POST THIS 3 TIMES RIGHT NOW BUT IT DOESNT GETTING SAVED!

SECONDLY I CANT PAY OFFLINE PLAYER IN MY SERVER!
BUT NORMALLY IT MUST WORK

[2017-08-16 20:06] user1000012 commented on #1485
test

[2017-08-16 22:33] #1485 closed, assigned to nobody

[2017-08-16 22:34] SupaHam commented on #1485
I won't say this again. Stop creating issues. Your issues are not disappearing. They are all under different ids e.g. #1483

Stop creating new issues!

[2017-08-17 01:25] LaxWasHere commented on #1482
Due to recent events, I, LaxWasHere recommends the use of [LuckPerms](https://www.spigotmc.org/resources/luckperms-an-advanced-permissions-plugin.28140/) instead of PermissionsEx.

[2017-08-17 01:43] smmmadden commented on #1482
@LaxWasHere why do you say "Due to recent events"?  PermissionsEx works perfectly fine for servers up-to 1.12.x and nothing indicates otherwise.  Once @DropSuit provides more details into what is wrong, we can answer his question to why it doesn't work for him.

[2017-08-17 08:53] mdcfe commented on #1482
@smmmadden Recent events, as in the state of PermissionsEx's support.

@LaxWasHere I don't think it's fair to suggest people switch permissions plugins due to that incident alone, especially considering that we don't know the issue yet and switching plugins often causes greater headaches for people.

[2017-08-17 09:23] c7w opened #1486 "#"

[2017-08-17 10:11] #1486 closed, assigned to nobody

[2017-08-17 10:47] smmmadden commented on #1482
@md678685 I understand that part, what I don't see in this statement is what's wrong with the support?  I've looked at the plugin page and the developer(s) are actively answering questions on the plugin which means they are still supporting it.  So if someone knows something otherwise, I was asking what 'recent events' are there to make that comment?

[2017-08-17 11:05] mdcfe commented on #1482
@smmmadden Support for PEX is provided by one individual (*not* a developer) who recently responded inappropriately to an bug report. However, this is **entirely off-topic** for EssentialsX support and I'd rather we stayed on the topic of @DropSuit's issue.

[2017-08-17 11:51] smmmadden commented on #1482
wow - I agree now after finding/reading that post in question.  Hopefully we can get the details to help @DropSuit which I'm more than happy to pitch in. :-)

[2017-08-17 13:35] Stormbow commented on #1482
@DropSuit asked this question on the PEX page, received a reply within about 30 minutes, and closed the ticket himself— without comment —11 days ago (as of this post).  He has received a considerable amount of help with PermissionsEx previously— in one ticket containing more than 100 posts —and hasn't been shut out or ignored in the slightest.

[2017-08-17 14:39] mdcfe commented on #1482
@Stormbow DropSuit did not ask about making EssentialsX itself "work" on the PEX tracker. As far as I can see, the two issues are not directly related. Please don't bring this over here - it's not needed nor wanted.

[2017-08-17 17:53] Stormbow commented on #1482
Interesting that you didn't tell anyone else that in this thread, and you also commented on it unnecessarily.

Unsubscribed.  Don't waste your time replying to me.

[2017-08-17 17:58] Ganeb opened #1487 "messages_en.yml Latin Chars"
EssentialsX version (`/essentials`): 2.0.1-b493

Server software (`/version`): Spigot 1.8.8-R0.1-SNAPSHOT

Hello, i have a question/concern about modifying messages_en.yml to my liking, i wan't to make my server as much as understandable to Lithuanian players as possible, but to do that, i need to use Latin characters for correct spelling, latin characters that i need to use are: ąčęėįšųū, and if

[2017-08-17 18:03] SupaHam commented on #1482
@DropSuit Please ignore most of these replies and reply the @md678685's initial request

[2017-08-17 19:03] chefgre opened #1488 "Essentials Groupmanager Problem"
Caused by: while parsing a block mapping
 in 'reader', line 12, column 3:
      player:
      ^
expected <block end>, but found BlockMappingStart
 in 'reader', line 24, column 4:
       SuperVIP:
       ^

seem to be getting this error constantly

 any ideas?

[2017-08-17 19:11] mdcfe commented on #1487
Looking at [`messages_ro.properties`](https://github.com/drtshock/Essentials/blob/2.x/Essentials/src/messages_ro.properties), it looks like you'll need to use Unicode escape codes for special characters, for example `\u0109` would represent `ĉ`. The best reference I've found so far for this is [unicodelookup.com](http://unicodelookup.com) - you'll want to look under the `Dec` column for the code,

[2017-08-17 19:17] mdcfe commented on #1488
We don't provide support for GroupManager. I'd recommend switching to LuckPerms (or, if you'd prefer, PermissionsEx). If you're using a maintained version of GM, contact the maintainer.

[2017-08-17 19:17] #1488 closed, assigned to nobody

[2017-08-17 19:28] Xanusek opened #1489 "Spade and air bug."
EssentialsX version (`/essentials`):
2.0.1-b488

Server software (`/version`):
Paper version git-Paper-1188 (MC: 1.12.1) (Implementing API version 1.12.1-R0.1-SNAPSHOT)

It occurs when im using spade item at air block (nowhere):

`[21:23:26] [Server thread/ERROR]: Could not pass event PlayerInteractEvent to Essentials v2.0.1-b488
java.lang.NoSuchMethodError: org.bukkit.entity.Player.getTargetBlock

[2017-08-17 19:38] mdcfe commented on #1489
This has already been fixed - grab the latest build from the [build server](https://ci.drtshock.net).

[2017-08-17 21:25] smmmadden commented on #1488
A third option is to use the new [GroupManagerX plugin](https://www.spigotmc.org/resources/groupmanagerx.32280/)

[2017-08-17 22:09] Ganeb commented on #1487
Nope, it doesn't work, tried Oct, Hex, Dec, all results turned out wrong, i'm in the dead end here, i'll wait maybe someone will have other solution, thanks for effort.

[2017-08-17 22:13] Techno3600 opened #1490 "[Idea] Modify Broadcast Prefix"
Hello,

I was wondering if in the configuration an option like:

broadcast-prefix:
`&6[&4Broadcast&6] &a<message>`

This would be nice for modifying the prefix and could be very helpful to users.

Thanks
Techno3600

[2017-08-18 00:17] SupaHam commented on #1487
Minecraft doesn't support certain characters which renders them weirdly. You need to find the right equivalent of what you're looking for. I'm not sure if it exists, but seeing as Minecraft is multi-national and aims to support all languages, I would assume that your characters are supported. Have a look at the official Minecraft client language files and what characters they use.

[2017-08-18 01:05] zml2008 commented on #1482
why is there drama here im not sure an actual question was even asked yet. if yall cant calm down or find someone to take over the plugin/deal with the drama im just going to fully shut down PEX bc i dont need this in my life.

[2017-08-18 01:58] smmmadden commented on #1482
EssentialsX is supported by developers and contributors like me and many others who are simply trying to help those who need it.  The same goes for PEX, it is supported by a large community and some of us are more active than others.  We ALL also provide this support for FREE.  👍

The original post above stated that EssentialsX and PEX were not working, but the user neglected to provide any eviden

[2017-08-18 08:44] mdcfe commented on #1490
You're looking for `broadcast` in `messages.properties`. Copy the file for your language from [here](https://github.com/drtshock/Essentials/tree/2.x/Essentials/src/) (use `messages.properties` if you haven't changed the language) into `plugins/Essentials`, then edit the `broadcast=...` line as desired.

[2017-08-18 08:44] #1490 closed, assigned to nobody

[2017-08-18 08:46] mdcfe commented on #1487
You could also ensure that you're saving the file as UTF-8, but that doesn't look like the problem here.

[2017-08-18 09:06] #1489 closed, assigned to nobody

[2017-08-18 09:08] mdcfe commented on #1468
Feel free to respond if the above response didn't answer your question, and I'll reopen the issue.

[2017-08-18 09:08] #1468 closed, assigned to nobody

[2017-08-18 09:16] #1477 closed, assigned to nobody

[2017-08-18 09:56] mdcfe commented on #1405
I don't think we're going to be adding any multiworld-specific features any time soon.

[2017-08-18 09:56] #1405 closed, assigned to nobody

[2017-08-18 13:15] Ganeb commented on #1487
I tried using \u0279, other numbers, one time it came up as upside down r, next time it showed only e, not ė

[2017-08-18 14:47] Ganeb commented on #1487
Guys at discord helped me out, this was the [unicodes for chars](http://www.geocities.ws/click2speak/unicode/chars_lt.html), i will close this issue, thanks for everyone who commented.

[2017-08-18 14:47] #1487 closed, assigned to nobody

[2017-08-18 16:40] NachtRaben commented on #1442
Sorry, I had left state, I'll pull and get some data for you.

[2017-08-18 17:50] NachtRaben commented on #1442
Vanilla essentials, latest paper, latest PS, etc. Still having the stack.

After the updated patch, receiving this stack:
https://hastebin.com/pinumaqaqu.vbs

The only real difference I can think of between this server and others is that it is pinged internally by a 1.8.8 server.

[2017-08-18 18:04] smmmadden commented on #1442
the 5th line from the bottom seems to suggest the same thing.  Note that if you are using the latest 1.12.1 server code, make sure your plugins are also up to 1.12.1.  If you need a link to the Spigot Compatible Plugins, let me know.

[2017-08-18 18:13] mdcfe commented on #1442
@NachtRaben ProtocolSupport's `LegacyLoginAndPingHandler` (shown in the stacktrace) doesn't implement Paper 1.12's methods, so this is now outside our control - the stack trace is there to highlight that an issue is present with another plugin.

Otherwise, I believe this can now be closed as the original issue appears to be resolved.

[2017-08-18 18:13] #1442 closed, assigned to mdcfe

[2017-08-18 18:15] NachtRaben commented on #1442
Thanks for the help, i'll move this over to PS's side of things.

[2017-08-18 19:31] Nikokku opened #1494 "Resetting balances keeps money in trade signs"
When resetting the balances of players in any way with /eco reset, it let's them keep the money that might be left in their [Trade] shops from purchased items.

That makes it difficult if you want to reset the economy because of inflation but then the players just get money from the trade shops which might be more then they should have anymore.

[2017-08-18 19:51] Snowy12 opened #1495 "Spawn eggs/monster eggs And mob spawners."
when i get an spawn/monster egg it turns into a basic egg lets say i get 383:96 (Mooshroom cow) it turns into 383:0 (Normal egg) so lets say if i want to give a kit 383:96 it says error contact administator. also mob spawners used to work with kits perfectly fine but now it turns them into normal pig spawners instead of a zombie spawner

EssentialsX version (`/essentials`):
Latest idk, downloaded

[2017-08-18 20:02] mdcfe commented on #1495
Please run `/essentials` and `/version` from in-game and paste the output here. In addition, could you post the error in the console when the error in chat appears?

[2017-08-18 23:54] Kryniowesegryderiusz opened #1496 "Respect teleport delay for "others" commands"
Works:
When executing the command "/warp [warpName] [player]" as an OP (in-game), the player is instantly teleported to the warp location (even when a delay is set in the config).

Not working:
When executing the command "warp [warpName] [player]" through the server console or with a command block, the player is teleported after the teleport delay set in the config passes (instead of teleporting i

[2017-08-19 08:12] mdcfe commented on #1496
I think this would need some refactoring - at the minute, running the command from the console behaves differently to running the command on someone else with the `essentials.warp.others` permission as there isn't a user running the command when it's run from the console.

[2017-08-19 08:27] lifehome opened #1497 "1.9 or up Enchant is not available thru sign"
EssentialsX version (`/essentials`): 2.0.1-b523

Server software (`/version`): git-Spitogt-65e8124-963b19c (MC: 1.12.1) (API 1.12.1-R0.1-SNAPSHOT)

EssentialsX config (if applicable): default config

Steps to replicate issue:
1) Put an enchant sign, on line 3 write `Mending`
2) Click Done.
3) It breaks.

[2017-08-19 09:14] mdcfe commented on #1497
By "it breaks", do you mean the placed sign breaks or it doesn't work? In addition, does Mending work in `/enchant`?

[2017-08-19 09:16] lifehome commented on #1497
It looks like this:

![image](https://user-images.githubusercontent.com/1886237/29485291-1064f4a8-8502-11e7-9948-e579d3ea9a17.png)

[2017-08-19 09:18] mdcfe commented on #1497
Does `/enchant` work when you use Mending? This would help us narrow down the cause of the issue.

[2017-08-19 09:21] lifehome commented on #1497
Yes the command works, only the sign breaks

[2017-08-19 09:28] mdcfe commented on #1497
I believe you also need to specify a level, for example `mending:1` for Mending I (even though there's only one level for Mending).

@SupaHam Should we set a default level for enchant signs, either hardcoded or configurable?

[2017-08-19 09:52] Sirse opened #1498 "MineCraft 1.7.10 NoSuchMethod error"
[code]

EssentialsX version: 201-b523

Server software: Thermos 1.7.10

[2017-08-19 10:02] mdcfe commented on #1498
Wasn't aware that 1.7.10 didn't have the new `Set<Material>` method yet. Might be a case for a provider, unless we're going to drop support for 1.7.10.

[2017-08-19 10:03] #876 closed, assigned to nobody

[2017-08-19 10:03] #887 closed, assigned to nobody

[2017-08-19 10:14] lifehome commented on #1497
Thanks @md678685, it works as you said. However it seems it cannot stack enchantments to enchanted items, to replicate the bug, simply hold an enchanted item and right click at the enchantment sign.

![image](https://user-images.githubusercontent.com/1886237/29485796-c3d406ca-850a-11e7-8722-d47e679eadfc.png)

[2017-08-19 10:50] mdcfe commented on #1497
Does the enchantment override the existing enchantment, or does it not get applied at all?

[2017-08-19 10:51] lifehome commented on #1497
It simply rejects all enchanted items to be enchanted.

[2017-08-19 10:52] mdcfe commented on #956
This has been added by #960 - grab the latest build from the [build server](https://ci.drtshock.net/job/EssentialsX).

[2017-08-19 10:52] #956 closed, assigned to nobody

[2017-08-19 12:02] Kryniowesegryderiusz commented on #1496
I know, but still that's really annoying, when you add ex. to armorstands command runned by console and he must wait.

[2017-08-19 15:52] SupaHam commented on #1497
@md678685 I think it'll be fine to default to 1. However, we mustn't help discourage reading wiki. After all users must know what the signs are doing to prevent issues.

[2017-08-19 17:25] lifehome commented on #1497
@SupaHam thanks for the consideration. I suggest letting the plugin to evaluate if the line either does not contain enchantment level, to prompt a related error, or to tell the enchantment does not exists.

[2017-08-19 20:06] Morsmorse opened #1499 "Could not pass PlayerInteractEvent to Essentials [Spigot 1.12.1]"
This Error is spamming the console after I updated to spigot 1.12.1
https://gist.github.com/Morsmorse/a4d7d988d4c7d17b8bb294da0e4f3680

EssentialsX version (`/essentials`): 2.0.1-b491

Server software (`/version`): git-Spigot-65e8124-357b573

[2017-08-19 21:11] mdcfe commented on #1499
[Update EssentialsX](https://ci.drtshock.net/job/EssentialsX). This has already been fixed.

[2017-08-19 21:11] #1499 closed, assigned to nobody

[2017-08-19 21:29] MEMOTNTN opened #1500 "/kill,/suicide and /spawnmob not working"
As the title says I am the owner of the server and I am OP but I cannot do any of those commands for some reason! They used to work but not anymore.
I don't even receive anything in chat telling me if I did something wrong.
I have '*' Permission in PEX.
even when I try kill (playername) the player doesn't die.
Please help.

my plugins: Wild, WorldEdit, ArcaneEnchants, Essentials, OreNotify, ClearL

[2017-08-19 21:34] LaxWasHere commented on #1500
We unfortunately cannot help you without log files. Please ask the server owner to provide it and we also recommend not using the wildcard node '*'.

[2017-08-19 21:39] MEMOTNTN commented on #1500
Where can I find the log files?. And I am the server owner

[2017-08-19 21:41] LaxWasHere commented on #1500
Copy what's in "logs/latest.log" to https://hasteb.in/ and post the link in the channel.

Do the commands that is not working first before opening the file so any errors can be copied.

[2017-08-19 22:01] mibby opened #1501 "Allow for depth to be configured for custom worlds that do not have a vanilla default sea level."
https://github.com/drtshock/Essentials/blob/db47460a7949c5686222b16feb3c5f4be2a8376f/Essentials/src/com/earth2me/essentials/commands/Commanddepth.java#L16

Would it be possible to allow for this to be manually configured so you can adjust depth to your actual world settings if you had made adjustments or used a custom generator? My world for example is 11 blocks below 63 by default.

[2017-08-19 22:01] MEMOTNTN commented on #1500
https://hasteb.in/raw/tetonoyavi

the commands were /kill /suicide and /spawnmob creeper

[2017-08-19 22:04] LaxWasHere commented on #1500
You are not running EssentialsX, please download the latest version of Essx here: https://ci.drtshock.net/job/EssentialsX/

[2017-08-19 22:15] MEMOTNTN commented on #1500
Still didn't work
https://hasteb.in/raw/jumimufuki

/summon works fine but not /spawnmob, /kill or /suicide

[2017-08-19 22:44] LaxWasHere commented on #1500
Please provide us with the full log.

[2017-08-19 23:06] MEMOTNTN commented on #1500
Here you go: https://hasteb.in/amumijeyug.coffee

[2017-08-19 23:18] SupaHam commented on #1500
`[00:11:01] [Server thread/ERROR]: Ambiguous plugin name `Essentials' for files `plugins/Essentials-2.x-SNAPSHOT.jar' and `plugins/EssentialsX-2.0.1.jar' in `plugins'`
Delete the old spigot jars. You can't run EssentialsX and others at the same time.

[2017-08-19 23:29] MEMOTNTN commented on #1500
Problem solved by:
Delete the old spigot jars. and installing EssentialsX.
Thanks to LaxWasHere and SupaHam <3 <3 <3

[2017-08-20 00:57] fuzzyloops commented on #1482
Sorry any one who posted i wasn't getting notifications my problem is when i make a rank example Owner i make a prefix [&4Owner&b] and then when i apply the rank to myself it does not show when i type or any thing else i do

[2017-08-20 01:02] fuzzyloops commented on #1482
Or another way to say it instead of my name being [&4Owner]&bSoulHunter2005 it is  &fSoulHunter2005

[2017-08-20 01:16] LaxWasHere commented on #1482
Do you have a chat plugin?
Do you have vault installed?

[2017-08-20 01:32] fuzzyloops commented on #1482
yes i have vault and pex as a chat plugin

[2017-08-20 01:44] smmmadden commented on #1482
PEX is PermissionsEx, not a chat plugin.  Can you please post a server startup log so that we can see what plugins are loading, which ones may be in conflict and know if there are other issues that is causing your problem.  Not seeing what the logs are reporting only means we guess as to what the problem might be.  Post the server log to pastebin or some other site and put the link here.  Thanks!

[2017-08-20 01:58] fuzzyloops commented on #1482
okay i will launch my server

[2017-08-20 02:03] fuzzyloops commented on #1482
https://pastebin.com/a2gRYCZs here is my start up log

[2017-08-20 03:04] smmmadden commented on #1482
Thanks - that helps a lot.  Before we figure out why the name is an issue, you need to get rid of all the startup errors.  You have plugins not loading at all and that alone will make your server unstable.
Administration_Panel.jar, AdminPowerTools.jar, Factions.jar, MassiveCore.jar, DynmapPlotMe.jar, Dynmap.jar (you need version 2.5), ProtocolLib (you need 4.30 build 385), Vault (1.66 is latest),

[2017-08-20 03:16] MasterGabeMOD opened #1502 "Essentials throws exception with ProtocolSupport"
Upgrading my network from MC from 1.12 to 1.12.1, there appears to be an exception being thrown with Essentials and ProtocolSupport. This exception didn't appear prior to 1.12.1. I'm uncertain if this exception is aimed towards ProtocolSupport or Essentials.

Error: https://pastebin.com/sBeqfF2t

EssentialsX version:  Essentials reloaded 2.0.1-b525.

ProtocolSupport version: 4.27

Server software:

[2017-08-20 03:48] fuzzyloops commented on #1482
okay i have to go to bed i will do this tomorrow

[2017-08-20 07:35] #1500 closed, assigned to nobody

[2017-08-20 07:49] mdcfe commented on #1502
Update both EssentialsX from [its build server](https://ci.drtshock.net/job/EssentialsX) and ProtocolSupport from [its build server](https://build.true-games.org/job/ProtocolSupport/). This is an issue on ProtocolSupport's side that has been fixed.

[2017-08-20 07:49] #1502 closed, assigned to nobody

[2017-08-20 08:06] mdcfe commented on #1482
You need to install a version of EssentialsXChat matching your version of EssentialsX to format chat according to the `Essentials/config.yml` chat format settings.

You need a chat *formatting* plugin to use Vault prefixes and suffixes - when Vault says that PermissionsEx is a "chat plugin", it's referring to the fact that PEX provides prefixes and suffixes for users that *formatting* plugins like

[2017-08-20 13:03] #1102 closed, assigned to nobody

[2017-08-20 13:05] #549 closed, assigned to nobody

[2017-08-20 13:06] #1058 closed, assigned to nobody

[2017-08-20 13:09] #193 closed, assigned to nobody

[2017-08-20 13:11] #175 closed, assigned to nobody

[2017-08-20 13:12] #229 closed, assigned to nobody

[2017-08-20 13:15] #843 closed, assigned to nobody

[2017-08-20 13:19] mdcfe commented on #843
@L4BORG Is this now solved?

[2017-08-20 13:24] mdcfe commented on #187
PR that implements this through permissions: #1441

[2017-08-20 13:29] mdcfe commented on #257
Closing, as tab completion has been properly implemented so this should no longer be an issue.

[2017-08-20 13:29] #257 closed, assigned to nobody

[2017-08-20 13:31] mdcfe commented on #338
Related PR: #342

[2017-08-20 13:31] #338 closed, assigned to nobody

[2017-08-20 13:32] mdcfe commented on #174
I'm pretty sure this isn't going to be changed as it's vanilla behaviour.

[2017-08-20 13:32] #174 closed, assigned to nobody

[2017-08-20 13:33] #303 closed, assigned to nobody

[2017-08-20 13:35] mdcfe commented on #309
Related PR for 1: #1441
Closing as 2 and 3 are unlikely to get implemented and 1 is a duplicate of #187.

[2017-08-20 13:39] mdcfe commented on #312
Closing; there's nothing to indicate this is EssentialsX's fault, and this is a very old issue.

[2017-08-20 13:39] #312 closed, assigned to nobody

[2017-08-20 13:43] mdcfe commented on #272
I believe this was implemented a while ago.

[2017-08-20 13:43] #272 closed, assigned to nobody

[2017-08-20 13:55] L4BORG commented on #843
Seems like it.

[2017-08-20 19:53] CodedMindsorg opened #1503 "Version mismatch When all running 2.0.1"
EssentialsX version 2.0.1

Server software 1.12

Error
[code]
All files are the same version (2.0.1) EssentialsX itself is running but these addon's are not loading up or installing and they are all the latest.
Can someone please help me resolve this issue? My goal is to have the basics on essentials along with per world (multiverse-core) permissions and usergroups so I can add permissions per wor

[2017-08-20 20:06] mdcfe commented on #1503
You need to update all the EssentialsX jars to the same version - you can use `/version <name>` (`/version EssentialsX`, `/version EssentialsXChat` etc.) to check the version of each jar. The latest builds can be downloaded from the [build server](https://ci.drtshock.net/job/EssentialsX).

You should be able to comfortably use Multiverse-Core on 1.12.1 without any issues.

Regarding permissions, [

[2017-08-20 20:14] Zarthus opened #1504 "Include version in essentials version mismatch detection for dependencies"
[code]

[2017-08-20 20:16] #1437 closed, assigned to nobody

[2017-08-20 20:18] mdcfe commented on #1428
If the shields are still an issue, please create a separate issue.

[2017-08-20 20:18] #1428 closed, assigned to nobody

[2017-08-20 20:25] #1431 closed, assigned to nobody

[2017-08-20 20:31] fuzzyloops commented on #1482
i am using a server host called Aternos it is free and when i installed essentialsx it didn't give essentialsxchat

[2017-08-20 20:33] fuzzyloops commented on #1482
Never mind i believe i got a fake or reposted essentialsx i will post again if i need help

[2017-08-20 20:47] #1134 closed, assigned to nobody

[2017-08-20 20:48] #1241 closed, assigned to nobody

[2017-08-20 21:13] mdcfe commented on #1482
To my knowledge, Aternos still doesn't provide EssentialsXChat or other modules, despite multiple requests for it.

[2017-08-20 21:47] fuzzyloops commented on #1482
they need to add it how ever i did have essentials (the normal older version) and it did work i thought essentialsx and essentials was pretty much the same thing

[2017-08-20 22:20] CodedMindsorg commented on #1503
Hmm, Did a reupload of same thing and fixed. Maybe it was a corrupt upload. Thanks.

[2017-08-20 22:20] #1503 closed, assigned to nobody

[2017-08-21 00:05] Rukes opened #1505 "Getting error when player joins"
[code]

EssentialsX version (`/essentials`): 2.0.1-b525 (latest build)

Server software (`/version`): This server is running CraftBukkit version git-Spigot-65e8124-357b573 (MC: 1.12.1) (Implementing API version 1.12.1-R0.1-SNAPSHOT)

EssentialsX config (if applicable): I think you don't need it

[2017-08-21 00:51] FatmanC opened #1506 "Keep Inventry"
EssentialsX version (`/essentials`):
EssentialsX 2.0.1-b488

Server software (`/version`): 112

EssentialsX config (if applicable):

Trying to find an option to allow keep inventry, when players die. I cannot find a command or anything that allows this, apart from /gamerule which i have tried and it does not work.
Could a new command or feature be added to allow this? Or if it is something i am mi

[2017-08-21 01:42] smmmadden commented on #1482
installing EssentialsChat is only one small part of the problem.  The main issue based on the logs you provided show that at least 17 of the plugins are failing to start for a variety of reasons.

Try to get your server startup so you don't have any errors or warnings first.  Upgrade all the plugins that are required for using 1.12.x servers.  That's the first step.

[2017-08-21 03:00] fuzzyloops commented on #1482
i have a quick question about server hosting is there one better then aternos or is aternos good i don't no much about them but i also don't have the money to pay for one

[2017-08-21 03:35] smmmadden commented on #1482
I host my own so I have full control over everything without all the headaches or financial costs that go with it.

Check out other servers and hosting options at https://www.craftservers.net and http://www.minecraftforum.net/servers  There are many sites out there, but this will give you an idea where to go.  These two servers are also two I use for player voting and rewards. :-)

[2017-08-21 03:43] mibby commented on #956
Still can't wear tools on your head with /hat or clicking (tools used for resource pack that sets custom textures for damage values), but you can now just drag most items in the head slot as long as you have permission. :)

[2017-08-21 03:46] LaxWasHere commented on #1506
This seems to be out of essentials' scope.

If you want to enable the gamerule, use the command '/gamerule keepInventory true'

or use the countless other plugins that exist [at](https://www.spigotmc.org/resources/)

[2017-08-21 04:23] FatmanC commented on #1506
the gamerule command i have already tried... both in chat and from console... neither worked. I will install a plugin for now... but i had it set up before i did something stupid and reset the server, which deleted the config files. Now i cant find the place where i set it up before.

[2017-08-21 08:11] mdcfe commented on #1505
Could you paste your config on [Gist](https://gist.github.com) anyway?

Does this happen every single time a player joins?

[2017-08-21 08:18] mdcfe commented on #1482
Aternos has a limited selection of plugins, and they often seem to be out-of-date anyway. For a low budget, I would suggest looking for a cheap VPS, however they are much harder to set up than a shared host with a panel like Aternos.

@smmmadden The only plugins that are causing this specific issue are PEX and EssentialsX. We don't support the other plugins here, and unless we can see a stack trac

[2017-08-21 08:20] #1506 closed, assigned to nobody

[2017-08-21 15:21] asawula opened #1507 "Pipes deleting items"
Essentials reloaded 2.0.1-b525 with Spigot 1.12.1 creates undesired functionality with pipes.
Items in the input chest disappear and do not appear in the output chest.

Working Configuration:
Essentials reloaded 2.0.1-b525
CraftBukkit version git-Spigot-cd6ba67-f7d14f1 (MC: 1.12) (Implementing API version 1.12.-R0.1-SNAPSHOT)

Not Working:
Essentials reloaded 2.0.1-b525
Spigot MC:1.12.1 (Sorry I d

[2017-08-21 15:35] SupaHam commented on #1507
What are pipes?
Please Pastebin your server log.

Steps:

1. Open `logs` directory in server directory.
1. Find and open a file called `latest.log`.
1. Go to [www.pastebin.com](http://pastebin.com).
1. Copy all `latest.log` contents and paste into the big text area.
1. Copy & paste the URL in your browser into a reply here.

Please repeat the steps above for your `Essentials/config.yml`.

[2017-08-21 15:54] asawula commented on #1507
So sorry, the bug is with Craftbook, not Essentials. This is embarassing...

[2017-08-21 15:54] #1507 closed, assigned to nobody

[2017-08-21 19:40] #660 closed, assigned to nobody

[2017-08-21 19:41] #460 closed, assigned to nobody

[2017-08-21 19:43] mdcfe commented on #1273
If this is still an issue, please reply with more details on what the actual issue is (such as exactly where the issue occurs).

[2017-08-21 19:43] #1273 closed, assigned to nobody

[2017-08-21 19:46] #1213 closed, assigned to nobody

[2017-08-21 19:46] #1159 closed, assigned to nobody

[2017-08-21 19:52] mdcfe commented on #1498
@SupaHam Thoughts on dropping support for 1.7.10?

@Sirse I don't think it's feasible for us to continue supporting 1.7.10 - Thermos hasn't been supported for over a year now, and 1.7.10 was released over three years ago. In that time, the Spigot-maintained Bukkit API has changed enough that 1.12+-friendly plugins will need to use awkward hacks to continue supporting ancient versions.

[2017-08-21 20:23] SupaHam commented on #1498
I am for dropping 1.7.10. We aim to support the latest server version, but also previous versions as a secondary objective.

If 1.7.10 issues are occurring as a result of the latest server version dropping API features, we should not be supporting that far back.

@Sirse Your best option, unfortunately, is to downgrade to a working version and be out of date. But I do not recommend this as a stable

[2017-08-21 21:05] fuzzyloops commented on #1482
i don't have any money (i'm 12) i decided to switch back to the original essentials it actually gives essentials chat

[2017-08-21 21:25] smmmadden commented on #1482
understood - the advice given to DropSuit was there is more issues going on with the server than just this one.

DropSuit - If you want to get into how servers work for Minecraft and how to extend them using plugins or mods, you can find a wealth of information on this using google search.  It is very technically challenging even for folks like us that have been doing this for decades. :-)

Otherw

[2017-08-21 22:32] Rukes commented on #1505
This happens when only one specified player joins, "Mp4_SvK", idk why O.o
Config: https://gist.github.com/Rukes/e98cdd36135f54b41eb19a0b680bf5eb

[2017-08-22 00:01] LaxWasHere commented on #1505
Go to plugins/Essentials/userdata folder, find 8aee17d5-9ccf-339e-87b5-aa7512ecb740.yml and delete it.

[2017-08-22 08:08] mdcfe commented on #1505
^ *after* copying it somewhere to back it up, in case you need to copy days back over for that player.

[2017-08-22 10:21] JohOply opened #1508 "Wither, iron and snow golem build"
Hello everyone,

I have a question. I want to know if EssentialsProtect allow to disable wither, iron and snow golem build (by player & dispenser), and able to add a permission for each type to allow autorized players to build them? (or any way to reach the same goal maybe?)

I searched a lot, but I didn't find any up to date plugin. I discuss with a dev who told me it could possible, maybe, with

[2017-08-22 10:52] Rukes commented on #1505
Umm, if I try to open that folder via FTP client it will crash, cuz there are about 57000 files. Is there other way?

[2017-08-22 12:53] mdcfe commented on #1508
I don't think EssentialsProtect ever supported blocking build events specifically, although you can disable *all* wither and iron/snow golem spawning using `protect.prevent.spawn.wither`, `protect.prevent.spawn.iron_golem` and `protect.prevent.spawn.snowman` in your [config.yml](https://github.com/drtshock/Essentials/blob/2.x/Essentials/src/config.yml#L704).

[2017-08-22 12:54] mdcfe commented on #1505
If you have SSH access, `cd` to that directory and `rm 8aee17d5-9ccf-339e-87b5-aa7512ecb740.yml`.

[2017-08-22 13:17] JohOply commented on #1508
Thank you for your quick answer! If it could be implemented, I think it could be a great feature :)

[2017-08-22 13:25] Rukes commented on #1505
No, I haven't :/

[2017-08-22 18:58] LaxWasHere commented on #1505
Create an empty 8aee17d5-9ccf-339e-87b5-aa7512ecb740.yml and put it in userdata.

[2017-08-23 02:30] CDAGaming opened #1509 "[/news, /info] You can exceed page limit in commands"
EssentialsX version (`/essentials`):
Essentials 2.0.1-b526
Server software (`/version`):
git-Paper-48d8add (MC: 1.12.1)

Description:
When doing commands/subcommands of /news or /info you can exceed the limit of pages

For example, say you have 2 pages of /news so /news 1 and /news 2 should be the only working commands in that case. However, if i type /news 5 for instance, it'll still work causing

[2017-08-23 15:21] FixTheAdmin commented on #1411
Thanks for the replies! Since I wrote this ticket I've switched Luckyperms (stil using Gringotts for eco) but still facing the same issues. Here is the config: https://gist.github.com/Bezod/cf7931fab08759146be34c4e8daa2b4d

[2017-08-23 17:40] mdcfe commented on #1411
Just out of interest, does this still occur on more recent builds? Not that there should be any difference, but if there is then that could be a hint.

[2017-08-23 17:53] LaxWasHere commented on #1411
[Could we get a new timings report with the newest build of essentials installed?](https://ci.drtshock.net/job/EssentialsX/)

[2017-08-23 23:49] #1399 closed, assigned to nobody

[2017-08-24 06:49] iArcanex opened #1510 "/back command not tracked properly"
I am experiencing an issue that isn't producing any error logs, but is evident within gameplay. The /back command isn't registering the previous locations properly, especially upon death. I have enabled the listener for the teleport event, and that hasn't changed the issue. Players who die in one area would only return to an area previously marked by teleportation. All in all, it doesn't seem deat

[2017-08-24 07:46] mdcfe commented on #1510
Which `essentials.back` permissions have been granted?

[2017-08-24 08:53] iArcanex commented on #1510
Both essentials.back and essentials.back.ondeath were granted.

[2017-08-24 09:42] #1114 closed, assigned to nobody

[2017-08-24 09:44] #1109 closed, assigned to nobody

[2017-08-24 09:44] #1104 closed, assigned to nobody

[2017-08-24 09:46] mdcfe commented on #1106
If this is still an issue, feel free to reply and I'll reopen this.

[2017-08-24 09:46] #1106 closed, assigned to nobody

[2017-08-24 09:49] mdcfe commented on #1100
I don't think this is a particularly essential feature considering the point of the `[free]` sign is to let people right click it for free items. If other signs could already affect inventories then it would make more sense, but as far as I'm aware they currently can't do that.

[2017-08-24 09:50] mdcfe commented on #1118
If this is still a problem, feel free to reply (with a new timings report) and I'll reopen the issue.

[2017-08-24 09:50] #1118 closed, assigned to nobody

[2017-08-24 09:54] mdcfe commented on #1092
If this is still an issue, you'll need to use a shorter AFK list name or limit nicknames to prevent this. However, 1.7.10 is no longer supported.

[2017-08-24 09:54] #1092 closed, assigned to nobody

[2017-08-24 09:55] mdcfe commented on #1028
1.7.10 is no longer supported.

[2017-08-24 09:55] #1028 closed, assigned to nobody

[2017-08-24 09:55] mdcfe commented on #931
1.7.10 is no longer supported.

[2017-08-24 09:55] #931 closed, assigned to nobody

[2017-08-24 10:02] mdcfe commented on #511
1.7.10 is no longer supported.

[2017-08-24 10:02] #511 closed, assigned to nobody

[2017-08-24 10:04] mdcfe commented on #982
Duplicate of #788, will be fixed by #1460 once merged.

[2017-08-24 10:04] #982 closed, assigned to nobody

[2017-08-24 10:05] mdcfe commented on #1161
1.7.10 is no longer supported.

[2017-08-24 10:05] #1161 closed, assigned to nobody

[2017-08-24 10:06] mdcfe commented on #922
1.7.10 is no longer supported.

[2017-08-24 10:06] #922 closed, assigned to nobody

[2017-08-24 10:14] mdcfe commented on #1510
Can you run `/essentials debug` then [paste the console output](https://gist.github.com) when `/back` is run and *doesn't* update the last location?

In addition, could you paste the output when a player dies and their last location doesn't get updated?

[2017-08-24 10:23] mdcfe commented on #1505
Alternatively, try running `/essentials reset <player>`.

[2017-08-24 20:10] iSkitzu opened #1513 "NPCs showing up in balance rank"
EssentialsX version (`/essentials`):  https://i.gyazo.com/7902e3243db97b15652a086846d7f5ae.png

Server software (`/version`): https://i.gyazo.com/7902e3243db97b15652a086846d7f5ae.png

EssentialsX config (if applicable):  https://pastebin.com/4xrRuU3H

I was wondering if there is a way to keep npcs from showing up in the balance rank (balancetop) besides switching it to false in the config. For som

[2017-08-24 20:14] iSkitzu commented on #1513
https://i.gyazo.com/bcb7f7bc66610a6170ad18b831cd3e39.png
Here's a screenshot of the npcs continuing to show up in the list.

(I also tried deleting the npc uuids in the essential payerdata folder, but they just recreate themselves when I restart the server or reload the plugin.

[2017-08-25 07:17] iArcanex commented on #1510
Apologies, it seems like our permissions plugin reset due to an issue in parsing the configuration. After validating our perms, the command worked fine (including essentials.back.ondeath). Everything is now functioning as intended. Thank you for the swift responses @md678685.

[2017-08-25 07:17] #1510 closed, assigned to nobody

[2017-08-25 09:45] mdcfe commented on #1513
As far as I know, `/baltop` caches the results for 2 minutes before recalculating the list.

[2017-08-25 10:02] mdcfe commented on #1498
1.7.10 is no longer supported. [Build 501](https://ci.drtshock.net/job/EssentialsX/501/) does not contain the fixes for 1.12, so should still work on 1.7.10.

[2017-08-25 10:02] #1498 closed, assigned to nobody

[2017-08-25 18:42] FixTheAdmin commented on #1411
Issue still present with the latest build, here is a updated timings report https://timings.aikar.co/?id=83f0bc5d331d4c9d924c3ef2be3b3f76#plugins

[2017-08-25 20:20] AmazedMender16 opened #1515 "/firework is broken (Nothing in console nothing ingame)"
/firework is broken it doesnt give any output in console or either ingame! waiting for a fix!

EssentialsX version (`/essentials`):  Latest

Server software (`/version`):  Last 1.11.2 build (Spigot)

EssentialsX config (if applicable):  Default config

[2017-08-25 21:02] mdcfe commented on #1515
* Please run `/version` and `/essentials` and paste the output here.
* Could you give an example of the arguments are you passing to `/firework` that don't work?
* Are you using a custom `messages.properties` file? Does it contain `holdFirework`?

[2017-08-26 06:23] Platinteufel opened #1516 "/tppos x y z <world> doesn't check for world-teleport-permission"
Latest EssX, latest Paper 1.12
There are some worlds for that my players don't have the permission to teleport into with /tp, /tpa, .., for example my adventure world.
Now i figured out that a player was able to avoid this restriction by typing /tppos 100 100 100 adventure, so maybe it's possible that /tppos doesn't check for per-world-teleportation permissions?

[2017-08-26 20:58] Rukes commented on #1505
Yup, @LaxWasHere worked, thanks :+1:

[2017-08-26 21:20] Platinteufel commented on #1516
This world-teleporting feature was added in https://github.com/drtshock/Essentials/commit/3283b8c0a3e29454156175b97108d6d83f56478f
Seems like a check like this (from `/tp` command) is missing here.

[code]

[2017-08-27 01:28] DrOreo002 opened #1517 "EssentialsX protect on emergency mode?"
27.08 09:25:57 [Server] INFO Enabling EssentialsProtect v2.0.1-b527
27.08 09:25:57 [Server] ERROR Essentials not installed or failed to load. Essenials Protect is in emergency mode now.

??, I have installed the essentialsX. But still the essentials protect is not working, and people cant break block on the server. Even me

[2017-08-27 04:07] #1505 closed, assigned to nobody

[2017-08-27 04:10] mdcfe commented on #1517
Can you run `/version Essentials` and then `/version EssentialsProtect` and paste the output here?

Also, could you paste your config on [Gist](https://gist.github.com/)?

[2017-08-27 07:58] DrOreo002 commented on #1517
Config : https://gist.github.com/DrOreo002/7198b93d232511281151ff092c4422bc
![essentials](https://user-images.githubusercontent.com/26141583/29748074-3ba0fe34-8b40-11e7-9041-463c6a068533.png)

Oh and essentials protect is the same version like the Essentials

[2017-08-27 20:16] FrankHeijden opened #1519 "[Server] WARN handleDisconnection() called twice"
EssentialsX version (`/essentials`):
2.0.1-b523
Server software (`/version`):
CraftBukkit version git-Spigot-65e8124-79e55b6 (MC: 1.12.1) (Implementing API version 1.12.1-R0.1-SNAPSHOT)
EssentialsX config (if applicable):
-

`27.08 22:08:56 [Server] WARN handleDisconnection() called twice` error when somebody gets kicked after being X minutes AFK.

[2017-08-28 01:56] Haven20021 opened #1521 "uggghggh someone help!"
I cant find the EssentialsX perms. Some one please help.

[2017-08-28 02:19] Haven20021 commented on #1521
nvm xD

[2017-08-28 02:54] #1521 closed, assigned to nobody

[2017-08-28 15:25] mdcfe commented on #1519
As far as I'm aware, this is a long-standing Spigot issue that's out of our control. You can ignore the message unless it has other side effects.

[2017-08-28 15:25] #1519 closed, assigned to nobody

[2017-08-28 15:27] mdcfe commented on #1517
Can you start and stop your server and then [paste the created log](https://gist.github.com/)?

[2017-08-28 15:38] #596 closed, assigned to nobody

[2017-08-28 15:39] #462 closed, assigned to nobody

[2017-08-28 16:03] ghost opened #1522 "Editing message.properties file issue."
I have a annoying problem which i cant seem to work out, i edited the message.properties and message_en.properties files within the plugin to make the text more interesting and unique. (Modifying colours and the odd word). But when i come to launch the server and essentials loads, but the commands stop working or it shows no text at all.
Some help or instructions on what to do here would be apprec

[2017-08-28 17:26] midnjerry commented on #1300
I can confirm this:

Replication Steps:
/give <player> mob_spawner 1 0 {BlockEntityTag:{EntityId:Creeper}}
Place spawner (as OP) --> WARN Skipping BlockEntity with id
Creeper spawns and then CreeperSpawner turns to PIgSpawner

Spigot: 1.12.1-R0.1-SNAPSHOT
Essentials: v2.0.1-b488

[2017-08-28 18:13] mdcfe commented on #1522
Don't edit the files inside the jar. You can download up-to-date language files from the [repo](https://github.com/drtshock/Essentials/tree/2.x/Essentials/src), and you can then place them in `plugins/Essentials/` and edit them from there.

[2017-08-28 18:33] ghost commented on #1522
How do i know what properties file to edit? @md678685

[2017-08-28 18:34] FrankHeijden opened #1523 "/baltop"
Heya,

Is there a possibility of not removing players in cache? `/baltop` for example, sometimes players are white and sometimes they have their displayname. I'd to see a feature which enables to show all players' displayname OR all white and not 50/50.

Also, i didnt see a part in the translations for the numbers in `/baltop`.

Hope you can help me out!
Frank

[2017-08-28 21:00] ghost opened #1524 "Error"
EssentialsX version (`/essentials`):  2.0.1-b488

Server software (`/version`): git-Spigot-edd0396-20ab5d3 (MC: 1.12.1) (Implementing API version 1.12.1-R0.1-SNAPSHOT)

[2017-08-28 22:17] Platinteufel opened #1525 "Spawnerconvert in 1.12.1"
EssX build 527
git-Paper-1196 (MC: 1.12.1) (Implementing API version 1.12.1-R0.1-SNAPSHOT)

Since I've **updated** my server to **Paper 1.12.1** yesterday spawnerconvert doesn't work for my players anymore, although they have the `essentials.spawnerconvert.*` permission.
If I test it with OP permissions it still works fine.
**Update: I have to be OP AND Gamemode 1 to use spawnerconvert in 1.12.1.*

[2017-08-28 22:39] Platinteufel commented on #1525
Seems to be related to this patch: https://hub.spigotmc.org/stash/projects/SPIGOT/repos/craftbukkit/commits/19507baf8b7903427bc3efab7118de6e7c1c931e

[2017-08-28 22:54] Platinteufel commented on #1525
Just to make it clear: The command `/spawner <mobtype>` still works as intended.
But if I take a specific spawner e.g. with `/i mobspawner:52` (spider spawner) EssX doesn't convert it anymore and I'm only able to place pig spawners.

[2017-08-28 22:57] Phoenix616 commented on #1525
As of the TileEntity rework blockstates need to be updated to apply their state to the block which the spawner convert mechanism does not do as seen [here](https://github.com/drtshock/Essentials/blob/2.x/Essentials/src/com/earth2me/essentials/EssentialsBlockListener.java#L42).

[2017-08-28 23:19] UDUT commented on #1517
Im currently on version 2.0.1-b528 for all, and is facing the same issue, here is my server log.

Server Log: https://gist.github.com/UDUT/e7425ebb65c11f038ecc4e545447c660

[2017-08-29 04:02] EverNife opened #1526 "Essentials Eco into a separated module"
It would be really nice to have an Essentials Eco into a separated module for people who search for a good eco plugin.

To be honest, no other plugins out there are as good as essentials eco :/

[2017-08-29 07:28] mdcfe commented on #1522
If your server is in English, edit `messages_en.properties`. Otherwise use the one for your language.

[2017-08-29 07:35] mdcfe commented on #1523
Formatting for currency was added in a more recent version - you may need to update EssentialsX and add the new entries to your `config.yml`.

Regarding the first, I don't think we should be caching all the player data in memory. For servers with lots of players, this would be an unnecessary waste of memory and a large amount of the data is unlikely to be used elsewhere before the server would nee

[2017-08-29 07:37] mdcfe commented on #1524
Please post the stack trace from your console log on [Gist](https://gist.github.com).

[2017-08-29 07:45] mdcfe commented on #1517
Thanks @UDUT - this looks like an EssentialsProtect bug. I'll take a look at it.

[2017-08-29 07:45] md678685 commented on #1517
Thanks @UDUT - this looks like an EssentialsProtect bug. I'll take a look at it.

[2017-08-29 07:51] mdcfe commented on #1526
I think the nature of how Essentials was built means that it would be awkward to make EssentialsEco an optional module, but it could in theory be separated into its own plugin (though it currently relies on EssentialsX's data storage as far as I know). It's unlikely that EssentialsX will ship EssentialsEco independently of the main jar, however.

[2017-08-29 08:18] DrOreo002 commented on #1517
well, I'll wait for it to be fixed. Please remind me if its fixed okay?

[2017-08-29 09:54] mdcfe commented on #1517
For some reason, EssentialsProtect is loading before Essentials. This appears to be an EssentialsX issue, though I don't know why this has only started to occur recently - there are no recent changes in EssentialsX nor Spigot that should affect this.

My only hint is that EssentialsProtect [softdepends on Essentials](https://github.com/drtshock/Essentials/blob/2.x/EssentialsProtect/src/plugin.yml#

[2017-08-29 10:11] UDUT commented on #1517
http://prntscr.com/geecds

@md678685 Mine is currently at the latest ver

[2017-08-29 10:12] mdcfe commented on #1517
@UDUT What operating system and version of Java (`java -version` in a terminal, *not* your Spigot server console) are you running?

[2017-08-29 10:15] UDUT commented on #1517
@md678685
OS: Windows 10 Pro

java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)

[2017-08-29 11:11] UDUT commented on #1517
@md678685 hmm i see that you tested it on a version thats 4 commit behind, how do I rollback to that commit? I could give it a try on that version and see if its working. And is there any off-chance that this might be caused by other plugins?

[2017-08-29 11:14] mdcfe commented on #1517
@UDUT I've updated to the latest version and added a few plugins from your console log (GUIShop, ServerSigns, SilkSpawners, Vault) and still can't replicate the issue. There is a strong chance it's caused by other plugins, which would be easier to confirm if we get a startup log from @DrOreo002.

AsyncWorldEditInjector might also be affecting the enable order, since StackMob should load after Worl

[2017-08-29 11:34] UDUT commented on #1517
@md678685 I think you might be right, I removed both Asyncworldedit and Asyncworldeditinjector.

New Log: https://gist.github.com/UDUT/e941ef56ac88c2594aeb279d9b34762b

[2017-08-29 12:15] mibby commented on #1397
Bump. I'd also like to see recipe return, considering the dupe issue as far as I know has been fixed both Spigot side and minecraft 1.12.1 side.

[2017-08-29 12:18] mibby opened #1527 "Date timestamp in mails."
Is it possible to implement a date timestamp for mails sent in-game? That way if you come back from an extended break, you know when exactly someone sent you that mail message?

[2017-08-29 12:20] mdcfe commented on #1517
It's likely a flaw with Bukkit's handling of `depends`/`softdepends`, and I don't think there's any "fix" as such for this - it would be best to try removing and readding plugins on a test server until the issue stops, looking at each plugin's `plugin.yml` inside the jar to see which plugins depend on which.

@UDUT As a test, could you try readding AsyncWorldEdit, adding `ZZ` to the beginning of t

[2017-08-29 12:30] mdcfe commented on #1527
This would facilitate #963, though we'd need to add an upgrade to change the mail format in the userdata, as well as implementing customisable date formatting (I don't think EssentialsX has anything related to date formatting at the moment, and different servers may prefer different date formats).

[2017-08-29 16:12] SupaHam commented on #1397
This bug is not fixed in 1.12.1.

[2017-08-29 16:34] smmmadden commented on #1397
dig some more digging on this and found @SupaHam is correct - Mojang has not fixed this yet.  They did fix a security issue with the command, but that's all they did in 1.12.1 release related to this.
![image](https://user-images.githubusercontent.com/10309346/29832478-5f289052-8cb6-11e7-8370-ac3d5e479d0a.png)

[2017-08-29 17:38] FrankHeijden commented on #1523
And saving it to flatfile? Just their displayname in their uuid.yml

[2017-08-29 18:51] stevmei commented on #929
I guess this will never be fixed...

[2017-08-29 19:24] ghost commented on #1524
https://gist.github.com/xIPad3Zockerx/299526896d16f413bedbd303a4293080

[2017-08-29 19:33] mdcfe commented on #929
I don't think this can be fixed within EssentialsX, though if someone can point out where the flaw is then I'll take another look at this.

[2017-08-29 21:41] UDUT commented on #1517
@md678685  New Log with the AA ZZ renames as requested. Seem to work as well.

New Log: https://gist.github.com/UDUT/3494f252a950df7a4f1946bd593ab63c

[2017-08-29 21:45] Flammis2004 opened #1528 "Essentials Chat is not working!"
I have been making a server with my friend and we have this problem for a while now. Essentials Chat is not working for us... We have EssentialsX and Vault. I don't think it is a problem in the config but I will paste the chat part of it that we really need to work.

   format: '&7{DISPLAYNAME} &9: &7{MESSAGE}'
  #format: '&7[{GROUP}]&r {DISPLAYNAME}&7:&r {MESSAGE}'

[config.txt](https://github.co

[2017-08-30 03:35] Tomographix opened #1529 "Spawners Turning into Default Pig Ones"
EssentialsX version: 2.0.1-b528

Server software: Paper Spigot 1192

Problem: Placing a spawner turns them into a pig one even if they have the permission node spawner.place.all

I am spawning in the spawners with the following command: /give {name} mob_spawner:59 1
For example: /give Tomographix mob_spawner:59 1 name:&1&lCave_Spider_Spawner

This happens for all spawner types. As an OP I am still

[2017-08-30 04:55] DrOreo002 commented on #1517
Hey, sorry for the late reply. This is my server startup log : https://gist.github.com/DrOreo002/bb1fb3c703588be68d9aa9ea3c3a6736

[2017-08-30 07:31] mdcfe commented on #1528
Make sure you've downloaded the `EssentialsXChat-2.0.1.jar` from [Jenkins](https://ci.drtshock.net/job/EssentialsX) and put it in your plugins directory - you need it for chat formatting to work.

If this still doesn't work, please post:
* the output the `/essentials` command,
* the output of `/version`, and
* a screenshot of chat.

Then, start and stop your server and copy and paste contents of t

[2017-08-30 07:36] mdcfe commented on #1529
Players need the `essentials.spawnerconvert.MOB` permission for each mob spawner you want them to be able to place. There is also a related bug, however - see #1525.

[2017-08-30 07:41] mdcfe commented on #1517
@DrOreo002 As suggested to UDUT, could you try renaming the EssentialsX jars by adding AA to the start of those jars? Alternatively, try removing all your plugins then readding them one by one until the issue reappears.

[2017-08-30 17:32] grzegorzekkk commented on #1529
My players have that permission but still they can't change type of spawner by /spawner command.

[2017-08-31 02:35] smmmadden opened #1530 "unable to set weather"
BungeeCord / Spigot 1.12.1 Servers
Essentials Plugins (all except XMPP) build 527

I've been using /weather clear 1000000 for ages and it's been working, but the last few updates of EssX, sometimes the weather changes from rain to sun and others it doesn't.
![image](https://user-images.githubusercontent.com/10309346/29903603-b9c61454-8dd2-11e7-8414-a162e1c0390c.png)
I've also tried /sun and /weath

[2017-08-31 02:39] smmmadden commented on #1530
I managed to turn it off by /weather storm followed by /weather sun
Typing in /weather thunder shows that I set the weather to sun instead of thunder.  Seems like the code is confused.

[2017-08-31 07:05] mdcfe commented on #1530
`thunder` isn't a valid weather option - `storm` will start a storm and any other first argument will stop it. This looks like an inconsistency in the Bukkit API rather than any particular issue with EssentialsX, though you may want to check that you don't have any other plugins that alter the weather behaviour.

[2017-08-31 07:41] Yodonashi commented on #1528
Hello there,

I'm experiencing this same issue. So I thought I'd reply as you requested with the following screen shots and a link to a gist of my latest log. As you can see, I have essentialsXChat-2.0.1.jar installed on my server and I have the exact same format the OP has in my config.yml. Here's all the necessary links, and screen shots. Hopefully you can help me out.

https://gist.github.com/Y

[2017-08-31 11:14] DrOreo002 commented on #1517
Alright, its working now. Thanks!

[2017-08-31 11:34] smmmadden commented on #1530
None of my other plugins on my servers control weather (at least not documented they do). I've always relied on EssentialsX for that.  The only place I have permissions and commands enabled is for essentials.  Also thunder has been supported in-game for as long as I've been playing (back to 1.8). :-)  Here are the official options that I've always used.  https://minecraft.gamepedia.com/Weather

Do

[2017-08-31 11:42] #1517 closed, assigned to mdcfe

[2017-08-31 11:52] mdcfe commented on #1530
Let me clarify what I said: EssentialsX will respond to `/weather storm` by telling Bukkit to start rain in that world. Passing anything else *at all* as the first parameter (`/weather sun`, `/weather thunder`, `/weather lightning`) will tell Bukkit to stop rain in that world. By extension, `thunder` is not supported, regardless of what types of weather exist outside of the behaviour of Essentials

[2017-08-31 17:43] smmmadden commented on #1530
I used PlugMan to find out which plugin has this command registered.  The only one that gets reported is Essentials.  This is only the command being registered, so I still need to check with the 50 other plugins I use to be 100% sure. :-)
![image](https://user-images.githubusercontent.com/10309346/29935768-f7511ac8-8e4d-11e7-8026-669ba06e7ebb.png)
To confirm what you mentioned for **/weather** by

[2017-08-31 18:08] mdcfe commented on #1530
As stated above:

The validation isn't a problem, as the command already outputs what the weather was set to when run. In addition, adding validation could break servers that may expect `/weather clear` or similar to be a valid command. In addition, the `<storm/sun>` in the usage message aren't incorrect - `<...>` suggests that *an* argument is required, and `storm` and `sun` are both acceptable o

[2017-08-31 19:14] smmmadden commented on #1530
I agree - thanks for the explanation and impact.  Definitely don't want to break existing implementations.  Go ahead and close this while I'm investigating where the override is coming from, since it is clearly not EssX.

[2017-08-31 19:23] Kakifrucht commented on #1525
Having the same issue. It works fine for operators in gamemode1 however.

[2017-08-31 20:47] mdcfe commented on #1530
There is almost certainly nothing overriding this - it's more likely Spigot isn't tracking the server's weather properly.

[2017-08-31 20:47] #1530 closed, assigned to nobody

[2017-09-01 03:31] Andronachi-Marian commented on #902
Still not working. I change a little bit the function getNick(). If want to change.
`
    public String getNick(final boolean longnick, final boolean withPrefix, final boolean withSuffix)
	{
        final StringBuilder prefix = new StringBuilder();
        String nickname, suffix = "";
        final String nick = getNickname();

        if (ess.getSettings().isCommandDisabled("nick") || nick == nu

[2017-09-01 12:02] mfnalex opened #1531 "/baltop ignoring the richest player"
I am encountering the following problem: I have a player that I am now going to call X. He is the richest player on the server. When I do /baltop while he is online, he is listed as the richest person (so it is working). But whenever the player is not online, he does not show up in /baltop and instead the second richest player is labeled as the richest one, so player X is ignored when he is not on

[2017-09-01 20:23] AmazedMender16 commented on #1515
/firework shape:ball As example
Yes it has holdfirework!.
holdFirework=\u00a78» \u00a7c\u00a7lYou must be holding a firework to add effects.

http://prntscr.com/gfyvy7

[2017-09-01 23:08] QueenKisaki opened #1532 "Event issue"
EssentialsX version EssentialsX 2.0.1

Server software (`/version`): 1.12.1

Paste Error: https://pastebin.com/gVnXj77k

Not sure what that is telling me but I recently updated server from 1.11.2 then that keeps happening. Thanks.

[2017-09-02 01:10] Blamo27 opened #1533 "Command /potion not working"
EssentialsX version (`/essentials`):  2.0.1-b528

Server software (`/version`): 1.12-R0.1 (Paper-1196)

EssentialsX config (if applicable): x

Hello,

There is an issue with the /potion command. It doesn't seem to work with splash or lingering potions, it only works with normal potions (the command doesn't recognize that you are holding a potion if you are holding a splash or lingering one).

Than

[2017-09-02 08:01] Andronachi-Marian commented on #1528
For my its works fine. https://drive.google.com/open?id=0B36Erai7_0XmSUkwS3BPd0xIemc

[2017-09-02 10:59] Zoiter7 commented on #1443
@md678685 Yes, or add permission to use the teleport-invulnerability per world, so there would be no problems with the warps that are not in the same world. The idea is add some method to player invulnerability when a player using /tpa command, because now if you use /warp command o other command of teletransportation the invulnerability is active, and I don't want this because as I said before
wh

[2017-09-02 11:03] mdcfe commented on #1532
Update EssentialsX from [Jenkins](https://ci.drtshock.net/EssentialsX/lastSuccessfulBuild).

[2017-09-03 14:10] svnxd opened #1535 "CratesPlus keys do not work in Kits"
Title basically says it all. Put a CratesPlus key in a kit and it just makes it improperly defined.

[2017-09-03 14:41] PhanaticD commented on #1525
having same problem

[2017-09-04 17:38] mdcfe commented on #1535
EssentialsX does not (as far as I am aware) support data on items in kits that is specific to other plugins. You may want to use another kits plugin that explicitly supports the CratesPlus plugin.

[2017-09-05 03:09] CDAGaming commented on #1525
Just Tested #1536 but it did not solve the issue unfortunatly

[2017-09-05 06:57] SliderKP opened #1537 "error enabling essentials"
[03:03:39 WARN]: [Essentials] Plugin Essentials v2.0.1-b488 generated an exception while executing task 99
org.bukkit.plugin.IllegalPluginAccessException: Plugin attempted to register com.earth2me.essentials.Jails$JailListener@3171be7b while not enabled
        at org.bukkit.plugin.SimplePluginManager.registerEvents(SimplePluginManager.java:524) ~[overcraft.jar:git-Spigot-7d78b81-70bc70b]

[2017-09-05 08:28] mdcfe commented on #1537
Start your server, run the commands `plugins`, `essentials` and `version` **in your server console** (*not* in-game), then stop your server and paste the `logs/latest.log` file on [Gist](https://gist.github.com/).

[2017-09-05 08:32] mdcfe commented on #1528
Still awaiting response from @Flammis2004 regarding my [previous comment](https://github.com/drtshock/Essentials/issues/1528#issuecomment-325907230).

~~@Andronachi-Marian What versions (from the commands in my previous comment) are you running?~~

[2017-09-05 08:34] #1532 closed, assigned to nobody

[2017-09-05 08:35] mdcfe commented on #1533
Duplicate of #1166.

[2017-09-05 08:35] #1533 closed, assigned to nobody

[2017-09-05 08:41] mdcfe commented on #1247
This is a valid issue - if these aren't present when the commands are defined, the server won't have a permission node attached and so plugins won't be able to know if a permission node is required for a command.

[2017-09-05 08:42] #1482 closed, assigned to nobody

[2017-09-05 08:47] mdcfe commented on #1310
Closing as this is effectively a non-issue.

[2017-09-05 08:47] #1310 closed, assigned to nobody

[2017-09-05 08:53] mdcfe commented on #1206
`UserBalanceUpdateEvent` is only fired if EssentialsEco is enabled.

[2017-09-05 08:53] #1206 closed, assigned to nobody

[2017-09-05 08:55] mdcfe commented on #1195
If this is still an issue, check the `newbies` section for whether a kit is defined. Otherwise, this is probably not caused by EssentialsX but by another plugin.

[2017-09-05 08:55] #1195 closed, assigned to nobody

[2017-09-05 09:03] mdcfe commented on #1160
This is already an EssentialsX feature - make sure you have the `essentials.invsee.modify` permission. However, you can't directly manipulate the armour slots at the moment.

[2017-09-05 09:03] #1160 closed, assigned to nobody

[2017-09-05 09:05] #1146 closed, assigned to nobody

[2017-09-05 09:07] mdcfe commented on #1144
If this is still an issue, please post the line for this message from the `messages_pl.properties` file.

[2017-09-05 09:13] ghost opened #1538 "Kits does not work correctly"
**EssentialsX version (`/essentials`):** 528
**Server software (`/version`):** git-Paper-1104 (MC: 1.11.2) (Implementing API version 1.11.2-R0.1-SNAPSHOT)
**EssentialsX config (if applicable):**  default

I saved inventory with /kitcreate <name> <duration> and it does not work correctly.
Video: https://youtu.be/WflkTHyp6tg

I'm using KitPreview plugin but it doesn't matter, It's Essentials problem

[2017-09-05 09:18] mdcfe commented on #1538
Please paste your config on [Gist](https://gist.github.com). Kits are stored in the config so we can't help you unless you paste it.

[2017-09-05 11:21] PhanaticD commented on #1525
it did fix it for me, make sure you give them essentials.spawnerconvert and essentials.spawnerconvert.*

[2017-09-05 11:24] ghost commented on #1538
I pasted it, check last link in my post. I'm using default config, so you can generate yourself. There is not problem with bad cofiguration file, there is a problem with saving of items. It is outdated.

[2017-09-05 12:07] smmmadden commented on #1160
correct - invsee is in EssentialsX, and has 3 permission nodes (essentials.invsee.modify, essentials.invsee and essentials.invsee.preventmodify) but also does not support open inventory of offline players, searching for an item, opening inventory chest silently, cross-world support, opening any chests (chest, trapped chest and ender chests) and other features depending on what the user needs.

So

[2017-09-05 12:24] CDAGaming commented on #1525
Ah, forgot that part, will try again shortly

[2017-09-05 14:10] Blamo27 commented on #1166
@md678685 Do you know, when will this issue be fixed ?

[2017-09-05 14:17] CDAGaming commented on #1525
Yup, works now

[2017-09-05 14:50] Platinteufel commented on #1525
Thanks! Could you merge it please? :)

[2017-09-06 04:59] mdcfe commented on #1538
EssentialsX does not save kits automatically as this would delete the config comments.

Please edit your config to include the kit generated by `/createkit`, then restart the server.

[2017-09-06 04:59] #1538 closed, assigned to nobody

[2017-09-06 05:07] mdcfe commented on #1160
@smmmadden Offline mode players are not offline players, and the `/invsee` command fits the scope of the original post. If the OP clearly wanted cross-**server** support (there is no *cross-world* limitation), I wouldn't have suggested the EssentialsX command.

[2017-09-07 12:46] hou0122 opened #1539 "Want to change the nickname command to support Chinese."
Want to change the nickname command to support Chinese(Asia Language).
 use this **" ^[\u2E80-\u9FFF_a-zA-Z0-9]+$ "**

[2017-09-07 13:53] ghost opened #1540 "Kits are outdated"
I dont understand why someone closed my issue. So Im pasting it again.

EssentialsX version (/essentials): 528
Server software (/version): git-Paper-1104 (MC: 1.11.2) (Implementing API version 1.11.2-R0.1-SNAPSHOT)
EssentialsX config (if applicable): default

I saved inventory with /kitcreate and it does not work correctly.
Video: https://youtu.be/WflkTHyp6tg

I'm using KitPreview plugin but it do

[2017-09-07 13:59] mfnalex commented on #1531
Is really noone else having this kind of problem?

[2017-09-07 14:33] mdcfe commented on #1540
As stated before, you *must* copy your kit from the given link to your config.yml under `kits:`. If you've done this, please post your full config file including the kit.

[2017-09-07 15:52] mfnalex commented on #1531
I found out that there were two UUID files for this user (i don't knot how that could happen) in /plugins/Essentials/userdata/, one containing his homes and money and stuff, and the other one only had the players name in it and some coordinates. I deleted the files without money and homes, and it is working now. But I wonder how that could have happened.

[2017-09-07 15:52] #1531 closed, assigned to nobody

[2017-09-07 16:10] Platinteufel commented on #1525
@md678685 ?

[2017-09-07 18:52] ghost commented on #1540
No. I'm not reporting any issue with config. Essentials has outdated kit saving. It does not support some items like spawning eggs when I'm trying to save it with command. I used /kitcreate with auto save and /kitcreate with pastebin. I pasted given link under kits: and I have still same problem. You can check last link in my post.

[2017-09-08 07:30] BenLiHao opened #1541 "ERROR]: Could not pass event PlayerInteractEvent to Essentials v2.0.1-b488"
`[15:29:07 ERROR]: Could not pass event PlayerInteractEvent to Essentials v2.0.1-b488
org.bukkit.event.EventException: null
        at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:306) ~[spigot-1.12.1.jar:git-Spigot-65e8124-9e3636d]
        at org.bukkit.plugin.RegisteredListener.callEvent(RegisteredListener.java:62) ~[spigot-1.12.1.jar:git-Spigot-65e8124-9e3636d]

[2017-09-08 11:32] ItzLevvie commented on #1541
Please read https://github.com/drtshock/Essentials/issues/1499#issuecomment-323547998

[2017-09-09 17:30] ghost opened #1542 "Getting Error"
https://gist.github.com/xIPad3Zockerx/299526896d16f413bedbd303a4293080

EssentialsX version (`/essentials`):  2.0.1-b488

Server software (`/version`): git-Spigot-edd0396-20ab5d3 (MC: 1.12.1) (Implementing API version 1.12.1-R0.1-SNAPSHOT)

[2017-09-09 18:17] ItzLevvie commented on #1542
Please update to the latest [EssentialsX](https://ci.drtshock.net/job/EssentialsX) version.

According to your logs, you're running EssentialsX build 488 while the latest one is build 528.

[2017-09-09 18:22] mdcfe commented on #1542
This issue is fixed in newer builds - as noted above, please update EssentialsX.

[2017-09-09 18:22] #1542 closed, assigned to nobody

[2017-09-09 18:22] #1541 closed, assigned to nobody

[2017-09-09 18:23] TheRealPear opened #1543 "EssentialsX v2.0.1 PlayerInteractEvent error"
`[Error] Could not pass event PlayerInteractEvent to Essentials v2.0.1-b488java.lang.NoSuchMethodError: org.bukkit.entity.Player.getTargetBlock(Ljava/util/HashSet;I)Lorg/bukkit/block/Block; at com.earth2me.essentials.signs.SignPlayerListener.onSignPlayerInteract(SignPlayerListener.java:41) ~[?:?] at com.destroystokyo.paper.event.executor.asm.generated.GeneratedEventExecutor472.execute(Unknown Sour

[2017-09-09 18:25] mdcfe commented on #1543
This issue is fixed in newer builds - please [update EssentialsX to the latest version](https://ci.drtshock.net/job/EssentialsX/lastSuccessfulBuild).

[2017-09-09 18:25] #1543 closed, assigned to nobody

[2017-09-09 19:58] TheRealPear commented on #1543
But it's already running the latest build.

[2017-09-09 20:00] ItzLevvie commented on #1543
You're running build 488, the latest one is build 528.

[2017-09-10 13:38] svnxd commented on #1535
Hmm 🤔, I'll look elsewhere. Would a plugin something like item on first join work?

[2017-09-10 21:38] Techno3600 opened #1544 "Turn On and Off PVP In-Game"
Hello,

I was wondering if we could add an option where if the command _/pvp [player]_ was ran, it could globally toggle:

- Global PvP damage cancelled
- Blocks Projectiles (arrows, snowballs, fireballs, rods)
- Poisonous potion damage
- Damage delt by lava buckets
- TNT placed by player
- Any other damage done by players

And if _/damage [player]_ was ran, it would stop **all** damage coming to

[2017-09-11 22:08] CDAGaming opened #1545 "Bad Gateway Error on Build CI Server (Again)"
Unable to get builds from Build CI, cloudflare reporting bat gateway

[2017-09-11 22:24] LaxWasHere commented on #1544
My opinion on this suggestion is that it is out of the scope of 'Essentials'.  WorldGuard maybe but not Essentials..

[2017-09-12 20:41] bertek41 opened #1546 "Lag Notice Slow Economy Response ?"
EssentialsX version: 2.0.1-b528 (And same version for Chat and Spawn)

Server software: This server is running CraftBukkit version git-PaperSpigot-"8b18730" (MC: 1.8.8) (Implementing API version 1.8.8-R0.1-SNAPSHOT)

Error: [22:55:34 INFO]: [Essentials] Lag Notice - Slow Economy Response - Request took
over 299.994ms!

[2017-09-12 21:40] Tsuser1 opened #1547 "No permissions check for essentials.fly.safelogin"
EssentialsX version (`/essentials`):
2.0.1
Server software (`/version`):
Spigot-1.12
EssentialsX config (if applicable):
Not applicable

If players have the `essentials.fly.safelogin` permission they get fly on connect regardless if they have `essentials.fly`, this violates the "permissions non-inclusive" style of Essentials.

[2017-09-12 22:55] FatmanC commented on #1547
if you dont have too many people, you could always try giving it to the people who have fly only rather than per group. I have had to do this while growing. But i am interested how this cn be corrected in a more permanent sense.

[2017-09-12 22:56] Tsuser1 commented on #1547
Yes and I'm gonna do that for 862 players @FatmanC ;)

(Better solution please.)

[2017-09-13 02:06] smmmadden commented on #1547
I must be missing something in the original post. There are three permissions that I use and they work on all my servers running BungeeCord / Spigot 1.12.1
1. essentials.fly
2. essentials.fly.others
3. essentials.fly.safelogin
On the worlds I allow flying, only 1 and 3 are provided.  Admins / Mods have number 2.
On the worlds I do NOT allow flying, only the Admins / Mods have all three.  All other

[2017-09-13 02:39] Tsuser1 commented on #1547
We granted `essentials.fly.safelogin` and players can just jump off a cliff (mind you they **don't** have `essentials.fly`) and relog, then boom! Instant fly.

[2017-09-13 03:01] smmmadden commented on #1547
yeah, that's not good.  Is it possible there is another plugin/mod being used that provides "fly" type permissions?  I use Residence Reloaded and there are fly flags that can enable flying when flying isn't provided through essentials.  Other plugins/mods provide similar options for the same and can cause conflicts like this.

One other question if I may, the essentials versions will show 2.0.1 as

[2017-09-13 03:40] Tsuser1 commented on #1547
Full version: Essentials 2.0.1-b528

I tested this on our development server (no other plugins installed) and confirmed it is an issue. This is an Essentials bug.

[2017-09-13 05:01] mdcfe commented on #1546
Could you paste your list of plugins from `/plugins`, as well as your Vault version from `/version Vault`?

[2017-09-13 05:09] mdcfe commented on #1547
As a workaround, ensure that players are only granted `essentials.fly.safelogin` when they have `essentials.fly`.

This is most likely unintended behaviour.

[2017-09-13 14:02] Darthmineboy commented on #1546
Issue is in your Economy plugin. Unless that happens to be EssentialsEco, the issue should not be reported in this repo.

[2017-09-13 16:30] SaitDev commented on #1545
@SupaHam save us plz. I havent downloaded other essentialsx like antibuild, chat...

[2017-09-13 17:37] smmmadden commented on #1545
I can confirm the same results from USA - South East
Error 502 Ray ID: 39dcde78781e386a • 2017-09-13 17:36:29 UTC
Bad gateway

[2017-09-13 18:23] CDAGaming commented on #1545
Changed Title to be more clearer
(Save us @SupaHam 👍 )

[2017-09-13 22:24] CDAGaming commented on #1545
@smmmadden @SaitDev Just checked, it seems to now be up again 👍
Please confirm if its working, as if so, ill close this issue as solved

[2017-09-13 22:41] Tsuser1 commented on #1547
@md678685 proposed bugfix #1548

[2017-09-14 02:07] smmmadden commented on #1545
Confirmed - I also have access to it. 👍

[2017-09-14 05:13] SaitDev commented on #1545
Yes, its up now

[2017-09-14 06:36] #1525 closed, assigned to nobody

[2017-09-14 10:01] #1545 closed, assigned to nobody

[2017-09-14 10:01] CDAGaming commented on #1545
Marked as Solved...for now

[2017-09-15 04:15] kingdom84521 opened #1549 "warnings"
EssentialsX version (`/essentials`): 2.0.1-b488

Server software (`/version`):1.12.1

EssentialsX config (if applicable):

log on server cmd:
[12:07:21 WARN]: [Essentials] Task #14 for Essentials v2.0.1-b529 generated an exception
java.lang.NullPointerException: null
        at com.earth2me.essentials.xmpp.XMPPManager.updatePresence(XMPPManager.java:148) ~[?:?]
        at com.earth2me.essentials.x

[2017-09-15 06:47] TerraPrimal opened #1550 "[Feature] Deny teleport requests when you have a request pending."
EssentialsX version (`/essentials`): 2.0.1-b516

Server software (`/version`): 1.12.1 (9e3636d)

Pretty simple request really, an option in the config that you can't receive a teleport request if you have one pending.

I had a few "reports" that people who were about to accept /tpahere are sent a new one at the last second (as they press enter or w/e) and are sent so somewhere other then where the

[2017-09-15 06:57] mdcfe commented on #1549
Are you using XMPP? If not, you don't need EssentialsXXMPP.

[2017-09-15 11:31] SupaHam commented on #1545
Sorry for late reply. For future reference we have two mirrors, https://ci.akpmakes.tech/job/EssentialsX/ and http://ci.ender.zone/job/EssentialsX/

[2017-09-15 11:50] CDAGaming commented on #1545
Thanks, SupaHam.

[2017-09-15 14:41] bertek41 commented on #1546
Vault version: 1.5.6-b49 using essentials economy

[2017-09-15 15:21] mdcfe commented on #1546
Please post the output of `/plugins` and generare a Spigot timings report.

[2017-09-15 22:45] AmazedMender16 commented on #1515
@md678685 Please can u look into this

[2017-09-16 01:03] smmmadden commented on #1515
I can confirm that it works with Spigot 1.12.1 and Essentials build 529.  Note that the message is correct, you do need to be holding a rocket in order to "set the parameters of it".  Perhaps this page will [**help**](https://www.minetime.com/threads/firework-help-please.27518/).

[2017-09-16 02:19] stevewall85 opened #1551 "Thor and other lightning commands error out when no player selected"
While on the server and using the smite commands thor and lightning with no player selected it errors out in the below logs. I have discovered that if i add a players name they will be smiten and no error to be displayed. Back on the original essentials even using just thor would make the lightning effects which was pretty cool. So i am posting this as to give info to stop the error but if the com

[2017-09-16 02:33] LaxWasHere commented on #1551
You are running an outdated version of EssentialsX, please download the latest version at https://ci.drtshock.net/job/EssentialsX/ and close the issue if the problem is fixed.

[2017-09-16 03:53] stevewall85 commented on #1551
I updated to 529 from your link and it worked! i guess i was on an older fork. Thank you for your quick response your awesome keep up the good work!

[2017-09-16 03:53] #1551 closed, assigned to nobody

[2017-09-16 06:48] AmazedMender16 commented on #1515
And i can confirm it doesnt work on 1.11.2

[2017-09-16 07:28] mdcfe commented on #1515
If you set a colour with `color:<color>`, does the command work? If not, could you upload a screenshot after running the command?

[2017-09-16 10:02] smmmadden commented on #1515
"and" while holding a firework rocket :-)
/firework shape:ball color:red,blue,green

[2017-09-16 10:28] mdcfe commented on #1515
@smmmadden AmazedMender pasted the unformatted `holdFirework` line from their messages.properties just to check that that particular message wasn't missing from their install. It was not from a log or command output.

@AmazedMender16 Just to clarify, as far as I can tell from the `/firework` class, fireworks don't have a default colour but have a default shape, so you should always need to specify

[2017-09-16 10:33] AmazedMender16 commented on #1515
@md678685 @smmmadden Whenever im doing /firework shape:ball color:red,blue,green it doesnt change the firework in holding but instantly send one from the location im standing..

[2017-09-16 13:54] mdcfe commented on #1515
Could you paste your plugins list so we can check if there is a conflict?

[2017-09-16 14:16] mdcfe commented on #1547
@smmmadden If users run the given command correctly (or any suitable alternative), they will receive a version string `2.0.1-bXYZ`. To my knowledge, there isn't an accessible string anywhere in the plugin that reports `2.0.1` as the version. It's up to users to provide the correct information either in the initial post or when prompted.

That said, #1514 aims to simplify the process of collecting

[2017-09-16 22:18] ghost opened #1552 "FEATURE REQUEST: /payconfirm change message in message.properties"
EssentialsX version (`/essentials`):
Essentials 2.0.1-b526

Server software (`/version`):
1.12.1-R0.1-SNAPSHOT
Add the ability to change the /payconfirm message in message.properties

[2017-09-16 22:19] ghost opened #1553 "FEATURE REQUEST: Change UUID message in message.properties"
EssentialsX version (`/essentials`):
Essentials 2.0.1-b526

Server software (`/version`):
1.12.1-R0.1-SNAPSHOT

Add the ability to change the UUID message (can be seen with /whois) in message.properties
You are able to change all the other /whois messages but not UUID or Playtime

[2017-09-16 22:19] ghost opened #1554 "FEATURE REQUEST: Change playtime message in message.properties"
EssentialsX version (`/essentials`):
Essentials 2.0.1-b526

Server software (`/version`):
1.12.1-R0.1-SNAPSHOT

Add the ability to change the Playtime message (can be seen with /whois) in message.properties
You are able to change all the other /whois messages but not UUID or Playtime

[2017-09-17 00:51] mdcfe commented on #1554
Update your messages.properties by downloading a new copy or adding the missing strings. These messages were added a few months ago, so if you have custom language files from an earlier version of EssentialsX, these particular messages won't be present.

In future, please open one issue unless your issues are significantly different from each other. I've closed #1552 and #1553 as this also address

[2017-09-17 00:56] #1552 closed, assigned to nobody

[2017-09-17 00:56] #1553 closed, assigned to nobody

[2017-09-17 09:02] AmazedMender16 commented on #1515
@md678685 its a clean install with only essentialsx and vault

[2017-09-17 09:10] #1554 closed, assigned to nobody

[2017-09-17 09:12] mdcfe commented on #1525
PR #1536 has been merged, which should fix the issue - you can get the latest version of EssentialsX from the [build server](https://ci.drtshock.net/job/EssentialsX/lastSuccessfulBuild).

[2017-09-17 09:22] #948 closed, assigned to nobody

[2017-09-17 12:13] Mundo-Minecraft opened #1556 "Error with the / me command"
Hello, on my server when users write / me "message" can only be read by users who have the essentials.chat.spy permission. But I do not want to give that permission because they also read the local messages.
Is this a bug? or is there any way to separate this? I have not found a solution, I use the last compilation of spigot and essentialsx.

Thank you.

[2017-09-17 15:45] mdcfe commented on #1556
If you have a chat radius set, `/me` messages should only be broadcast within the set radius. Currently there isn't a way to change this behaviour in EssentialsX aside from disabling the local chat radius, though you could [alias the `me` command to `minecraft:me`](https://github.com/drtshock/Essentials/wiki/Common-Issues#essentialsx-overrides-a-command-from-spigot-or-another-plugin).

[2017-09-17 16:27] mdcfe commented on #1547
The [Essentials documentation](http://wiki.mc-ess.net/wiki/Command_Reference/Perm) for `essentials.fly.safelogin` states:

There isn't an actual bug here - EssentialsX is doing exactly what the permission states it should be doing. The issue arises when players have flight enabled for them by an admin but don't have permission to use it - flight is always reenabled when they log back in if they ar

[2017-09-17 16:30] #209 closed, assigned to nobody

[2017-09-17 19:54] Tsuser1 commented on #1549
@md678685 is correct, I've noticed that if you don't configure XMPP it causes strange errors like this. I suggest removing EssentialsXMPP if you don't know what it is/don't use it.

[2017-09-17 20:06] mdcfe commented on #1547
@Tsuser1 After some consideration over both PR #1548 and PR #1555, my suggestion would be to **revoke `essentials.fly.safelogin` from users who shouldn't always be able to fly when they log in**. The reason for this is that this permission check has remained unchanged for over 4 years, and it doesn't seem necessary to change it for this use case alone.

You can see the rest of the discussion in PR

[2017-09-17 20:33] Tsuser1 commented on #1547
The problem with this @md678685 is that I would have to manually do this for nearly **7,000 players**, that's crazy!

[2017-09-17 20:46] mdcfe commented on #1547
If you're using groups, I don't see how this is an issue. If it's absolutely necessary then you could automate the permissions changes with a script, but if you're duplicating lists of permissions per player then you should really be using groups to handle this.

Regardless, the permission's behaviour is intended.

[2017-09-17 22:37] Rin-Son-of-Satan commented on #1547
I want this added too, seems pretty BS to me.
                                                                                ~Maelstrom

[2017-09-17 22:45] Rin-Son-of-Satan commented on #1547
Also, the fact that this could be a payed add-on makes it even worse. You're basically allowing people to scam their ways into getting an add-on. So please fix the bug. :)
         ~Maelstrom

[2017-09-18 00:49] SupaHam commented on #1547
@Tsuser1 Relevant question to this issue. Why are you having to do this manually for nearly 7,000 players? Furthermore, with all due respect this is an overlooked area in your setup and not directly an issue of EssentialsX. You're asking us to change the existing behaviour all of our users are relying on so that you do not have to go through the process of updating 7,000 players.

Create groups fo

[2017-09-18 20:42] Mundo-Minecraft commented on #1556
ok, I did not know this, since I've been using essentialsx for two weeks now. In the classic essentials it is separated, the / me is read all over the world even if it puts a radius of action to the local chat.
Then I leave it as a suggestion.

Thank you.

[2017-09-19 00:35] madtomic opened #1558 "economy command alias"
Any way to set new alias?

balance
eco

I need it to be different for essentials. I know about the other alias: bal, money and economy. I still need something else for essentials because they are all used by another plugin.

Thanks

[2017-09-19 19:59] LaxWasHere commented on #1558
Essentials gives other plugins priority over registering commands, if the essentials /eco or /balance still works then the other plugin did not register it.

[2017-09-19 21:50] DeathIsUndead opened #1559 "Boats cause errors and lag with Minecraft 1.12.2"
Boats seem to cause errors on my server, and the console is spitting out errors about EssentialsX.
EssentialsX version : 2.0.1-b488

Server software : Spigot 7754231-94b0980 MC 1.12.2 Latest Release

EssentialsX config is added in the link below.

https://gist.github.com/DeathIsUndead/8df9c176fce621654cbbccfb84a7516b

[2017-09-19 21:58] Kakifrucht commented on #1559
What errors?

[2017-09-19 21:59] DeathIsUndead commented on #1559
Sorry, it's in the link as well. It said to post the console log in that,so I put the configs and the console log in there.

[2017-09-19 22:01] DeathIsUndead commented on #1559
[code]

[2017-09-19 22:07] mdcfe commented on #1559
This was fixed in a newer version - update EssentialsX to the latest version from the [build server](https://ci.drtshock.net/job/EssentialsX/lastSuccessfulBuild).

[2017-09-19 22:33] DeathIsUndead commented on #1559
That fixed it, thanks!

[2017-09-19 23:29] Techno3600 opened #1560 "[Idea/Enhancement] Mail Should Support Color Codes"
Hey Guys,

In the next update, it would be nice if we were able to use color codes (&4, &3, &b) in our mail messages.

Thanks
Techno

[2017-09-19 23:33] Techno3600 opened #1561 "[Idea/Enhancement] Teleport to Offline Players"
Hey Guys,

In the next update could their be a feature which allows:

- Teleporting to Offline Players
- Teleporting Offline Players To Yourself (so when they log in next time, they log in where you set them)

Thanks
Techno3600

[2017-09-19 23:35] Techno3600 opened #1562 "[Enhancement] Streamline TP Permissions"
Hello,

Currently, with TP Perms, it is very hard to just give one player every permission regarding tp, I find it very difficult.

It would be easier if **essentials.tp.*** gave someone every possible /tp(a)(o)(here)(all)(accept)(deny)(etc.) command.

Thanks
Techno

[2017-09-20 00:48] madtomic commented on #1558
I have no way to access economy in essentials. That is why I'm asking here. I need someone to help either create it with new command or add more alias.

[2017-09-20 00:52] LaxWasHere commented on #1558
You can append `e` or `essentials:` to any ess command and it will use the essentialsx command.
/etop
/ebal
/eeco
/essentials:top
/essentials:bal
/essentials:eco

[2017-09-20 06:22] #1559 closed, assigned to nobody

[2017-09-20 14:57] mdcfe commented on #1562
This is unlikely to be changed, considering that moving permissions would silently break lots of existing permissions setups, while aliases would make permissions setups harder to debug.

In addition, if you're hoping to make setting up permissions quicker and easier, you're not going to get far. Permissions are time consuming for a reason - you should be making sure players and groups are allowed

[2017-09-20 15:10] mdcfe commented on #1513
The config option seems to be the only way to hide NPCs from the balance ranking. There is no way to hide individual NPCs from the ranking, although you could set their balance to be 0 or negative to make them appear at the bottom if desired.

[2017-09-20 15:12] mdcfe commented on #1558
If you want to permanently override the other plugin's commands, see [this wiki page](https://github.com/drtshock/Essentials/wiki/Common-Issues#tab-completion-doesnt-work-for-commands-that-override-an-essentialsx-command).

[2017-09-20 15:15] mdcfe commented on #1522
Closing due to inactivity. If you need further assistance, feel free to respond and I'll reopen this.

[2017-09-20 15:15] #1522 closed, assigned to nobody

[2017-09-20 15:21] mdcfe commented on #1529
This should now be fixed - grab the latest build from the [CI server](https://ci.drtshock.net/job/EssentialsX/lastSuccessfulBuild).

[2017-09-20 15:21] #1529 closed, assigned to nobody

[2017-09-20 15:22] mdcfe commented on #1439
Closing due to inactivity. If you need further assistance, feel free to respond and I'll reopen this.

[2017-09-20 15:22] #1439 closed, assigned to nobody

[2017-09-20 15:24] mdcfe commented on #1495
Closing due to inactivity. If you need further assistance, feel free to respond and I'll reopen this.

[2017-09-20 15:24] #1495 closed, assigned to nobody

[2017-09-20 15:24] mdcfe commented on #1478
Closing due to inactivity. If you need further assistance, feel free to respond and I'll reopen this.

[2017-09-20 15:24] #1478 closed, assigned to nobody

[2017-09-20 15:29] mdcfe commented on #1368
Closing due to inactivity. If you need further assistance, feel free to respond to this issue and we'll reopen it.

[2017-09-20 15:29] #1368 closed, assigned to nobody

[2017-09-20 15:30] mdcfe commented on #1323
Closing due to inactivity. If you need further assistance, feel free to respond to this issue and we'll reopen it.

[2017-09-20 15:30] #1323 closed, assigned to nobody

[2017-09-20 15:31] mdcfe commented on #1318
Closing due to inactivity. If you need further assistance, feel free to respond to this issue and we'll reopen it.

[2017-09-20 15:31] #1318 closed, assigned to nobody

[2017-09-20 15:31] mdcfe commented on #1317
Closing due to inactivity. If you need further assistance, feel free to respond to this issue and we'll reopen it.

[2017-09-20 15:31] #1317 closed, assigned to nobody

[2017-09-20 15:32] mdcfe commented on #1144
Closing due to inactivity. If you need further assistance, feel free to respond to this issue and we'll reopen it.

[2017-09-20 15:32] #1144 closed, assigned to nobody

[2017-09-20 15:35] mdcfe commented on #1524
This has been fixed in more recent builds. Download the latest build from the [CI server](https://ci.drtshock.net/job/EssentialsX/lastSuccessfulBuild).

[2017-09-20 15:35] #1524 closed, assigned to nobody

[2017-09-20 15:36] mdcfe commented on #1528
Closing due to inactivity. If you need further assistance, feel free to respond to this issue and we'll reopen it.

[2017-09-20 15:36] #1528 closed, assigned to nobody

[2017-09-20 15:38] mdcfe commented on #1401
Closing due to inactivity. If you need further assistance, feel free to respond to this issue and we'll reopen it.

[2017-09-20 15:38] #1401 closed, assigned to nobody

[2017-09-20 15:39] mdcfe commented on #1341
Closing due to inactivity. If you need further assistance, feel free to respond to this issue and we'll reopen it.

[2017-09-20 15:39] #1341 closed, assigned to nobody

[2017-09-20 15:48] mdcfe commented on #1387
Closing due to inactivity. If you need further assistance, feel free to respond to this issue and we'll reopen it.

[2017-09-20 15:48] #1387 closed, assigned to nobody

[2017-09-20 15:49] mdcfe commented on #1313
Closing due to inactivity. If you need further assistance, feel free to respond to this issue and we'll reopen it.

[2017-09-20 15:49] #1313 closed, assigned to nobody

[2017-09-20 15:54] mdcfe commented on #1234
Closing due to inactivity. If you need further assistance, feel free to respond to this issue and we'll reopen it.

[2017-09-20 15:54] #1234 closed, assigned to nobody

[2017-09-20 15:54] #1237 closed, assigned to nobody

[2017-09-20 15:55] mdcfe commented on #1235
Closing due to inactivity. If you need further assistance, feel free to respond to this issue (ideally with a plugin list) and we'll reopen it.

[2017-09-20 15:55] #1235 closed, assigned to nobody

[2017-09-20 15:57] mdcfe commented on #1224
Closing due to inactivity. If you need further assistance, feel free to respond to this issue and we'll reopen it.

[2017-09-20 15:57] #1224 closed, assigned to nobody

[2017-09-20 15:59] mdcfe commented on #1214
Closing due to inactivity.

As far as I know, there isn't anything we can do about this issue, since the SSL error is down to your host.

If you need further assistance, feel free to respond to this issue and we'll reopen it.

[2017-09-20 15:59] #1214 closed, assigned to nobody

[2017-09-20 16:05] #1142 closed, assigned to nobody

[2017-09-20 16:06] #1141 closed, assigned to nobody

[2017-09-20 16:07] #1098 closed, assigned to nobody

[2017-09-20 16:10] #1030 closed, assigned to nobody

[2017-09-20 16:11] mdcfe commented on #1025
Closing due to inactivity. If you need further assistance, feel free to respond to this issue and we'll reopen it.

[2017-09-20 16:11] #1025 closed, assigned to nobody

[2017-09-20 16:13] mdcfe commented on #946
Closing due to inactivity. If you need further assistance, feel free to respond to this issue and we'll reopen it.

[2017-09-20 16:13] #946 closed, assigned to nobody

[2017-09-20 16:34] mdcfe commented on #1011
Bumping an old issue, but yes, there are many reasons for why there is no multiworld support in EssentialsEco:
* It would require changes to how balances are stored.
* We'd need to decide whether the player's balances in each world are attached to separate economy accounts or one account whose balance is swapped when the player swapped worlds.
* It may require breaking changes to the Essentials AP

[2017-09-20 16:37] mdcfe commented on #941
Closing due to inactivity. If you need further assistance, feel free to respond to this issue and we'll reopen it.

[2017-09-20 16:37] #941 closed, assigned to nobody

[2017-09-20 23:44] Tsuser1 commented on #1560
Already implemented..?

[2017-09-20 23:45] Techno3600 commented on #1560
Well then, how do you enable it?

[2017-09-20 23:47] #1562 closed, assigned to nobody

[2017-09-21 00:42] Sonic8608 opened #1563 "Question - Admins are able to kill Owners"
EssentialsX version (`/essentials`):

Server software (`/version`):

EssentialsX config (if applicable):

[config.txt](https://github.com/drtshock/Essentials/files/1319626/config.txt)

[2017-09-21 00:43] Kakifrucht commented on #1563
That is an error how?
What does this have to do with Essentials exactly?
"Admin" and "Owner" are nothing defined anywhere at all.

[2017-09-21 01:00] Sonic8608 commented on #1563
I don't know how to prevent admins to stop killing the owner and which node to put in

[2017-09-21 01:35] #1563 closed, assigned to nobody

[2017-09-21 01:37] Sonic8608 opened #1564 "how to prevent admins from killing owners? [Question]"
EssentialsX version (`/essentials`):

Server software (`/version`):

EssentialsX config (if applicable):

[2017-09-21 02:10] LaxWasHere commented on #1564
It's more of a statement.

[2017-09-21 06:52] mdcfe commented on #1564
Don't give them perms if you're not happy with how they use them? We can't tell you how to run your server.

[2017-09-21 09:12] DarkAgent06 opened #1565 "Cannot enchant unsafe more than once"
I can't enchant with unsafe enchants more than once e.g. [Enchant] * efficiency:10 $50, after I do it twice it says Error: You do not have 1x*. Any fixes? I'm trying to make the prison side of my Ultimate Server (the prison is like 1/24 of the whole server) and I cannot continue, PLEASE HELP ME.

EssentialsX version (`2.0.1-b528`):

Server software (`spigot-1.9.4-R0.1-SNAPSHOT-latest`):

Essential

[2017-09-21 15:13] Sonic8608 commented on #1564
I added the permission node that prevents the owner from being killed but even still you can still kill the owner for some odd reason

[2017-09-21 15:35] mdcfe commented on #1564
If you want a group to not be able to bypass the exemptions, make sure they don't have `essentials.kill.force` and that the exempt group has `essentials.kill.exempt`. If this doesn't solve the issue, please post the groups from your permissions config on [Gist](https://gist.github.com).

[2017-09-21 17:36] madtomic commented on #1558
Thank you both for help. I will give this a try later.