[2018-12-19 01:43] pop4959 commented on #2302
Not sure that this is possible in the game currently. I don't think there is a player ability for swim speed, as there is for walking and flying. I did some investigation into this because I was curious whether it would be doable.

[2018-12-19 08:11] andfont commented on #2294
it is perfectly possible to make a database compatible with all the versions and with little implementation work but you do not want to do it, ok then very badly! I do not agree, my users have many problems with short names! for the poster is a big problem where the solution is the GLOBAL database that can be done perfectly! but you do not want to do it. Well, having started with this information,

[2018-12-19 11:57] mdcfe commented on #2294
I think there's a problem with translation here.

The IDs in `items.csv` don't do anything in Spigot 1.13. **I am working on a way to convert IDs to names when you click on signs.** This will help people moving from 1.12 to 1.13.

If we make IDs work completely again, we will be stuck in the past with random numbers that don't exist any more.

IDs do not exist in 1.13 and will never exist again. U

[2018-12-19 13:02] mdcfe commented on #2309
Duplicate of #1911 - please check the issue tracker before opening an issue.

[2018-12-19 13:02] #2309 closed, assigned to nobody

[2018-12-20 02:09] MWLVegas opened #2311 "Prevent /afk from going to day"
### Feature request

**Feature description**
I'd like to see an option to stop "/afk" from letting people sleep through the night.

**How the feature is useful**
People 'exploit' night by having everyone /afk, and then one person using a bed to skip to day. Having an option to still require "/afk" to sleep would prevent people exploiting the system.

[2018-12-22 14:45] masterX244 commented on #2311
Maybe a variant where afk players have to /afk over or next to a bed to not block skipping night would be a middle line

[2018-12-22 16:31] mdcfe commented on #2170
The `item-spawn-blacklist` appears to work on the latest Paper and EssentialsX prerelease:
[code]

[2018-12-22 16:31] #2170 closed, assigned to nobody

[2018-12-22 16:41] mdcfe commented on #1397
I've tested `/recipe` on Paper 1.13.2, and I can still reproduce the issue that caused the command to be disabled in the first place. `/recipe` won't be re-enabled until we've found a way to prevent the items being moved to the inventory.

In EssentialsX 2.16, you will be able to manually add `force-enable-recipe: true` to your config to prevent the safety check, but **the exploit is still present

[2018-12-22 16:52] mdcfe commented on #2121
I can reproduce this on the following versions:
[code]

and the following teleport-safety settings in `config.yml`:
[code]

[2018-12-22 16:54] mdcfe commented on #2238
Closing as the main issue here is solved.

If the issue with console messages is still occurring, could you open a new bug report?

[2018-12-22 16:54] #2238 closed, assigned to nobody

[2018-12-22 17:08] mdcfe commented on #2187
I can still replicate this:
[code]

I need to overhaul `AbstractItemDb.serialize` - it still uses enums not MaterialUtil. The new method could also move to `MetaItemStack` where the matching deserialization method is already located.

[2018-12-22 17:12] mdcfe commented on #2187
Update: This also occurs with banners.

[2018-12-22 17:14] mdcfe commented on #2200
CLosing as I can't reproduce this on the latest EssentialsX and Paper versions.

[2018-12-22 17:14] #2200 closed, assigned to nobody

[2018-12-22 17:14] mdcfe commented on #2254
Closing as this has been fixed.

[2018-12-22 17:14] #2254 closed, assigned to nobody

[2018-12-22 17:19] mdcfe commented on #2160
Closing due to lack of response. If this is still a problem, feel free to respond and reopen the issue.

[2018-12-22 17:19] #2160 closed, assigned to nobody

[2018-12-22 22:05] kennyrkun commented on #1628
so you're meaning that when the player kills a mob with God active, the mob will not drop its loot?

[2018-12-23 19:40] mdcfe commented on #1931
Closing as I can't reproduce this (on 2.16-pre1.14).

[2018-12-23 19:40] #1931 closed, assigned to nobody

[2018-12-24 15:29] ghost opened #2313 "Overworld bed homes becoming obstructed because of Nether & End vanilla mechanics"
### Information

**Full output of `/ess version`**:
Server version: `1.13.2-R0.1-SNAPSHOT git-Paper-485 (MC: 1.13.2)`
EssentialsX version: `2.16-pre1.11`
LuckPerms version: `4.3.17`
Vault version: `1.7.1-b91`
EssentialsXChat version: `2.16-pre1.11`
EssentialsXGeoIP version: `2.16-pre1.11`
EssentialsXSpawn version: `2.16-pre1.11`

**Server log**: Not necessary.

**EssentialsX config**: Not necessar

[2018-12-24 16:34] mdcfe commented on #2294
In the [latest experimental build](https://ci.ender.zone/job/EssentialsX-Experimental), you can now set `allow-old-id-signs` to `true` in `config.yml`. This allows you to interact with existing `[trade]` signs that were created previously with item IDs. (You cannot create new signs with item IDs.)

[2018-12-24 16:34] #2294 closed, assigned to nobody

[2018-12-24 21:38] smmmadden opened #2314 "EssentialsX subsequent spawn location incorrect"
Using the EssentialsX Experimental builds (2.16-pre1.25) and PaperSpigot 1.13.2 Build 488 behind Waterball build 241 thru 243 (current).
![image](https://user-images.githubusercontent.com/10309346/50406791-2691f080-0799-11e9-8b89-75d59d50508c.png)
My spawnpoint for my world is set to the below for each user type:
![image](https://user-images.githubusercontent.com/10309346/50406799-47f2dc80-0799-11

[2018-12-25 00:18] mdcfe commented on #2314
Can you confirm that this doesn't occur when EssentialsXSpawn is not
present?

On Mon, 24 Dec 2018 at 21:38, Steve Mekkelsen Madden <
notifications@github.com> wrote:

[2018-12-25 02:09] smmmadden commented on #2314
Yes I can confirm that renaming the EssentialsXSpawn.jar to .old **still** sends me to the spawn location in the image above (0,20,0).  I've deleted the playerdata file and the usercache.json file to ensure no cache was being used.

[2018-12-25 03:00] smmmadden commented on #2314
It's not Essentials afterall.  I went through all the config files and found that the latest update to WorldSystem reset the spawn point when leaving the private worlds and returning to the main world.  It was of course set to 0, 20, 0.  Once I updated it, I now go to the correct spawn point.

Apologies for not catching it on my end sooner. -Steve

[2018-12-25 03:00] #2314 closed, assigned to nobody

[2018-12-25 08:23] triagonal commented on #2313
I was able to reproduce this bug on a clean 1.13.2 Paper install with Essentials 2.16-pre1.25 and Vault 1.7.1.
[code]

The video below shows the creation and use of /home bed in the overworld, and then the creation and use of /home bed in the nether.

https://www.youtube.com/watch?v=v30pTDH8A0w
(at the end the chat is a slightly unreadable, but it gives the "Your bed is either unset, missing or bl

[2018-12-26 01:00] Borc55 opened #2315 "Sell using old IDs"
/sell is still using old format. Making only some items sellable, and some totally unsellable, like sugar canes.

[2018-12-26 12:37] Sikatsu opened #2316 "Errors with the afk auto-kick"
### Information

**Full output of `/ess version`**:

[code]

**Error**:

https://pastebin.com/FWG3JNrN

[2018-12-26 12:48] ProblemsSender opened #2317 "What is this command and what it suppose to do?"
These are the commands I mention at the title, please help me clarify its function:
/jump lock
/kittycannon
/nuke
Thanks
*I already know /kittycannon and /nuke are related to explosion, but what kind of it? I used to heard a command that make a TNT rain

[2018-12-26 14:05] mdcfe commented on #2317
`/jump lock` makes you teleport whenever you click on a block.

`/kittycannon` fires (non-damaging) exploding kittens in the direction you are facing.

`/nuke` causes TNT to rain down from the sky around each player.

[2018-12-26 14:05] #2317 closed, assigned to nobody

[2018-12-26 14:09] mdcfe commented on #2316
You haven't provided enough information for us to help. Please fully fill out a [support request](https://github.com/EssentialsX/Essentials/issues/new?template=help.md) including a **full server log** and your `config.yml`.

[2018-12-26 14:09] #2316 closed, assigned to nobody

[2018-12-26 17:51] kennyrkun commented on #2317
the tnt dropped by `/nuke` has never been damaging on my server? I thought it wasn't supposed to do damage?

[2018-12-26 20:28] ProbablySomeone opened #2318 "force-disable-teleport-safety Doesn't "disable teleport safety checks""
### Information

**Version**:
[code]
The server is modded with Thermos by the way, although that's really besides the point.

**EssentialsX config**:

This doesn't really have an affect, but here are the important parts anyway...
[code]

### Details

**Description**
About 90% of the time any player in survival runs a teleport command handled by essentials, essentials will throw an exception unless

[2018-12-26 21:20] mdcfe commented on #2187
I've now made changes to how AbstractItemDb serialises items, but I haven't had the opportunity to test this yet - could you test this on the [latest experimental build](https://ci.ender.zone/job/EssentialsX-Experimental)?

[2018-12-26 21:31] mdcfe commented on #2318
We don't guarantee or provide and support for 1.7; the [README](https://github.com/EssentialsX/Essentials#why-use-essentialsx) highlights clearly which versions of Minecraft we support:

---

The teleport safety checks are intended to run no matter what.

`teleport-safety` controls whether or not the user is teleported to what EssentialsX deems a "safe location" if the location they were originall

[2018-12-26 21:31] #2318 closed, assigned to nobody

[2018-12-26 21:33] mdcfe commented on #2315
Please fill out a proper [support request or bug report](https://github.com/EssentialsX/Essentials/issues/new/choose). There is not enough information here to help.

[2018-12-26 21:33] #2315 closed, assigned to nobody

[2018-12-26 21:40] Sandtato commented on #2187
@md678685 Issue seems to be resolved on latest build.

[2018-12-26 22:42] ProbablySomeone commented on #2318
@md678685 I am well aware of the lack of support for versions below 1.8.8. The problem was about the fact that the check takes place even though its outcome should be entirely ignored when `force-disable-teleport-safety`, which you discussed. If you think the current behavior is correct, then who am I to argue? However, I'd like to note that if `force-disable-teleport-safety` ignores the outcome o

[2018-12-27 05:41] rjohnson98126 opened #2319 "invalid selector/target for kill command"
running latest Spigot 1.13.2, latest EssentialsX release

[code]

i try to run a /kill command (either from the server console, or from a permission-granted admin player

[code]

there is apparently something wrong with Essentials kill understanding the vanilla @e selector.   i am aware that the command /minecraft:kill will behave properly, however because of other plugin dependencies upon Essenti

[2018-12-27 12:17] triagonal commented on #2319
The Essentials `/kill` command can only be used on players. The command that would be best suited to what you'd want is the Essentials `/remove` command (aliases `/butcher`, `/killall`). The `/remove` command can take all entities as arguments, and optionally mob type, radius, and world.

`/kill @e[type=minecraft:skeleton]` becomes `/remove skeleton` (ingame)
`/kill @e[type=skeleton,distance=..99]

[2018-12-28 00:45] PiggiesGoSqueal opened #2320 "Phantoms Bypass /God on Spigot 1.13.2"
### Information

**Full output of `/ess version`**:

[code]

**Server log**: https://gist.github.com/pinkpig3777/79abae7caf6dfb3ea30fd5b11d2fe60e

**EssentialsX config**: https://gist.github.com/pinkpig3777/a0921ed63375a4c5e62522c7da0c7778

### Details

**Description**
Phantoms can kill you when /god is enabled.

**Steps to reproduce**
1. Be on a 1.13.2 server
2. Don't sleep long enough for phanto

[2018-12-28 01:12] LaxWasHere commented on #2320
@pinkpig3777 Could you reproduce this with the 1.13 [build](https://ci.ender.zone/job/EssentialsX-Experimental/) of EssentialsX?

[2018-12-28 01:13] ProMan987 opened #2321 "EssentialsX Spawnmob Tnt Bug With 1.13.2 Spigot"
Server Version: Spigot 1.13.2
Essentails Version: EssentialsX-2.15.0.59

Bug Description: When Using /tnt or /spawnmob they spawn on the palyer location not in the target location when his eyes looking . please fix!

[2018-12-28 01:14] LaxWasHere commented on #2321
Could you reproduce this with the 1.13 [build](https://ci.ender.zone/job/EssentialsX-Experimental/) of EssentialsX?

[2018-12-28 01:21] ProMan987 commented on #2321
yes it worked thanks

[2018-12-28 01:21] #2321 closed, assigned to nobody

[2018-12-28 07:11] ProblemsSender commented on #2317
Hello again, sorry for disturbing-but somehow /jump lock command hasn't work as intended, here's my ess versions
[14:04:41 INFO]: Server version: 1.12.2-R0.1-SNAPSHOT git-Spigot-dcd1643-e60fc34
 (MC: 1.12.2)
[14:04:41 INFO]: EssentialsX version: 2.15.0.57
[14:04:41 INFO]: PermissionsEx version: 1.23.4
[14:04:41 INFO]: Vault version: 1.6.7-b${env.TRAVIS_BUILD_NUMBER}
[14:04:41 INFO]: EssentialsXPro

[2018-12-28 11:15] ProblemsSender commented on #2317
@md678685 and essentials.pvpdelay.exempt, what it suppose to do? I can't find anything as "pvp_delay" in the config files, but the description said "Exempts players from the 'pvp delay' option in the config file."

[2018-12-28 11:17] Xeyame commented on #2317
It probably excempts you from the join or teleport PvP delay

[2018-12-28 12:15] ProblemsSender commented on #2317
And the /jump lock? I can't use this command to right click teleport to block, and essentials.pvpdelay.exempt. As you said it definitely need to use luckperm timed permission to work right? I said that I can't find the exact "pvp_delay" or sort of that in the config file, if I add this permission to a player, does it mean he is protected by pvpdelay.exempt forever?

[2018-12-28 13:04] mdcfe commented on #2317
Correct, this is what it does.

@ProblemsSender Please open and fill out a [support request](https://github.com/EssentialsX/Essentials/issues/new?template=help.md).

[2018-12-28 13:36] mdcfe commented on #2318
We will not be introducing breaking changes to the functionality of the config option.

https://github.com/EssentialsX/Essentials/blob/849efa9756495a34260d57ff1d81df1283e5f5e7/Essentials/src/com/earth2me/essentials/Teleport.java#L122-L131

If `teleport-safety` is set to `false`, EssentialsX will refuse to teleport players to unsafe locations and warn the player. However, if `force-disable-teleport

[2018-12-28 13:41] mdcfe commented on #2320
From some unrelated 1.13 testing I did a couple of days ago, I don't recall this happening, but I'm not certain about this.

[2018-12-28 14:22] ProblemsSender opened #2322 "/jump lock command?"
Related to #2317

Hello again, sorry for disturbing-but somehow /jump lock command hasn't work as intended, here's my ss versions
[14:04:41 INFO]: Server version: 1.12.2-R0.1-SNAPSHOT git-Spigot-dcd1643-e60fc34
 (MC: 1.12.2)
[14:04:41 INFO]: EssentialsX version: 2.15.0.57
[14:04:41 INFO]: PermissionsEx version: 1.23.4
[14:04:41 INFO]: Vault version: 1.6.7-b${env.TRAVIS_BUILD_NUMBER}
[14:04:41 INFO

[2018-12-28 14:28] mdcfe commented on #2322
Please fill out the template, as requested previously; there is not enough detail to help.

---

[code]

[2018-12-28 14:48] ProblemsSender commented on #2322
### Information

Full output of `/ess version`:

[14:04:41 INFO]: Server version: 1.12.2-R0.1-SNAPSHOT git-Spigot-dcd1643-e60fc34
(MC: 1.12.2)
[14:04:41 INFO]: EssentialsX version: 2.15.0.57
[14:04:41 INFO]: PermissionsEx version: 1.23.4
[14:04:41 INFO]: Vault version: 1.6.7-b${env.TRAVIS_BUILD_NUMBER}
[14:04:41 INFO]: EssentialsXProtect version: 2.15.0.57
[14:04:41 INFO]: EssentialsXSpawn version

[2018-12-28 14:52] mdcfe commented on #2322
Could you post screenshots of what happens when:
* you run `/jump lock`,
* you right-click on a block, and
* you run `/jump lock` a second time?

[2018-12-28 14:54] mdcfe commented on #2187
Closing as this appears to be resolved. If this is still occuring, please respond and I'll reopen the issue.

[2018-12-28 14:54] #2187 closed, assigned to mdcfe

[2018-12-28 15:13] ProblemsSender commented on #2322
Pic 1 Jump lock disabled
-https://www.upsieutoc.com/image/GnINc8
Pic 2 Jump lock enabled + right click
-https://www.upsieutoc.com/image/GnIprC
Pic 3 Jump lock+right click survival mode
-https://www.upsieutoc.com/image/GnIJGD
Pic 4 Jump lock+ right click near grass
-https://www.upsieutoc.com/image/GnIL0r
...I think those picture don't proof anything...

[2018-12-28 15:18] ProblemsSender commented on #2322
Bug confirmed, even with op it doesn't work

[2018-12-28 15:21] ProblemsSender commented on #2322
additional question, is it /jump lock only work if we right click to a block that we can see near? if not can you make it? In adventure world there's alot of "death hole" with 2 block tall, if we fall in that is that the end of the player?

[2018-12-28 16:33] triagonal commented on #2322
I was also unsure of what `/jump lock` did when you opened #2317, so I went and looked at the source to figure out exactly what happens. `/jump lock` actually toggles "flying wizard mode", which enables the player to **left-click the air** to jump only when also **flying at the same time**. This is confirmed by the code in EssentialsPlayerListener:
[code]
as well as this comment above the `useFlyC

[2018-12-28 16:54] mdcfe commented on #2322
@triagonal Thanks for writing this up - I was actually about to post an explanation before I got caught up trying to figure out an issue with the `items.json` generator.

[2018-12-28 16:55] ProblemsSender commented on #2322
Thanks for your guiding, but if this is what /jump lock does, it seems it does not so useful, while I test it, it only "jump" horizontally few block, it doesn't help, it's good if we change that to affect to normal player

[2018-12-29 08:53] smokscreen145 opened #2323 "Signs not Working"
### Information

**Full output of `/ess version`**:

[code]

https://gist.github.com/smokscreen145/a11aae4a66fe846449356401c372425c

https://gist.github.com/smokscreen145/885442515a0fa4fb3990143c5d413628

### Details

**Description**
I don't have anywhere in my config to enable the signs. In-game, they don't work. (Buy, sell, etc.)

**Steps to reproduce**
I tried to create a buy sign and when I di

[2018-12-29 12:48] triagonal commented on #2323
The config section that controls signs seems to have been removed, likely accidentally when your config file was edited. To restore functionality, you can add the following somewhere in your config file and uncomment the signs you want to use.
[code]
You can find a clean copy of the default config file [here](https://github.com/EssentialsX/Essentials/blob/2.x/Essentials/src/config.yml).

[2018-12-29 12:49] mdcfe commented on #2323
Thanks for filling out a support request!

---

You appear to have a `config.yml` file that has been edited and saved by the old version of `/createkit`, removing all the instructions in the comments. You can add the `enabledSigns:` section to your config manually:
[code]

However, I'd recommend resetting your config by renaming `config.yml` to `config.yml.old` and running `/ess reload` in your se

[2018-12-29 13:09] mdcfe commented on #2319
Thanks @triagonal for the detailed response.

@rjohnson98126 If you have any further queries, feel free to respond to this, but if your issue is solved, could you close the issue?

[2018-12-29 13:43] mdcfe commented on #2308
`/ess version` output from attached server log:
[code]

@Hardko Are you able to replicate this on the [latest 1.13 prerelease version](https://ci.ender.zone/job/EssentialsX-Experimental)?

[2018-12-29 13:43] TheIntelloBox opened #2324 "1.13.2 connection bug."
### Information

**Full output of `/ess version`**:

[code]
**EssentialsX config**: https://hastebin.com/kuxinekeco.coffeescript

### Details

**Description**
When a player connects to the server, there is no message but when he leaves there is a message.

[2018-12-29 13:47] mdcfe commented on #2324
Thanks for opening an issue.

* Did this problem occur on earlier versions of EssentialsX?
* Could you run `/ess debug`, have a user connect and disconnect then paste the console output?

[2018-12-29 13:49] TheIntelloBox commented on #2324
Sometimes. x)

[14:48:45] [Server thread/INFO]: TheIntelloBox issued server command: /ess debug
[14:48:45] [Server thread/INFO]: [Essentials] attempting to charge user TheIntelloBox
[14:48:45] [Server thread/INFO]: [Essentials] calculated command (essentials) cost for TheIntelloBox as 0
[14:48:45] [Server thread/INFO]: [Essentials] charge user TheIntelloBox completed
[14:48:46] [Server thread/INFO

[2018-12-29 13:57] mdcfe commented on #2324
We don't support offline-mode servers. Let us know if you can replicate this on an online-mode server with only EssentialsX installed.

[2018-12-29 14:03] TheIntelloBox commented on #2324
I tested and yes. x)

[2018-12-29 14:03] mdcfe commented on #2320
@pinkpig3777 Could you replicate this with just EssentialsX installed, preferably with a prerelease build?

[2018-12-29 14:05] mdcfe commented on #2324
Please repeat the steps given above on an online-mode server with just EssentialsX, Vault and your permissions plugin.

[2018-12-29 17:40] mdcfe opened #2325 "Restore item ID permission lookups and /itemdb messages on 1.12 and below"
### Feature request

**Feature description**
Restore permissions lookups based on item IDs and damage values on 1.12.2 and below, as well as showing item IDs in `/itemdb`.

**How the feature is useful**
While item IDsdon't make sense on 1.13, they are often the only way to target specific items/blocks on older versions of Minecraft/Spigot.

[2018-12-29 18:11] Hardko commented on #2308
Hi, the problem with NBT Tag i could solve it, because it was generated by other plugin.
[code]
But, I can't sell lapis lazuli with '/sell hand' command, I put the id (lapis_lazuli) in the worth file and it does not work

[2018-12-29 23:20] pop4959 commented on #2320
Unable to replicate this issue in recent versions of Paper/Essentials
[Short video of it working](https://gyazo.com/2a5322eb79b28684d47fa770c14cf182)

Edit: Noticed he's using 2.15, not 2.16. Probably an issue of being significantly out of date.

[2018-12-30 02:00] axemwa opened #2326 "syncChunkLoad by the looks uses up a fair amount of TPS any chance you could please improve performance in the area?"
### Information

Full output of `/ess version`:

[12:28:46 INFO]: Server version: 1.13.2-R0.1-SNAPSHOT git-Paper-488 (MC: 1.13.2)
[12:28:46 INFO]: EssentialsX version: 2.16-pre1.14
[12:28:46 INFO]: LuckPerms version: 4.3.39
[12:28:46 INFO]: Vault version: 1.7.1-b91
[12:28:46 INFO]: EssentialsXGeoIP version: 2.16-pre1.14
[12:28:46 INFO]: EssentialsXChat version: 2.16-pre1.14

**Server log:**

https

[2018-12-30 04:35] seema84 opened #2327 "not support hiding players"
**Log**
[05:05:08 INFO]: Saved the game
[05:05:40 INFO]: [dynmap] Loading default resource pack
[05:08:32 WARN]: [Essentials] Current server implementation does not support hiding players from server list ping. Update or contact the maintainers.

**Version:**
[05:31:41 INFO]: Server Version: 1.13.2-R0.1-SNAPSHOT git-Spigot-518206a-a5b9c7b (MC: 1.13.2)
[05:31:41 INFO]: EssentialsX Version: 2.16-pre

[2018-12-30 13:30] mdcfe commented on #2320
@pop4959 I couldn't replicate this on a recent (not latest) version of EssentialsX and Paper, and @triagonal couldn't replicate this on several combinations of EssentialsX and servers, including 2.15 (massive shoutout for helping investigate this btw).

[2018-12-30 13:34] mdcfe commented on #2327
This isn't an issue with Dynmap. Paper seems to have changed their server list ping event again, so we'll need to look into updating again.

[2018-12-30 15:48] seema84 commented on #2327
I don't use Paper.

[2018-12-30 17:47] mart-r commented on #2305
I thought changing the line #33 in CommandBalance from
`            final User target = getPlayer(server, args, 0, true, true);`
to
`            final User target = getPlayer(server, args, 0, false, true);`
could be a solution.
However, it turns out that way, you wouldn't be able to to `/balance <player>` for the full name of a vanished player either.

I would therefore suggest the following chang

[2018-12-30 18:49] md678685 commented on #2327
Apologies, I was confusing this with another issue I noticed a while back. I need to look into this particular issue as I'm not entirely familiar with the changes in Spigot.

[2018-12-30 20:47] smokscreen145 commented on #2323
It worked out. Thank you.

[2018-12-30 20:51] mdcfe commented on #2327
Ignore my previous replies - I was thinking of a different issue entirely.

Does this only occur on startup, or does it happen at other times?

[2018-12-30 20:52] mdcfe commented on #2323
Good to hear you solved this.

[2018-12-30 20:52] #2323 closed, assigned to mdcfe

[2018-12-30 20:53] mdcfe commented on #2320
Closing as this cannot be replicated.

[2018-12-30 20:53] #2320 closed, assigned to nobody

[2018-12-30 20:55] mdcfe opened #2330 "Collapse NMS providers into two providers"
### Feature request

**Feature description**
Instead of lots of separate providers requiring 4 separate BuildTools runs, we can collapse these into one provider for 1.8.8 and one provider for 1.9.4.

**How the feature is useful**
This will make it easier for people to compile EssentialsX, especially when they don't intend to use it on older versions below 1.12.

[2018-12-30 20:57] mdcfe commented on #2304
@Resi23 Could you respond with an answer to the above question from kennyrkun?

[2018-12-31 00:34] mrfloris commented on #2327
When you start up the server, I have it show up on 17 of our servers, mind you - we're a tiny bit behind on the jars;

[code]

[2018-12-31 04:07] kennyrkun opened #2331 "InventoryClickEvent puts Skulls on like hats"
### Information

**Full output of `/ess version`**:

[code]

**Server log**: [latest.log](https://gist.github.com/kennyrkun/4e23d3ee928ff026dd6f42a679ad393a)

**EssentialsX config**: [config.yml](https://gist.github.com/kennyrkun/a37e372a1deb7f32efff38d06683a29b)

### Details

**Description**
Essentials allows users with the `essentials.hat` permission and the allow direct hat enabled to put items

[2018-12-31 10:25] Sikatsu commented on #2327
Same issue here, but not just on startup. Also shows up randomly in the console.

[2018-12-31 11:43] TheNety opened #2332 "Command day,night,rain,sun separated permission"
### Feature request

**Feature description**

I would like to suggest separating permissions for /day and /night + /sun and /rain command.
Like essentials.day and essentials.night instead of essentials.time.set.

**How the feature is useful**

People then can't spam these command and do the sky blinking :smile:

[2018-12-31 17:11] kennyrkun commented on #2331
this fix should be as simple as adding ` && event.getCursor().getType() != Material.SKULL_ITEM` to the if statement, right? if it is I can whip up a pull request right now.

[2018-12-31 17:15] kennyrkun commented on #2332
I think this is a good idea, but they should be `essentials.time.day`, `essentials.weather.rain` and such for extra clarity and organisation.

[2018-12-31 17:37] mdcfe commented on #2331
In 2.16 (the 1.13 branch), you need to use `MaterialUtil` to ensure it works across both 1.12 and 1.13.

[2018-12-31 17:42] mdcfe commented on #2332
While I agree with `sun`/`rain` having permissions (under `essentials.weather` as suggested by @kennyrkun), `day` and `night` are more complicated as players could technically run `/time 3892` to set the time as a number. A solution to this is to always check if the player has the permission `essentials.time.<arg>` where `<arg>` is just whatever argument they provided. This would allow server owne

[2018-12-31 17:50] kennyrkun commented on #2331
So the proper check to implement would be  `&& MaterialUtil.isSkull(event.getCursor().getType())` ?

[2018-12-31 18:11] #2223 closed, assigned to mdcfe

[2018-12-31 18:12] mdcfe commented on #2331
Yes - feel free to PR this.

[2019-01-01 11:57] NotGeri opened #2336 "Jail: Break Blocks Option"
### Feature request

**Feature description**

So, I'm a moderator on a server which has around 20-25 players online all the time. Recently we have problems with players stealing and such. Banning them wouldn't be fair, as they played a lot on the server and also payed in real life money. Everyone can get another chance! Our system would be to jail them and let them chop trees until we think they'r

[2019-01-01 16:14] #2325 closed, assigned to nobody

[2019-01-01 16:21] mdcfe commented on #2336
Thanks for opening a feature request!

Out of interest, would bypass permissions work? For example, something like `essentials.jail.allow-break`. This could be more useful for servers that may want different users to have different abilities to break blocks. In contrast, config options would still let you turn this on or off, but aren't configurable per-player or per-group.

In addition, Essential

[2019-01-01 18:45] NotGeri commented on #2336
Ohh thanks!! Yes a permission would work.

[2019-01-02 00:27] Olzie-12 opened #2340 "Nickname per player"

[2019-01-02 00:44] Olzie-12 opened #2341 "Essentials blacklisted colours"
### Feature request

**Feature description**

Make it in the config option so that some colour codes aren’t allowed in your nick
And it will say for the message ‘These current colour codes are banned: whatever’

**How the feature is useful**

So some colours look really awful ‘&1’ and ‘&0’ some players on my server really  don’t like that colour and sometime it can cause epilepsy or make it worse.

[2019-01-02 00:49] Olzie-12 commented on #2341
### Feature request

**Feature description**

Make it in the config option so that some colour codes aren’t allowed in your nick
And it will say for the message ‘These current colour codes are banned: whatever’

**How the feature is useful**

[2019-01-02 03:02] LaughNgamez opened #2342 "Allow specifying amount in /more"
Make "/more" have an input string for the amount you want.

For example "/more 10" would give you 10 of whatever you're holding.

[2019-01-02 19:58] kennyrkun commented on #2340
You can't bypass by using colour codes if it ignores them.

[2019-01-02 20:15] mdcfe commented on #2341
Duplicate of #415 - please search before opening new issues.

[2019-01-02 20:15] #2341 closed, assigned to nobody

[2019-01-02 20:26] rjohnson98126 commented on #2319
my issue isnt solved, but i guess it's not something that essentials is doing.   it's either in spigot 1.13.2 or vanilla mc problem with the /execute command.   im so frustrated lol, but okay i'll close this.

[2019-01-02 20:26] #2319 closed, assigned to nobody

[2019-01-02 20:54] kennyrkun commented on #2342
i have attempted to implement this feature in my fork of essentials.

i made a mistake and did it in the 2.x branch, but I believe if we merge it directly onto the 1.13 branch it will work fine because I implemented the changes from the 1.13 branch.

i don't really know how branching and merging and pull requests work so I haven't opened a PR yet.

[2019-01-03 02:30] ProblemsSender opened #2344 "What is this command and what it suppose to do?"
essentials.sleepingignored
*This seems buggy, while I can't place any block next to it and right click to it when I don't have this permission.

[2019-01-03 02:41] kennyrkun commented on #2344
The player is not required to be sleeping for time to be reset.

This means if the player has this permission, he does not need to be in a bed at night with all the other players in order for the time to be set to day.

[2019-01-03 10:00] mdcfe commented on #1129
This was fixed by 37acdc18f24ddc3fb70c65b1f71de04b9990f1a9 and is present in any recent version. (Thanks to @triagonal for the heads up.)

[2019-01-03 10:00] #1129 closed, assigned to nobody

[2019-01-03 11:43] ADM1N1SH opened #2345 "Asked to submit this console error."
### Information

**Full output of `/ess version`**: *edit by @md678685: plugin not loading*

**Server log**:
[code]

**EssentialsX config**: I have not touched the config since downloading it. It is the standard config for this version.

### Details

**Description**
It's an error message...

**Steps to reproduce**
Downloaded essentials release per advice given to other people. Restarted server aft

[2019-01-03 11:45] ADM1N1SH commented on #2345
None of the other stuff is showing despite filling it out. Was I supposed to delete stuff?

[2019-01-03 12:05] mdcfe commented on #2345
Please run `/ess version` and give us the full output of the command, as requested in the template.

[2019-01-03 12:08] mdcfe commented on #137
This just requires adding another `.replace`:
https://github.com/EssentialsX/Essentials/blob/3b41bb47b6a3315af059168496a84f48099c5159/Essentials/src/com/earth2me/essentials/Kit.java#L166

[2019-01-03 12:12] mdcfe commented on #155
Old issue, but this was heavily improved on 1.13 in EssentialsX 2.16.0 - can anyone confirm if this is still an issue?

[2019-01-03 12:14] mdcfe commented on #217
EssentialsX's `/time` and `/weather` both accept worlds, and you can use the `minecraft:` prefix to force command blocks to use the vanilla command instead.

[2019-01-03 12:14] #217 closed, assigned to nobody

[2019-01-03 12:18] mdcfe commented on #317
Most of our translations have been updated by PRs by now, but there might be some useful changes in these I guess.

[2019-01-03 12:19] mdcfe commented on #385
This is implemented by #1557 - I'll close this when merged.

[2019-01-03 12:23] mdcfe commented on #554
Duplicate of #155.

[2019-01-03 12:23] #554 closed, assigned to nobody

[2019-01-03 12:25] mdcfe commented on #600
If there's still any interest in this, is there anything you'd want that `item-spawn-blacklist` and EssentialsX Protect can't do?

[2019-01-03 12:28] mdcfe commented on #741
The Vietnamese translation was added in 2ced9469d78d94b4d89a7e3f1ab7047465ac163a.

[2019-01-03 12:28] #741 closed, assigned to nobody

[2019-01-03 12:30] #793 closed, assigned to nobody

[2019-01-03 12:31] mdcfe commented on #750
Closing in favour of #1105.

[2019-01-03 12:31] #750 closed, assigned to nobody

[2019-01-03 12:31] mdcfe commented on #838
Closing in favour of #1105.

[2019-01-03 12:31] #838 closed, assigned to nobody

[2019-01-03 13:02] mdcfe commented on #2345
My apologies, I wasn't paying attention (the version command doesn't work if EssentialsX doesn't load). Could you get the output of `/version`?

[2019-01-03 13:09] mdcfe commented on #899
Closing in favour of #155.

[2019-01-03 13:09] #899 closed, assigned to nobody

[2019-01-03 13:11] mdcfe commented on #1190
Closing in favour of #155 for potions and #1283 for fireworks.

[2019-01-03 13:11] #1190 closed, assigned to nobody

[2019-01-03 13:14] mdcfe commented on #893
Closing in favour of PR #881 which implements this (and has further discussion of the idea).

[2019-01-03 13:14] #893 closed, assigned to nobody

[2019-01-03 13:18] mdcfe commented on #1062
One solution could be to send JSON components in chat, as I believe these allow you to use translation strings that the client fills in. However, this would require overhauling how we send messages to players to enable sending components.

[2019-01-03 20:56] #2221 closed, assigned to nobody

[2019-01-03 21:27] compieter-gh opened #2346 "Essentials 2.16.0.1 not working on spigot 1.13.2"
[22:23:23] [Server thread/INFO]: [Essentials] Enabling Essentials v2.16.0.1
[22:23:23] [Server thread/ERROR]: java.lang.ExceptionInInitializerError
[22:23:23] [Server thread/WARN]: java.lang.ExceptionInInitializerError
[22:23:23] [Server thread/WARN]: 	at com.earth2me.essentials.Essentials.onEnable(Essentials.java:175)
[22:23:23] [Server thread/WARN]: 	at org.bukkit.plugin.java.JavaPlugin.setEnabl

[2019-01-03 21:48] SlimeDog commented on #2346
Same...with Spigot 1.13.2 latest and any of
- update of EssentialsX-2.16-pre4.9
- new installation of EssentialsX-2.16.0.0
- new installation of EssentialsX-2.16.0.1
[code]

[2019-01-03 22:11] baticag commented on #2346
Same problem with PaperSpigot 1.13.2
https://pastebin.com/t7wN0YQ8
This server is running Paper version git-Paper-488 (MC: 1.13.2) (Implementing API version 1.13.2-R0.1-SNAPSHOT)

[2019-01-03 22:35] drtshock commented on #2346
Resolved https://github.com/EssentialsX/Essentials/commit/da89efb79fae45c55277a5066d042c50b1b86e41

https://ci.ender.zone/job/EssentialsX/667/

[2019-01-03 22:35] #2346 closed, assigned to nobody

[2019-01-04 00:42] PiggiesGoSqueal opened #2347 "EssentialsX Spawner Shop Signs Spigot 1.13.2"
### Information

Full output of `/ess version`:
https://hasteb.in/jodocudu.css

**Server log:** https://gist.github.com/pinkpig3777/f8ccaef00d0b457b8f5e38bc40ac3119

**EssentialsX config** https://gist.github.com/pinkpig3777/995bdcda48e5faa1122eea72e208d623

### Help request

**Problem**
In EssentialsX for Spigot 1.12 and below, you could sell spawner types like so: https://gyazo.com/4b137ee416832

[2019-01-04 00:54] ADM1N1SH commented on #2345
19:53:36] [Server thread/INFO]: This server is running CraftBukkit version git-Spigot-642f6d2-57ab4cf (MC: 1.12.2) (Implementing API version 1.12.2-R0.1-SNAPSHOT)[m

Thank you for explaining that to me <3

[2019-01-04 02:10] PiggiesGoSqueal opened #2348 "Broken "Sandstone" Sign Shop & Other Sign Shop Bugs"
### Information

**Full output of `/ess version`**: https://hasteb.in/jodocudu.css

**Server log**: https://gist.github.com/pinkpig3777/f8ccaef00d0b457b8f5e38bc40ac3119

**EssentialsX config**: https://gist.github.com/pinkpig3777/995bdcda48e5faa1122eea72e208d623

### Details

**Description**
1. First, "Sandstone" shop signs are broken. If you create a [Buy] sign with that then it'll give you smoot

[2019-01-04 11:25] pop4959 opened #2349 "Can't spawn harming potion item"
### Information

**Full output of `/ess version`**:

[code]

**Server log**: N/A

**EssentialsX config**: N/A

### Details

**Description**
Can't spawn harming potion item

**Steps to reproduce**
Type the command in the screenshot

**Expected behavior**
Spawns a harming potion

**Screenshots**
![https://i.gyazo.com/3e1559407662b7c193190cdc4d4db7f8.png](https://i.gyazo.com/3e1559407662b7c193190cdc4

[2019-01-04 14:27] mdcfe commented on #2345
I believe this was the issue in #2346 - could you update to the [latest EssentialsX release](https://ci.ender.zone/job/EssentialsX) and see if it still occurs?

[2019-01-04 14:29] mdcfe commented on #2349
Could you run `/ess debug` then try spawning the item in again?

[2019-01-04 14:57] mdcfe commented on #2348
Thanks for opening a bug report.

I can definitely replicate the `oaklog` issue - it appears there was a regression when generating the item alias list. In addition, I don't think we ever added shorter aliases for coloured concrete powder, so I've added that to a to-do.

I haven't yet had the opportunity to replicate the sandstone problem, hence the double tag - could anyone else try and replicate

[2019-01-04 17:28] ADM1N1SH commented on #2345
I guess I'm confused here, in the comments where I saw the answer to use this, the version I downloaded was the developer build for 1.13.

So you are telling me to backdate the plugin, which will put me into the problem I had using the latest release in the first place?

I know releases and responses can be a bit mismatched based on dates, so I might just be entirely confused. I'll give it a try a

[2019-01-04 18:51] NorbiPeti opened #2350 "Essentials gives full permission to non-Player CommandSenders"
### Information

**Full output of `/ess version`**:

[code]

**Server log**: -

**EssentialsX config**: -

### Details

**Description**
I have a plugin that uses a custom CommandSender to send messages and run commands, giving the command output for the players. Essentials currently doesn't check if the sender has OP if it's not a player which causes the /list command to show vanished players for

[2019-01-04 20:05] pop4959 commented on #2349
[https://hastebin.com/lodanakodi.md](https://hastebin.com/lodanakodi.md)

[2019-01-04 21:36] robinstiege opened #2351 "/enchant cause java.lang.NoSuchMethodError"
### Information

**Full output of `/ess version`**:

[code]

**Server log**: https://gist.github.com/StiegeRobin/7fd785025ef04402610b5285a943c114

**EssentialsX config**: https://gist.github.com/StiegeRobin/2f6447078b6c0cd898f0d693913df277

### Details

**Description**
Enchanting items won't work.

**Steps to reproduce**
1. Get an item
2. Try /enchant alldamage 1
3. See console error

[2019-01-05 02:48] mibby opened #2352 "NoSuchMethodError: org.bukkit.UnsafeValues.fromLegacy"
EssentialsX dev 668

[code]

[2019-01-05 08:00] triagonal commented on #2348
I was able to replicate the sandstone problem (both the shop sign and /itemdb) using the following:
[code]
Console output with `/ess debug`:  https://hastebin.com/mifekehiqe.md
(spacing around ingame chat for better readability)

[2019-01-05 11:42] YanisBft opened #2353 "All players can see all warp names via command autocompletion"
### Information

**Full output of /ess version:**

Server version: 1.13.2-R0.1-SNAPSHOT git-Paper-493 (MC: 1.13.2)
EssentialsX version: 2.16.0.4
PermissionsEx version: 1.23.4
Vault version: 1.6.7-b${env.TRAVIS_BUILD_NUMBER}
EssentialsXChat version: 2.16.0.4
EssentialsXSpawn version: 2.16.0.4

### Details

**Description:** All players, including non-op players, can see the names of all the warps cr

[2019-01-05 13:55] mdcfe commented on #2345
No, we've officially released EssentialsX 2.16 now, and so the builds I linked above are more up-to-date than the experimental builds (which have been removed).

I notice that your error log is from a 1.13.x server, but your `/version` command seems to be from a 1.12.2 server - could you clarify what server you're running?

[2019-01-05 13:59] axemwa opened #2354 "Feature Request: Please allow for PAPI placeholders to be used in the MOTD.txt"
### Feature request

**Feature description**

I suggest adding a feature that allows placeholderapi placeholders to be read from the motd.txt
**How the feature is useful**

Placeholders have many uses one of them could be that you want players that are in a certain rank appear in the MOTD, for highscores, which admins are online etc

[2019-01-05 15:05] #2349 closed, assigned to mdcfe

[2019-01-05 15:07] mdcfe commented on #2348
Thanks for opening an issue about these. I've addressed all of these concerns in 97cc3d00661664debfac791f06a6b94ee22c7907 - update to 2.16.0.5 or newer at [the build server](https://ci.ender.zone/job/EssentialsX/).

[2019-01-05 15:11] mdcfe commented on #2349
Thanks for reporting this - I accidentally mapped the vanilla `harming` potion to `PotionType.INSTANT_HARMING` (which doesn't exist) instead of `PotionType.INSTANT_DAMAGE`. This is fixed in 97cc3d00661664debfac791f06a6b94ee22c7907 and in the latest builds.

[2019-01-05 15:21] mdcfe commented on #2351
Could you update to [2.16.0.6 or later](https://ci.ender.zone/job/EssentialsX) and see if this is resolved?

[2019-01-05 15:26] robinstiege commented on #2351
Yes, this fixed it. Thank you!

[2019-01-05 15:27] mdcfe commented on #2351
No worries - glad to hear this fixed the issue.

[2019-01-05 15:27] #2351 closed, assigned to mdcfe

[2019-01-05 15:30] mdcfe commented on #2352
I've pushed fd01b75c33ca13354226f0d52cc2cb0eaebb16aa - could you update to [2.16.0.7 or later](https://ci.ender.zone/job/EssentialsX) and see if this is resolved?

[2019-01-05 15:34] mdcfe commented on #2354
This was in progress (see #1945), but hasn't been touched recently due to the complexity of implementing it. I think PlaceholderAPI integration may need to wait until we're ready to do larger work on message sending in general (which could also enable JSON formatting etc).

[2019-01-05 15:41] robinstiege opened #2355 "/pay uses wrong currency format (decimals)"
### Information

**Full output of `/ess version`**:

[code]

**EssentialsX config**: https://gist.github.com/StiegeRobin/71f4c04d9df8aa123d96a4bc79538ca3

### Details

**Description**
The command `/pay` doesn't take care of the `currency-symbol-format-locale` setting. When a player want to pay 50 cents seperated with a comma (like it's also displayed with `/money`), they will pay 50 euro instead.

[2019-01-05 15:45] #2353 closed, assigned to nobody

[2019-01-05 15:48] mdcfe commented on #2353
This is fixed in bd8ef2a25d50fc6e0579ff7c66496a5cc196eda3 - download version 2.16.0.8 or later from the [build server](https://ci.ender.zone/job/EssentialsX).

[2019-01-05 15:53] YanisBft commented on #2353
Oh, already fixed! Thanks a lot!

[2019-01-05 16:01] mdcfe commented on #2355
Thanks for opening a bug report.

EssentialsX currently removes all characters except the digits 0-9 and a decimal point:
https://github.com/EssentialsX/Essentials/blob/bd8ef2a25d50fc6e0579ff7c66496a5cc196eda3/Essentials/src/com/earth2me/essentials/commands/Commandpay.java#L40

It then uses Java's `BigDecimal` to parse the resulting amount into an actual money value:
https://github.com/EssentialsX

[2019-01-05 16:57] robinstiege commented on #2355
Okay, I understand the problem. I tried the following:

[code]

This gives me `1234.5` when I put "1.23XYZ4,50" and should be okay for further use.

[2019-01-05 17:06] #2330 closed, assigned to nobody

[2019-01-05 17:07] axemwa commented on #2354
ah ok should I close this then since one is already open?

[2019-01-05 17:17] mdcfe commented on #2354
I'd keep this open for now, since it's specifically for text files (rather than the whole plugin).

[2019-01-05 17:28] axemwa commented on #2354
Agreed :)

[2019-01-05 17:37] mdcfe commented on #2347
97cc3d00661664debfac791f06a6b94ee22c7907 and 4adb669cddf7bb57799864ffc3710db1f508da8e add support for spawners on 1.13+ - aliases such as `pigspawner` and `blazecage` are now recognised.

Edit: you can download EssentialsX 2.16.0.11 or newer from the [build server](https://ci.ender.zone/job/EssentialsX).

[2019-01-05 17:47] mdcfe commented on #2308
Can you reproduce this on the [latest version of EssentialsX](https://ci.ender.zone/job/EssentialsX)?

[2019-01-05 18:13] PiggiesGoSqueal commented on #2347
@md678685 It doesn't appear to be fixed. I used this EssentialsX build: https://ci.ender.zone/job/EssentialsX/lastStableBuild/

I tried the following sign setups:
https://gyazo.com/ce2552b41b18bc30d45194b6ff88b50c

[2019-01-05 18:15] mdcfe commented on #2327
@seema84 @mrfloris @Sikatsu If possible, could you update to [2.16.0.13 or newer](https://ci.ender.zone/job/EssentialsX) and paste the error that occurs (if any)?

[2019-01-05 18:16] mdcfe commented on #2347
Did you try typing the items in lowercase?

[2019-01-05 18:25] PiggiesGoSqueal commented on #2347
Yes, I just did. Still doesn't work.

Now using the latest EssentialsX version (not the one before).
 /ess version: https://gyazo.com/8e16bc7c42712209e7e9c185e1b28f26

Also, it's somewhat unrelated but it is still regarding sign shops:
Oak sapling, birch sapling, acacia sapling, jungle sapling, and dark oak sapling buy & sell signs are broken. The buy signs will take money but not give any items.

[2019-01-05 18:41] mdcfe commented on #2347
@pinkpig3777 Could you try deleting your `plugins/Essentials/items.json` file and recreating it? It seems like that file isn't getting updated automatically.

[2019-01-05 18:43] #2313 closed, assigned to nobody

[2019-01-05 18:50] mdcfe commented on #2331
Fixed in dd41b10522b512a450a97907f36bd71fd8cd6554 - you can download 2.16.0.16 from the [build server](https://ci.ender.zone/job/EssentialsX/).

[2019-01-05 18:50] #2331 closed, assigned to nobody

[2019-01-05 19:28] Sikatsu commented on #2327
I don't have anything else then this:

05.01 20:28:11 [Server] INFO Enabling EssentialsGeoIP v2.16.0.3
05.01 20:28:11 [Server] INFO This product includes GeoLite2 data created by MaxMind, available from http://www.maxmind.com/.
05.01 20:28:11 [Server] INFO Enabling EssentialsSpawn v2.16.0.3
05.01 20:28:11 [Server] INFO Enabling PremiumVanish v2.4.1
05.01 20:28:11 [Server] WARN Current server imple

[2019-01-05 19:33] mdcfe commented on #2327
@Sikatsu You're running 2.16.0.*3* - the message was changed in 2.16.0.*13*.

[2019-01-05 19:46] Sikatsu commented on #2327
Whoops sorry! I'll have to check later.

[2019-01-05 20:11] andris155 opened #2357 "/clearinventory player item name not work 1.13.2"
### Information

**Full output of `/ess version`**:

[code]

**Server log**:
I upload if need this.

**EssentialsX config**:
https://pastebin.com/BxzYuWaX

### Details

**Description**

/clearinventory player item name not work 1.13.2

**Steps to reproduce**

1. place ender pearl to inventory
2. write /ci name ender_pearl
3. Ender pearl not cleared.

**Expected behavior**

Clear item

**Screenshot

[2019-01-05 21:22] PiggiesGoSqueal commented on #2347
@md678685 Apologies for the late reply. That fixed it, thank you!

EDIT: skeletonspawner and SkeletonSpawner doesn't work. But blazecage does. So my issue has been fixed, but I'd still recommend adding those aliases or other people may create bug reports / have trouble.

[2019-01-05 21:50] PiggiesGoSqueal commented on #2348
@md678685 Thank you, everything has been fixed **except** adding shorter enchanted god apple aliases.

Alias Ideas: GodApple, NotchApple, EnchGodApple

I updated to the latest EssentialsX version and deleted my plugins/Essentials/items.json file.

/ess version: https://gyazo.com/1bcee274449128528a09a9277ddfa1dc

[2019-01-06 10:04] DoNotSpamPls opened #2358 "Replace the Methods interface with a direct hook to VaultAPI"
**Feature description**
Back in the day when Essentials was created, the Methods interface may have been useful, as it interfaced with multiple economy plugins (BOSEconomy, iConomy, etc.). However, any modern economy plugin now supports Vault (shown by Vault being the only method currently available).

**How the feature is useful**
Essentials won't have to have the whole plugin as a dependency any

[2019-01-06 11:38] LaxWasHere commented on #2358
https://github.com/EssentialsX/Essentials/commit/bef440760a168bfcc00390db9309bea415284bf0 ?

[2019-01-06 11:41] mdcfe commented on #2348
I'll reopen this until I've added new golden apple aliases.

[2019-01-06 11:43] mdcfe commented on #2347
Somehow I managed to miss the word "spawner" in all the aliases - I'll add these when possible. For now, you can use `skeletoncage` or similar.

[2019-01-06 11:48] mdcfe commented on #2358
We've already removed the old plugin libraries, so that's not an issue.

The main reason I'd argue we should keep using the Register interfaces is that we can adapt them to use Reserve if/when that becomes worthwhile. Unlike Vault, Reserve supports BigDecimals, though I don't think it's likely we'll add support any time soon due to low adoption.

[2019-01-06 12:19] Andronachi-Marian opened #2359 "Warning and Afk problems."
### Information

**Full output of `/ess version`**:
[code]

**1: Warning**
[code]
**2: Auto-AFK**

[code]

[2019-01-06 14:10] seema84 commented on #2327
https://pastebin.com/bdG0iuGD

[2019-01-06 14:22] DoNotSpamPls commented on #2358
I don't think Reserve will ever get a high enough adoption - Vault has been the de-facto economy API for half a decade now, and it's unlikely anything will replace it in the forseeable future. Also, the Vault API is open source, so a PR could always be made to add methods supporting BigDecimals.

[2019-01-06 14:27] DoNotSpamPls commented on #2359
What is your `server.properties` file. It has an AFK kick timeout there as well.

[2019-01-06 17:04] aeyu opened #2360 "item spawn blacklist IDs"
### Information

Full output of `/ess version`:

Server version : 1.13.2-R0.1-SNAPSHOT git-paper-492 (MC: 1.13.2)
EssentialsX version: 2.16.0.16
LuckPerms version: 4.3.64
Vault version: 1.7.1-b91
EssentialsXProtect version: 2.16.0.16
EssentialsXChat version:  (same for Chat, GeoIP, AntiBuild, Spawn and XMPP)

**Server log:**

https://gist.github.com/aeyu/5c7f0139419bee6fad87e96a92a9e67b

**Essenti

[2019-01-06 17:31] kennyrkun commented on #2360
As of Essentials 2.16, support for numerical item ID has been dropped. Instead, you must use full item names.

Your server log and your config both report you're still using numerical item IDs in the configuration. Have you tried completely closing the server, changing the IDs to item names, saving, and then restarting?

[2019-01-06 17:55] aeyu commented on #2360
You mean insert bedrock/BEDROCK/minecraft:bedrock in place of 7 in item-spawn-blacklist ?
Of course.
Wanna see logs ?

PS : if the issue is related to that then config.yml shall be changed to not suggest to add numeral item ID in item-spawn-blacklist

[2019-01-06 17:58] kennyrkun commented on #2360
The logs you provided show that the config is still using numerical IDs on server startup.

Yes, I'd like some logs with the proper item names.

[2019-01-06 18:08] aeyu commented on #2360
Here we go with bedrock :

log  https://gist.github.com/aeyu/e3bb270354792bc3439c7621be49f899
conf  https://gist.github.com/aeyu/e1efeba8ff8dc5ec37a95fef6ded597d

PS : When I said

It's related to this in config.yml :

 e.g item-spawn-blacklist: 10,11,46
item-spawn-blacklist:

[2019-01-06 18:18] kennyrkun commented on #2360
Looking at the code in [FlatItemDb.java.get](https://github.com/EssentialsX/Essentials/blob/4adb669cddf7bb57799864ffc3710db1f508da8e/Essentials/src/com/earth2me/essentials/items/FlatItemDb.java#L99-L139_) and [FlatitemDb.getByName](https://github.com/EssentialsX/Essentials/blob/4adb669cddf7bb57799864ffc3710db1f508da8e/Essentials/src/com/earth2me/essentials/items/FlatItemDb.java#L141-L150), and jud

[2019-01-06 18:37] aeyu commented on #2360
Thanks !
But what should I do to solve it?
(Sorry I'm no dev :/)

[2019-01-06 18:47] kennyrkun commented on #2360
we'll have to wait for confirmation from a developer who knows what they're doing, then see if they're willing to fix it or if someone needs to open a pull request to fix it.

[2019-01-06 19:21] Andronachi-Marian commented on #2359
No, is player-idle-timeout=0;
And the message is: {PLAYER} lost connection: You have been kicked for idling more than 10 minutes.
I don't think is from spigot.

[2019-01-06 19:27] aeyu commented on #2360
New issue !
Per suggestion of https://github.com/EssentialsX/Essentials/issues/2347#issuecomment-451680324 I removed items.json to allow a new file to be created.

items number from items.json then switched from 17746 to 18410.
Also, I've noticed that something appeared between
[Server thread/INFO]: [EssentialsAntiBuild] Enabling EssentialsAntiBuild v2.16.0.16
and
[Server thread/INFO]: [Essentials

[2019-01-06 19:35] kennyrkun commented on #2360
makes sense, seeing as item.json does not contain any entry titled "lava". is there anywhere that `lava` is specifically mentioned in a config file?

[2019-01-06 21:38] aeyu commented on #2360
Yeah in default config.yml (in mine too btw) ;-) :
https://github.com/EssentialsX/Essentials/blob/2.x/Essentials/src/config.yml

on-placement: LAVA,TNT,LAVA_BUCKET

and

    # Which blocks should people be prevented from placing?
    placement: LAVA,TNT,LAVA_BUCKET

[2019-01-07 03:54] Blatower21 commented on #2348
A similar problem happens with the mossy_cobblestone, all aliases (mcobble,mosscobble,mosscobblestone,mosscstone and the others) give you mossy_cobblestone_wall so is not possible create a [Buy] sign that allow you buy mossy_cobblestone.

Another item that cant be in a sign is popped_chorus_fruit that the only aliase is poppedchorusfruit and neither fits in a sign.

fermented_spider_eye the same.

[2019-01-07 13:36] MithrandirCraft commented on #1105
+1 (just wanna follow this ticket.)

[2019-01-07 14:34] aeyu commented on #115
Bump !
Would be a GREAT idea imho.

[2019-01-07 22:49] mdcfe commented on #2360
`items.json` doesn't include non-spawnable materials any more. This could be reverted, but we should also check with the Bukkit `Materials` before giving up.

[2019-01-08 10:14] Madis0 commented on #1836
+1 for Crowdin, it is the easiest to use translation interface IMO. It would also help leading confused translators to the maintained plugin as the [old one is still not marked as deprecated](https://crowdin.com/project/essentials-2).

That's what proofreaders are for. For example, LineageOS [only uploads translations when they are accepted](https://wiki.lineageos.org/translate-howto.html):

[2019-01-08 15:54] mdcfe commented on #1836
@Madis0 The translation project you linked is for the original Essentials. EssentialsX doesn't control that page so we can't add any warning messages there.

The other issue is that we tend to have very few contributors willing to proofread, especially compared to larger projects like LineageOS that have a much larger installed base. For us, translation PRs often stay open until several people hav

[2019-01-08 20:50] FrezzCrisis opened #2362 "Amount of Kits"
### Feature request

**Feature description**

Command /kit (kit) (player) (amount), in (amount) would be the number of times the kit will be given to someone, this command would work to give several times a kit without having to use many times the command.

**How the feature is useful**

This command would be more useful for owners of servers, they would not have the need to create several kits th

[2019-01-08 20:57] mdcfe commented on #2362
I don't see many people needing this. You can easily just press up to repeat the command, or you can set up an alias with `commands.yml` or a plugin to do this for you.

[2019-01-09 01:20] stones2345 opened #2366 "items.csv not working in 2.16.0.3 for 1.12.2"
The problem is that in starting essentials doesnt found many ids and it doesnt work for /i and /give commands!
### Information

[22:18:56 INFO]: Server version: 1.12.2-R0.1-SNAPSHOT git-Spigot-dcd1643-e60fc34 (MC: 1.12.2)
[22:18:56 INFO]: EssentialsX version: 2.16.0.3
[22:18:56 INFO]: PermissionsEx version: 1.23.4
[22:18:56 INFO]: Vault version: 1.7.1-b91
[22:18:56 INFO]: EssentialsXProtect versio

[2019-01-09 02:56] SoraShiunin commented on #2366
Also having this problem.

[2019-01-09 08:00] DoNotSpamPls commented on #1836
There is progress on the issue - EssentialsX now has a Crowdin project over [here](https://crowdin.com/project/essentialsx-official). However, please wait a bit before translating so we can fix all the little issues that may arise.

[2019-01-09 11:56] resi23 commented on #2304
Sorry, I forgot. Yes, that is with all commands. After restarting, I can run both commands again. Although he should still have cooldown.

command-cooldowns:
  skull: 604800
  signup: 604800

[2019-01-09 12:56] takatalvi commented on #2327
Adding my input for the same issue:
https://hasteb.in/apovodux.md

`[05:40:47 WARN]: [Essentials] Could not hide vanished players while handling org.bukkit.event.server.ServerListPingEvent
java.lang.UnsupportedOperationException: null
at org.bukkit.event.server.ServerListPingEvent.iterator(ServerListPingEvent.java:144) ~[minecraft_server.jar:git-Spigot-f56e2e7-f17d591]
at com.earth2me.essentials.E

[2019-01-09 13:59] mdcfe commented on #2327
It appears that Spigot no longer seems to support this ServerListPingEvent API - I haven't been able to find a Spigot/CraftBukkit implementation of the event that actually includes an iterator (though I'm sure there *used* to be one, so I don't know what happened).

[2019-01-09 14:04] mdcfe commented on #2366
This has already been fixed - download the [latest build from the build server](https://ci.ender.zone/job/EssentialsX/).

[2019-01-09 14:04] #2366 closed, assigned to nobody

[2019-01-09 15:11] #2348 closed, assigned to mdcfe

[2019-01-09 15:57] Phoenix616 commented on #2029
Could also just use [Player#getLocale](https://hub.spigotmc.org/javadocs/spigot/org/bukkit/entity/Player.html#getLocale--) for that to just use the client's language.

[2019-01-09 16:10] ProblemsSender opened #2368 "/mail /msg /r /ignore could be used on player's nick instead of username(suggestion)"
Player's nickname was just perks in essentials for a very long time since it's born, today it must be changed, to make it more useful even for securing player's profiles, it would be a term for nick like this
completely_mask_username: true/false
If true, any output of such commonly commands /mail, /r, /msg, /ignore will be required the exact nickname, no longer username is used. This was just the

[2019-01-09 19:36] Telkir commented on #162
See also #1153

Bumping this issue to say that with EssentialsX loaded, the `silent-commandblock-console: true` setting present in the `spigot.yml` file of Spigot and PaperSpigot servers is ignored, allowing command blocks to potentially create heavy log spam.

This may not be a problem for all servers but as soon as you have any repeat CBs in your world, log spam could potentially lead to exceedi

[2019-01-09 19:53] Lunatik934 opened #2369 "I use 1.8.8"
Hey, I use 1.8.8 version and my ancient kits.yml not work with the new update :(

[2019-01-09 20:22] #2369 closed, assigned to nobody

[2019-01-09 20:26] Lunatik934 opened #2370 "enchant not work"
Hey,

depth_strider enchant not work on 1.8 server with the last update can you fix this please !

[2019-01-09 20:28] #2370 closed, assigned to nobody

[2019-01-09 21:11] mdcfe commented on #2368
This is not what the word "nickname" means. A nickname is what you choose to be called, but it doesn't hide who you are.

There are probably very hacky plugins that will break **everything** to try and do what you described, but EssentialsX will not be rewriting half of the Minecraft server to do something that less than 1% of servers would ever bother to use.

[2019-01-09 21:11] #2368 closed, assigned to nobody

[2019-01-09 21:12] mdcfe commented on #2369
If you need support, please [fill out a support request template](https://github.com/EssentialsX/Essentials/issues/new/choose).

[2019-01-09 21:38] mdcfe commented on #2370
Please update to the [latest build](https://ci.ender.zone/job/EssentialsX) on the **build server**.

[2019-01-10 07:45] DoNotSpamPls commented on #2326
This can't really be truly fixed, the only things that can be done are either preload the world or implement PaperLib in EssentialsX (and I might try to make a PR for that when I can)

[2019-01-10 11:19] DoNotSpamPls commented on #2326
Update: I've been tinkering with this, and here are my results; using PaperLib for async teleportation (which includes async chunk loading) works *really well*, but there is one catch - it only improves performance for already generated chunks. What that means is, if you /tppos to a position where there is an ungenerated chunk, that chunk will still be generated sync. You can't really overcome thi

[2019-01-10 12:04] joeridukker opened #2372 "fly safelogin"
I gave players with permission essentials.fly the permission essentials.fly.safelogin. However, players that logout out while in fly mode do not get their fly on login but fall down. This issue is caused my multiverse core plugin overriding essentialsx behaviour I think. Because when i added the permission mv.bypass.gamemode.Skyblock people ARE put in fly mode as it should be. Is there any way to

[2019-01-10 14:24] axemwa commented on #2326
this is a great idea nice work!

[2019-01-10 16:55] DesperoKF opened #2373 "EssentialsX Spawn"
I have Spigot 1.12.2 (its a Bungeecord server)
EssentialsX-2.16.0.26
EssentialsXChat-2.16.0.26
EssentialsSpawn-2.16.0.26

I am on my Lobby Server and i execute /setspawn. Result: Spawn set to default
My problem is that I do not spawn at join. there where I last logged out

spawn.yml
[code]

### My Spawn Config (EssentialsX config.yml)
[code]

[2019-01-10 19:15] Boastful1353 opened #2374 "Multihome Groups Cause Corrupt Config"
### Information

**Full output of `/ess version`**:
[Thu, 10. Jan 2019 19:09:55 UTC INFO] CONSOLE issued server command: /ess version
[Thu, 10. Jan 2019 19:09:55 UTC INFO] Server version: 1.13.2-R0.1-SNAPSHOT git-Spigot-947a8e7-3a91182 (MC: 1.13.2)
[Thu, 10. Jan 2019 19:09:55 UTC INFO] EssentialsX version: 2.16.0.26
[Thu, 10. Jan 2019 19:09:55 UTC INFO] LuckPerms version: 4.3.17
[Thu, 10. Jan 2019

[2019-01-10 19:20] darbyjack commented on #2374
Hey there,

I just tested myself and confirm that it works. One thing I noticed is that on the first two entries, you don't have a space between the `twohomes:2` where it should be `twohomes: 2`

I went ahead and recreated this so maybe you can just copy and paste it for your use:

[code]

[2019-01-10 19:23] Boastful1353 commented on #2374
that seems to have done the trick. That's strange that the parser didn't care before, then suddenly it was broken.

[2019-01-10 19:23] #2374 closed, assigned to nobody

[2019-01-10 19:28] darbyjack commented on #2373
Hey there,

I just tested this myself and was able to make it work.

Please make sure you double check your settings to they match this:

`spawnpoint: default`

`spawn-on-join: true`

My guess is that since you have it commented out, it is just not seeing those values. When I told it to make the spawn point default and set it to `true` it worked like a charm. Hope this helps!

[2019-01-10 19:31] Boastful1353 opened #2375 "org.bukkit.event.server.ServerListPingEvent java.lang.UnsupportedOperationException: null"
### Information

**Full output of `/ess version`**:
[Thu, 10. Jan 2019 19:28:54 UTC INFO] CONSOLE issued server command: /ess version
[Thu, 10. Jan 2019 19:28:54 UTC INFO] Server version: 1.13.2-R0.1-SNAPSHOT git-Spigot-f56e2e7-4385562 (MC: 1.13.2)
[Thu, 10. Jan 2019 19:28:54 UTC INFO] EssentialsX version: 2.16.0.26
[Thu, 10. Jan 2019 19:28:54 UTC INFO] LuckPerms version: 4.3.17
[Thu, 10. Jan 2019

[2019-01-10 19:32] darbyjack commented on #2357
Hey there,

I just tested myself and found out how to fix this. So you ALMOST have the command correctly. When you do `/ci <name> <item>` you also need to provide a number to it, so for example, I placed a single ender pearl in my inventory, and I did `/ci <name> ender_pearl 1` and it removed that ender pearl!

Hope this helps.

[2019-01-10 19:33] mdcfe commented on #2352
This appears to be resolved in the aforementioned versions.

[2019-01-10 19:33] #2352 closed, assigned to nobody

[2019-01-10 19:36] mdcfe commented on #2359
@Andronachi-Marian For updates on the ServerListPingEvent error, follow #2327.

I think the auto AFK kick setting ignores your AFK status? (Correct me if this isn't the intended behaviour)

[2019-01-10 19:37] mdcfe commented on #2375
Duplicate of #2327. CraftBukkit and Spigot don't seem to support modifying the player list on the Multiplayer screen in Minecraft any more. You can ignore this particular error for now.

[2019-01-10 19:37] #2375 closed, assigned to nobody

[2019-01-10 20:39] mdcfe commented on #2327
It turns out that these errors are actually caused by, uh... a packet that Minecraft hasn't used for over 5 years.

We currently support [CraftBukkit's internal ServerListPingEvent](https://hub.spigotmc.org/stash/projects/SPIGOT/repos/craftbukkit/browse/nms-patches/PacketStatusListener.patch#28) and Paper 1.12.x's extended SLPE. This is fine, because every server from 1.7 onwards uses these classe

[2019-01-10 21:53] DesperoKF commented on #2373
i change it to, but no change. I spawn same place who i logged out.

Can you send me your config and spawn.yml ?

[2019-01-10 22:04] md-5 commented on #2327
The event is not incomplete. The API documentation explicitly states that the implementation will throw an UnsupportedOperationException in this case: https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/event/server/ServerListPingEvent.html#iterator-- (and yes, that documentation has been around for five years https://hub.spigotmc.org/stash/projects/SPIGOT/repos/bukkit/diff/src/main/java/org/bukki

[2019-01-11 00:45] kennyrkun commented on #2357
Don't you think it should clear all the items of that type if no number is provided?

[2019-01-11 07:17] andris155 commented on #2357
It works perfectly with the number. Thanks for help.

[2019-01-11 07:17] #2357 closed, assigned to nobody

[2019-01-11 14:43] axemwa opened #2376 "Got this WARN at server start with latest Essentials and Essentials GEOIP dev builds am I missing something?"
[01:14:22 INFO]: Server version: 1.13.2-R0.1-SNAPSHOT git-Paper-498 (MC: 1.13.2)
[01:14:22 INFO]: EssentialsX version: 2.16.0.26
[01:14:22 INFO]: LuckPerms version: 4.3.73
[01:14:22 INFO]: Vault version: 1.7.1-b91
[01:14:22 INFO]: EssentialsXGeoIP version: 2.16.0.26
[01:14:22 INFO]: EssentialsXChat version: 2.16.0.26

[01:08:15] [Server thread/WARN]: [com.fasterxml.jackson.databind.ext.Java7Suppor

[2019-01-11 15:55] #2373 closed, assigned to nobody

[2019-01-11 15:57] darbyjack commented on #2376
Are you using Java 7?

[2019-01-11 22:25] mdcfe commented on #2373
@DesperoKF Did you solve your issue?

[2019-01-12 04:46] axemwa commented on #2376
no, java 8

[2019-01-12 10:08] DoNotSpamPls commented on #1539
You can add the `essentials.nick.allowunsafe` permission to allow non-alphanumeric characters in nicknames (including Chinese characters). This version works with EssentialsX version 2.16.0 or newer

[2019-01-12 10:16] DoNotSpamPls commented on #1684
This issue should've been resolved with the release of the 2.16.0 version

[2019-01-12 11:04] karlheidar opened #2377 "spawner only spawns friendly mobs"
Mob spawners aren't spawning any hostile mobs (except for the Iron Golem). I am seeing absolutely zero console errors so I don't know what to do.
EssentialsX-2.16.0.26.jar
Spigot-Paper-489 (1.13.2)

[2019-01-12 11:51] Xeyame commented on #2377
Maybe your game is set on peaceful? Are you using any other plugins?

[2019-01-12 13:16] #1684 closed, assigned to nobody

[2019-01-12 13:16] #1539 closed, assigned to nobody

[2019-01-12 13:17] mdcfe commented on #1539
@hou0122 If you have any further questions, let us know and I'll reopen this.

[2019-01-12 13:21] mdcfe commented on #2377
You havent provided us with any useful information to help solve this.

Please fill out the [appropriate issue template](https://github.com/EssentialsX/Essentials/issues/new/choose), including the *actual output* of `/ess version` and a full server startup log.

[2019-01-12 13:21] #2377 closed, assigned to nobody

[2019-01-12 13:22] mdcfe commented on #2376
Are the GeoIP features working correctly? If so, I imagine you can ignore this.

[2019-01-12 13:58] axemwa commented on #2376
Yeah it still says what country ppl are from so I guess it's working fine, but the warn gets a little annoying, I'll manage, I'm sure it will be removed eventually anyway

[2019-01-12 14:02] mdcfe commented on #2376
When/how often does the error message appear? I don't think there's anything we can do about this.

[2019-01-12 14:49] axemwa commented on #2376
Everytime I start the server, it never used to show in previous dev builds

[2019-01-12 15:51] mdcfe commented on #2327
@md-5 The reason this error is displayed is to alert server owners that EssentialsX wasn't able to hide players from the ping event. Several plugins send their own `ServerListPingEvent` implementations for varoius reasons, and by throwing this error we can alert server owners that vanished players might be visible somewhere, and as a result we can deal with reports by either selectively ignoring e

[2019-01-12 17:19] #2327 closed, assigned to nobody

[2019-01-12 17:43] mdcfe commented on #2376
I just checked and we recently upgraded the Maxmind GeoIP library, and for some reason this message now shows up. This message can be ignored, as it doesn't affect how the plugin works.

[2019-01-12 17:43] #2376 closed, assigned to nobody

[2019-01-12 18:41] mdcfe commented on #2327
This error should no longer appear - please [update to the latest build](//ci.ender.zone/job/EssentialsX). Once again, thanks to everyone who reported this and provided logs.

[2019-01-12 21:40] mdcfe commented on #2360
Both blocks not working in `protect` lists and items failing to be recognised in `item-spawn-blacklist` should now be resolved.

@aeyu Could you [update to the latest build](https://ci.ender.zone/job/EssentialsX/) and delete your `items.json` file again, and see if the errors still occur?

[2019-01-12 23:59] PiggiesGoSqueal commented on #2347
@md678685 MooshroomCage doesn't work btw for spawner shop signs. All other mobs work though.

[2019-01-13 01:28] karlheidar commented on #2377
13.01 02:23:10 [Multicraft] Starting server!
13.01 02:23:10 [Multicraft] Loaded config for "PaperSpigot-500"
13.01 02:23:10 [Server] INFO Patching original jar...
13.01 02:23:13 [Server] INFO System Info: Java 1.8 (OpenJDK 64-Bit Server VM 25.191-b12) Host:  Linux 3.10.0-957.1.3.el7.x86_64 (amd64)
13.01 02:23:13 [Server] INFO Loading libraries, please wait...
13.01 02:23:14 [Server] INFO 2019-01-1

[2019-01-13 01:28] karlheidar commented on #2377
13.01 02:26:43 [Server] INFO Plugins (26): Admin-Chat*, AdvancedBan*, AntiCooldown*, BuycraftX*, CombatLogX, Essentials, EssentialsChat, EssentialsGeoIP, EssentialsSpawn, Factions, GroupManager, HawkEye*, LWC, MassiveCore*, MineCordBot*, NetherBlock*, PlaceholderAPI, ProtocolLib*, StaffPlus, TitleWelcomeMessage, TradePlus, Vault*, ViaBackwards*, ViaVersion*, WorldEdit, WorldGuard

[2019-01-13 11:46] mdcfe commented on #2347
Seems like mooshroom spawners are completely missing from the items database - I'll fix this when I get an opportunity to.

[2019-01-13 14:57] aeyu commented on #2360
@md678685  Of course. I did NOT rm config.yml btw (do I need ?).
logs  : https://gist.github.com/aeyu/7f224fe167ed42ba763bbcc902053a6e
conf : https://gist.github.com/aeyu/4671ca13d8fa72336588f590894ed462

[Server thread/ERROR]: [Essentials] Unknown item LAVA in protect.blacklist.placement list.

[2019-01-13 17:00] wingcwf opened #2379 "[Request a feature] Withdraw money/exp"
### I hope add a built-in withdraw feature to make it easy for players to sell their experience at the auction. And adding maximum/minimum Withdraw quantities

Command:
withdraw -  Withdraws money onto a item
withdrawxp - withdraws experience onto a item

### The following is an example format:
  numbers:
    max-exp-withdraw: 30970
    max-money-withdraw: 1000000
    min-exp-withdraw: 7
    min-m

[2019-01-13 17:29] Xeyame commented on #2379
I don't think this is something that would be in the scope of EssentialsX. You can use a plugin like this for that: https://www.spigotmc.org/resources/moneynote-1-7-1-13-convert-money-into-moneynotes.59554/ 

[2019-01-13 20:00] mdcfe commented on #2379
You can already buy and sell experience through Essentials signs, but I agree with @Xeyame that this feature would be better served by another plugin like the one linked above.

[2019-01-14 02:32] smmmadden opened #2380 "Server startup issue with EssentialsGeoIP"
Server is Paper Spigot 1.13.2 behind Waterfall Proxy build 246.

**Full output of `/ess version`**:
[21:44:25] [Server thread/INFO]: CONSOLE issued server command: /ess version
[21:44:25] [Server thread/INFO]: Server version: 1.13.2-R0.1-SNAPSHOT git-Paper-500 (MC: 1.13.2)
[21:44:25] [Server thread/INFO]: EssentialsX version: 2.16.0.31
[21:44:25] [Server thread/INFO]: LuckPerms version: 4.3.76
[21

[2019-01-14 06:35] triagonal commented on #2380
Duplicate (?) of #2376

As long as GeoIP is working correctly, you can ignore the message. It shouldn't affect how the plugin works. The Maxmind GeoIP library was recently updated, and that's what's causing the message to appear.

[2019-01-14 17:03] PiggiesGoSqueal opened #2381 "[Close This] Console Error on Spigot 1.13.2 "Could not hide vanished players...""
### Information

**Full output of `/ess version`**:
https://gyazo.com/f34129f0d160bc1d4806a76700d14efa

**Server log**:  https://gist.github.com/pinkpig3777/bc9678640fd80e0290a1b4ed7a05f85c

**EssentialsX config**: https://gist.github.com/pinkpig3777/badd73bc99e174afa2976cde9ebe37bc

### Details

**Description**
It's showing a console error.
https://gist.github.com/pinkpig3777/0bb1859dda009ba7ee7d

[2019-01-14 19:33] PiggiesGoSqueal commented on #2347
Okay thanks. Also, prismarine crystals don't have an alias short enough to fit on a shop sign. Perhaps:
PrisCrystals?

[2019-01-14 22:28] kennyrkun commented on #2381
@pinkpig3777 [this is fixed,](https://github.com/EssentialsX/Essentials/issues/2327#issuecomment-453771316) update to the [latest build](https://ci.ender.zone/job/EssentialsX)

[2019-01-15 07:07] PiggiesGoSqueal commented on #2381
Okay thanks @kennyrkun

[2019-01-15 08:53] DesperoKF commented on #2373
Yes i solve it.

[2019-01-15 09:50] mdcfe commented on #2381
Closing as this was already fixed (duplicate of #2327, thanks @kennyrkun).

[2019-01-15 09:50] #2381 closed, assigned to nobody

[2019-01-15 09:51] mdcfe commented on #2380
Closing as duplicate of #2376 (thanks @triagonal).

[2019-01-15 09:51] #2380 closed, assigned to nobody

[2019-01-15 23:08] plagoutte commented on #2306
Update : picture added.

[2019-01-17 08:03] mart-r opened #2382 "/back caused the server to stall for 20 seconds and then crash"
### Information

**Full output of `/ess version`**:

[code]

**Server log**: https://gist.github.com/mart-r/080d3091f857e3d3bdc6b464427071a8

**EssentialsX config**: I'm not sure it's relevant, but here: https://gist.github.com/mart-r/80095f0c20293b7267612fb007fc4d6d

### Details

**Description**
It's only happened once so far, but all the teleportation commands have been causing hick-ups more oft

[2019-01-17 20:27] baticag commented on #2300
Having the same problem.

[2019-01-17 22:33] kennyrkun commented on #2382
This isn't exactly relevant to your issue, but you should [update to the latest version](https://ci.ender.zone/job/EssentialsX/) if you can. I believe the version you're using does have a few issues which have been fixed in the latest release.

[2019-01-18 14:15] axemwa opened #2383 "Spectator sign won't work in essentialsx dev build 2.16.0.26"
### Information

Full output of `/ess version`:

[00:40:48 INFO]: Server version: 1.13.2-R0.1-SNAPSHOT git-Paper-503 (MC: 1.13.2)
[00:40:48 INFO]: EssentialsX version: 2.16.0.26
[00:40:48 INFO]: LuckPerms version: 4.3.73
[00:40:48 INFO]: Vault version: 1.7.1-b91
[00:40:48 INFO]: EssentialsXGeoIP version: 2.16.0.26
[00:40:48 INFO]: EssentialsXChat version: 2.16.0.26

### Help request

**Problem**
W

[2019-01-18 14:45] ghost opened #2384 "I can migrate from Essentials to EssentialsX?"
Hi, i want to migrate from Essentials to EssentialsX, is possible without reconfigure all things?

[2019-01-19 03:48] lw9244 opened #2385 "Permission/Option to allow items with durability to be worn as hats"
**Feature description**
Permission/Option to allow items with durability to be worn as hats

**How the feature is useful**
I make use of the durability to create custom hat textures using items like tools but with the current system, there's no way to allow items with durability to be worn as hats at all.

[2019-01-19 06:35] darbyjack commented on #2383
Thanks for pointing that out. I opened a PR to fix this.

[2019-01-19 07:52] axemwa commented on #2383
On an unrelated not should I open a new issue for this to update for material names? This below is in the default worth.yml but I thought data values are no longer used in 1.13? Not sure wat to do soz so thought I'd ask incase it's just something simple that I can fix

worth:

   Items not listed in this file will not be sellable on the server
   Setting the worth to 0 will sell items for free, de

[2019-01-19 13:42] mdcfe commented on #2383
Regarding the signs: this will be fixed once we merge @derbyjack's PR.

Regarding `worth.yml`: The issue you linked is for a custom `worth.yml` file made by someone else, not us. You can use material names on all versions, as well as IDs + durability on 1.12.2 and below.

[2019-01-19 13:53] mdcfe commented on #2306
Thanks for opening a report and attaching the image, and apologies for the delay in responding to this.

It appears the command looks for the lowest block it can find with the same X and Z coordinates. I'm not sure why this behaviour is the case or if it's intended - we'd need to investigate how this works to figure out what the cause is.

[2019-01-19 14:01] axemwa commented on #2383
Cool thanx I'm using 1.13.2 I know u can use material names etc but the ID's wouldn't work in worth would it? If it doesn't do I have to replace ID's with Material names manually?

EDIT - Or did u mean that ID's will work in 1.13 for essentials worth?

[2019-01-19 22:45] MasterDash5 commented on #2382
This happens to me every 5 times I teleport. Its annoying and seriously an issue.

[2019-01-20 10:14] #2383 closed, assigned to nobody

[2019-01-20 10:44] tropicgbr opened #2387 "Items Not Found"
Fixed

[2019-01-20 11:19] axemwa commented on #2383
It fixed already? Thanx! :)

[2019-01-20 13:38] Xeyame commented on #2387
Download the latest version here: https://ci.ender.zone/job/EssentialsX/

[2019-01-20 18:55] tropicgbr commented on #2387
@Xeyame It still wont work, it still comes up with this
and when i do /kit {name} in game then it will say "That kit is improperly defined. Contact and administrator.

[2019-01-20 19:23] Xeyame commented on #2387
Could you do `/essentials version`? @tropicgbr

[2019-01-20 19:25] tropicgbr commented on #2387
2.16.0.3 is the version
@Xeyame

[2019-01-20 19:26] Xeyame commented on #2387
Was looking for the full output, one that also includes your server version :P, could you post that?

[2019-01-20 19:28] tropicgbr commented on #2387
oh, 1.12.2

[2019-01-20 19:31] Xeyame commented on #2387
Still not full console output, but whatever. The version for 1.8.8-1.12.x can be found here: https://ci.ender.zone/job/EssentialsX/664/

[2019-01-20 19:51] tropicgbr commented on #2387
Thank you, It is working now

[2019-01-21 00:06] sOxTw commented on #1517
I just solved this problem without removing any plugin from my server, and without renaming anything.

The only thing to do is open with WinRar to `"EssentialsProtect"`, edit **plugin.yml** to add the following line:

`softdepend: [Essentials]`

save the file, wait for it to load in the plugin and start the server.

[2019-01-21 09:12] axemwa opened #2388 "GEOIP at times seems to alter between player name and nickname how do I fix?"
### Information

Full output of `/ess version`:

[19:38:21 INFO]: Server version: 1.13.2-R0.1-SNAPSHOT git-Paper-505 (MC: 1.13.2)
[19:38:21 INFO]: EssentialsX version: 2.16.0.32
[19:38:21 INFO]: LuckPerms version: 4.3.73
[19:38:21 INFO]: Vault version: 1.7.1-b91
[19:38:21 INFO]: EssentialsXGeoIP version: 2.16.0.32

**EssentialsX config**

https://pastebin.com/sDxFyAv3

**GEOIP config**

https://pa

[2019-01-21 10:06] axemwa commented on #2388
Default players that have

"essentials.geoip.show" permission and can't see the nickname and instead see's the original playername next to the location message when a player joins

but admins with essentials.* permission can see the nickname instead of the original name of the player
when a player joins in that same location message.

Sorry if I didn't explain this well enough I'll post pictures i

[2019-01-21 11:20] mdcfe commented on #1517
@sOxTw This line is already there:

https://github.com/EssentialsX/Essentials/blob/827217823efc9965d68809761bddc5db94a84aad/EssentialsProtect/src/plugin.yml#L9

[2019-01-21 23:54] IIHERO4 opened #2389 "Spawners spawn pigs I want the right essential Id"
### Information

Sign shop all works except spawners , spawners I tried write it in blazecage or 52:<id> e.g 52:55 I don't know what I do now I want ids or solution.

[2019-01-22 10:03] axemwa commented on #2388
ok disregard the last comment... it seems to happen randomly for all players alike

[2019-01-22 13:16] Xeyame commented on #2388
What permissions plugin are you using? I’ve seen similar things before (just with another plugin), because my permissions plugin (pex at the time, or powerfulperms. Not sure about that) loaded in permissions pretty late.

[2019-01-22 16:38] axemwa commented on #2388
LuckPerms

[2019-01-22 16:41] Xeyame commented on #2388
Weird, that should not have any issues. Sorry, can’t help you any further then.

[2019-01-22 16:50] axemwa commented on #2388
it ok ill do some more testing, I might have done something wrong

[2019-01-22 16:55] bjornstevens commented on #2106
How do i get this to work with 1.13.2 Spigot Server? i use EssentialsX-2.16.0.32.jar

I am a noob at Java and other scripting but i just cant get the items.json to work

[2019-01-22 17:06] axemwa commented on #2388
Hmm for some reason I had essentials.nick true and essentials.nick.* to false (maybe from when I was testing a seperate nickname managing plugin) Maybe that's what's causing the problem

[2019-01-22 18:45] axemwa commented on #2388
dam nah stil randomly occors, sometimes it happens for admins and other times it happens for default users

[2019-01-22 19:24] mdcfe commented on #2106
@bjornstevens I'm not sure what you're trying to do, but this issue was for a rejected proposal for a different items database.

If you're running into an issue using EssentialsX, please [open a new issue](https://github.com/EssentialsX/Essentials/issues/new/choose).

[2019-01-22 19:26] mdcfe commented on #2388
Could you run `/lp verbose on essentials` and see whether there are any issues with permissions checks?

[2019-01-22 19:52] axemwa opened #2390 "Request to allows players to be able to use color code for AFK messages (&,bold,italic,underline etc) support"
### Feature request

**Feature description**
Request/suggestion to allow players to be able to use color code (&,bold,italic,underline etc) for AFK messages with required permissions added

**How the feature is useful**
Why not, it's something cool, most other features have color code support and it shouldn't require much coding

[2019-01-22 20:02] axemwa commented on #2388
I got this but I don't have essentials.* false set anywhere

[06:24:25 INFO]: [LP] VB > shano_dekono - essentials.geoip.hide - undefined
[06:24:25 INFO]: [LP] VB > shano_dekono - essentials.geoip.* - undefined
[06:24:25 INFO]: [LP] VB > shano_dekono - essentials.* - false
[06:24:25 INFO]: [LP] VB > shano_dekono - essentials.* - false
[06:24:25 INFO]: [LP] VB > shano_dekono - essentials.geoip.show

[2019-01-22 23:16] triagonal commented on #2390
This is possible by editing your locale of `messages_<locale>.properties`.
For example, editing these strings in the [English locale](https://github.com/EssentialsX/Essentials/blob/827217823efc9965d68809761bddc5db94a84aad/Essentials/src/messages_en.properties#L566-568) will control the formatting of the AFK messages:

https://github.com/EssentialsX/Essentials/blob/827217823efc9965d68809761bddc5db9

[2019-01-22 23:20] axemwa commented on #2390
Thanx but I meant for players to be able to color their AFK messages not the server owners default AFK colored messages, I have renamed the request for better understanding

[2019-01-23 01:31] axemwa commented on #2390
I also suggest adding a placeholder to PlaceholderAPI that outputs the AFK message the player has set (if they set one)

eg

%essentials_afk_message%
Output= Coffee Break (depending on what player set as their AFK message)

[2019-01-23 10:29] bjornstevens commented on #2106
Let me try to tell my situation:
I have a shop with more than 400 signs, the signs have item id's on them (like 138 for beacon and 189 for birch fence). I just updated the server last sunday to 1.13.2 (and all the plugins) but when i tried to use the buy and sell sign it says: error unknown item name.
![afbeelding](https://user-images.githubusercontent.com/23235234/51599942-1c325600-1f01-11e9-8b32

[2019-01-23 13:35] mdcfe commented on #2106
@bjornstevens ItemCodexLib has nothing to do with EssentialsX. This thread is a closed feature request, not a place to ask for support.

There are no item IDs in 1.13 or above. You need to use item names on signs now, *not* IDs.

As I stated before, if you're running into an issue using EssentialsX, please [open a new issue](https://github.com/EssentialsX/Essentials/issues/new/choose).

[2019-01-23 13:41] mdcfe commented on #2390
We don't control the PlaceholderAPI placeholders - you may want to report that to the [Essentials Expansion issue tracker](https://github.com/PlaceholderAPI/Essentials-Expansion/issues).

I think this would be nice, but also I feel full colour formatting might be overkill for what is supposed to be a short and simple message. If players want to send coloured messages when they're going AFK, they c

[2019-01-23 13:45] mdcfe commented on #2388
I think the reason for this is that sometimes the player's nickname isn't loaded in by the time EssentialsX GeoIP sends the message to the player. According to your log, GeoIP is sending the message before Essentials has even realised the player has started connecting, so the nickname wouldn't be loaded in unless the player had recently disconnected.

[2019-01-23 14:10] axemwa commented on #2390
K ill report to placeholderapi for that one then,
as for color codes ur right color code for message isnt neccesary but it does make it look more appealing and noticable to other players making it eaiser for the eyes in certain situations (eg: white afk msg in snowworld might be hard to read so players being able to change color code to something else like black would be more of a benefit to them

[2019-01-23 14:11] axemwa commented on #2388
is there currently a way around this so that it has more time to read/load the nickname?

[2019-01-23 15:26] Xeyame commented on #2384
As EssentialsX is a fork of the original essentials, you can try to just replace the jar iirc. Make sure to backup the Essentials directory as this isn't supported.

[2019-01-23 16:56] darbyjack commented on #2390
Wouldn't this require someone to store extra data just to get their custom AFK mesasge?

[2019-01-23 17:00] darbyjack commented on #2389
Please fill out the template it asked you to fill out when you created the issue in order for us to help you.

[2019-01-23 17:01] darbyjack commented on #2382
No one else has this issue and has not been able to be recreated.

[2019-01-23 17:16] mdcfe commented on #2388
I don't think there's anything you can do at the moment, no. I'd suggest keeping this issue open until there's an actual fix.

[2019-01-23 17:33] mdcfe commented on #2390
@axemwa

I always thought the background of the chat box was dark enough 🤔

@darbyjack EssentialsX already stores custom AFK messages. This request is to have EssentialsX parse the colour codes before sending the message in chat or `/msg`.

[2019-01-23 19:37] dscalzi commented on #2106
@bjornstevens
If you're the author of the shop plugin, implement it with ItemCodeLib. If you're not the author, tell them to update to 1.13 and send them this link. https://github.com/dscalzi/ItemCodexLib

[2019-01-23 20:00] axemwa commented on #2390
Actually that was a bad example, my bad. I guess a better example would be that sometimes a paragraph of chat might be the same color as the default AFK messeage color and because of that the players might miss another players afk message since it blends in, but if players could optionally change the color code of their message then it would be easier to tell what their afk message was

[2019-01-23 20:07] mdcfe commented on #2106
@dscalzi The "shop plugin" in question is in fact EssentialsX signs. IDs are not supported in Minecraft 1.13 and we have no intention of upholding a convention that has been discouraged for years and is becoming increasingly antiquated and irrelevant.

[2019-01-23 21:35] mdcfe opened #2391 "[Discussion] Adapt or overhaul message sending system"
### Discussion

*Note that this is a **discussion** thread, and does **not** currently indicate any planned features. Instead, it exists to allow people to comment and suggest changes to a particular part of EssentialsX in one consolidated thread.*

**Summary**
Several changes to or a total overhaul of how EssentialsX constructs and sends messages. (To clarify; "messages" means any text sent from

[2019-01-23 22:01] axemwa commented on #2390
@md678685 the "/afk (reason)" placeholder has been added to PlaceholderAPI
https://github.com/PlaceholderAPI/Essentials-Expansion/issues/9

[2019-01-24 09:47] bjornstevens commented on #2106
Ah okey, thanks for the info!
Luckely i have a plugin installed to edit signs  so i just have to look up on the 1.12.2 item ID list.

Wish they still had implemented Item ID's in the 1.13 (and above) versions. At least not i don't have to search further.
Thanks for the fast replies @md678685 and @dscalzi

[2019-01-24 09:56] mdcfe commented on #2106
@bjornstevens You can hold the item and run `/itemdb`, or just run `/itemdb <item name>` to list all of EssentialsX's supported names for items.

[2019-01-24 09:58] bjornstevens commented on #2106
Ah thanks!

Can i then use the short names?

[2019-01-24 10:16] bjornstevens commented on #2106
yes, i can haha
i will now start to change the signs to the shorter names, hopefully those never change.

[2019-01-24 12:58] sOxTw opened #2392 "/Give or /Item Mob Spawner with ID"
### Information

Full output of `/ess version`: 2.15.0.1

**Server log:** It does not generate error logs.

**EssentialsX config** https://gist.github.com/sOxTw/47656fed2664ef1f6a1fdc56aa10670d

### Help request

**Problem**
I'm doing a menu of spawners, all by Skript. What I generate a **/give** with ID **52: #** the problem is that in version 1.12 I do not have the ids of the mobs of that versio

[2019-01-24 17:16] JadenDevon opened #2393 "Multiple homes on a per world basis"
### Feature request

**Feature description**
Multiple homes on a per world basis

**How the feature is useful**
If you have a server that consists of multiple worlds all with different play styles, you can set up multiple homes accessible only from that world/group of worlds(world, nether, end, or whatever worlds you want to group together).
For example: I have a survival/PvE world on my server an

[2019-01-25 01:41] MasterDash5 commented on #2382
I can recreate it every 20 seconds. Want me to?

[2019-01-25 01:43] darbyjack commented on #2382
I mean go ahead, but you're the only server out of 22,000 that has experience this issue.

[2019-01-25 02:46] MasterDash5 commented on #2382
Took me 23 tries. Yes I counted.

https://youtu.be/Offxj263etc

[2019-01-25 02:49] darbyjack commented on #2382
Going to assume that it's another plugin doing this. Have you tried recreating it with ONLY essentials on the server?

[2019-01-25 02:50] MasterDash5 commented on #2382
Yes, I have. Couldn't record it with none on though. I'm working on homework right now.

[2019-01-25 02:52] darbyjack commented on #2382
Alrighty well I can look into it but there's not really much to be done. I've looked through the original error and there's not really anything out of the ordinary. Like I said before, we have over 22,000 servers running the plugin right now and you are the only one that has reported this issue.

[2019-01-25 02:53] MasterDash5 commented on #2382
Understandable. Let me know if anything changes

[2019-01-25 07:49] mart-r commented on #2382
MasterDash5 is not the only one to have the issue. In fact, he wasn't the one that reported it, I was.
With that said, I've only had a single instance of the issue. I just posted the report to make sure it's documented, more than anything else.

I do believe this could have something to do with Multiverse as it's been acting up when TP'ing between worlds ever since 1.13.

[2019-01-26 09:35] D4RKKNIGH7 opened #2395 "[Signs] A sign shop [Buy:Sell] || Command Costs"
### Feature request

**Feature description**

- Add another sign for Buying and selling with a single sign.

=== Sign Text ===
[Buy:Sell]        - Sign Identifier
1                    - Quantity
Stone             - Item
B:$50 S:$10    - Buy price is $50, sell price is $10

The player can then use Left Click to BUY and Right Click to Sell
If the player holds CROUCH it will buy a stack the size of t

[2019-01-26 20:22] k-jiang opened #2396 "java.lang.NoClassDefFoundError: com/earth2me/essentials/ItemDb"
EssentialsX throws `java.lang.NoClassDefFoundError: com/earth2me/essentials/ItemDb` during server startup:
[code]
This exception occured right after `[04:09:36]: Done (46.763s)! For help, type "help"`

Server info:
[code]
EssentialsX is obtained from https://ci.ender.zone/job/EssentialsX/ (build 691)

If you need more info please let me know.

[2019-01-26 21:15] SinlesFlyer376 opened #2397 "/skull broken on newest version of essx"
**Full output of `/ess version`**:
[code]
*edit by @md678685: formatting*

**EssentialsX config**: https://www.hastebin.com/kaduyularu.coffeescript

### Details

**Description**
There's no error in console with this.
I do /skull and it doesn't give me my head, but gives me a steve or alex skull.

**Steps to reproduce**
Download EssentialsX Latest on 1.8.8

**Expected behavior**
I expect a skull wi

[2019-01-27 00:13] Nezz202 commented on #474
I still get this issue even in the very latest release of EssentialsX nearly two years later. Is there indication if there is a fix for this anywhere?

I am using Paper 1.13.2, EssentialsX 2.16.0.32

When holding a banner with the shield I want to make into a kit, I run /kitcreate and it puts this in the kits.yml

[code]

[2019-01-27 03:59] triagonal commented on #2397
I wasn't able to reproduce this bug on a clean 1.8.8 spigot install with the latest version of EssentialsX - `/skull` worked as intended.
http://prntscr.com/mcpce3
[code]
I was opped for testing.

[2019-01-27 04:22] triagonal commented on #2396
After testing this, I can confirm that this error does not occur on a clean 1.13.2 spigot install with just EssentialsX installed.

[code]

As far as I can tell from your stacktrace, this error is caused by another plugin called Magic. It seems that Magic is not compatible with the current version of EssentialsX, as it is still attempting to use classes that have been removed in recent versions of

[2019-01-27 06:38] k-jiang commented on #2396
You are probably correct. It looks like a compatibility issue due to some API changes. I just post the issue to MagicPlugin team. Waiting for response...

[2019-01-27 08:43] mdcfe commented on #474
Closing as this has been present for as long as I can remember.

@Nezz202 Could you open a separate [support request](https://github.com/EssentialsX/Essentials/issues/new/choose)?

[2019-01-27 08:43] #474 closed, assigned to nobody

[2019-01-27 08:49] mdcfe commented on #2397
@SinlesFlyer376 Could you post a full startup log on https://gist.github.com?

[2019-01-27 09:12] mdcfe commented on #2395
Thanks for opening a feature request.

I don't see the problem with just having two separate signs? If you use the existing signs, players will already know how to use them. Adding a new sign that does two totally different things is confusing, especially when there are already two incredibly well-known signs that you could use.

This already exists: give players the permission `essentials.sell.bu

[2019-01-27 09:12] #2395 closed, assigned to nobody

[2019-01-27 12:16] mdcfe commented on #2308
Closing due to lack of response. If this is still a problem, feel free to respond and reopen the issue.

[2019-01-27 12:16] #2308 closed, assigned to nobody

[2019-01-28 20:50] CaptEm opened #2398 "My Minecraft server wont allow players to sethome aside form OPs with the newest file"
### Information

Full output of `/ess version`:
Version 2.16.0.3

**Server log:**

**EssentialsX config**

### Help request

**Problem**

My Server won't allow players to set home even though i just installed the latest version and it worked with the last version (Minecraft)
**What I have tried**

I have looked through the config file but it seems to say that players are allowed to use that comman

[2019-01-28 21:23] Xeyame commented on #2398
Please fully fill in the template.

[2019-01-28 21:54] CaptEm commented on #2398
I filled in the whole template. I don't understand what it means by "set use.bukkit.permissions to false"

[2019-01-28 21:57] Xeyame commented on #2398
You should use some permissions plugin and give the player the correct permission from there.
Permission plugin: https://luckperms.github.io/
Permission list: https://essinfo.xeya.me/permissions.php

[2019-01-28 21:58] CaptEm commented on #2398
I don't understand why I need to do that though. I had the pervious essentials version in my server from November until now and i never had to ALLOW my players to access those commands. it was automatic.

[2019-01-28 22:00] Xeyame commented on #2398
Not sure why that is. Anyways, using no permissions manager is kind of unsupported. Please install one, it will make your life easyer (especially when using more then 1 plugin). Also lots of plugins just require one.

[2019-01-28 22:04] CaptEm commented on #2398
does Vault count as a permission manager?

[2019-01-28 22:04] Xeyame commented on #2398
Nope, its an economy bridge.

[2019-01-28 22:20] CaptEm commented on #2398
so after installing Luckperms do i need to do anything specific or will the plug in take care of things?

[2019-01-28 22:27] Xeyame commented on #2398
You need to add the permissions to the default group.
Something like `/lp group default permission set essentials.home` Repeat that for the other required permissions. I also suggest you read though the luckperms guide/iki. It is very detailed and pretty easy to understand :) https://github.com/lucko/LuckPerms/wiki

[2019-01-28 22:42] TheRealDomm opened #2399 "Essentials cancels 'p.setAllowFlight(true);' if you don't have the Fly permission"
### Information

Full output of `/ess version`:

Server Version: 1.8.8-R0.1-SNAPSHOT git-Spigot-db6de12-18fbb24 (MC: 1.8.8)
EssentialsX Version: 2.16.0.34
LuckPerms Version: 4.3.11
Vault Version: 1.5.6-b49

Log & Config
https://gist.github.com/TheRealDomm/05336485fd7706fa676b141f2327f0fe

### Help request

**Problem**
Essentials always overrides my p.setAllowFlight(true); wich I'am using for anoth

[2019-01-29 00:44] jovanmanic commented on #2300
Same problem...

[2019-01-29 00:45] CaptEm commented on #2398
okay, i have done everything except allow players to hit a button and teleport them. I have a "phonebook" set up where i have command blocks under coloured wool and a button on each wool and the command blocks are set to tp to people's homes. they buttons work for me but not for everyone else and I don't know which permission is needed to allow them to do it.

[2019-01-29 09:07] mdcfe commented on #2399
Thanks for opening a support request.

The only place that EssentialsX changes the fly state are when the player logs in:

https://github.com/EssentialsX/Essentials/blob/dd41b10522b512a450a97907f36bd71fd8cd6554/Essentials/src/com/earth2me/essentials/EssentialsPlayerListener.java#L295-L304

...and when the player changes world:

https://github.com/EssentialsX/Essentials/blob/dd41b10522b512a450a9790

[2019-01-29 09:10] mdcfe commented on #2384
Xeyame's answer should be enough, but let us know if you need any further help.

[2019-01-29 09:10] #2384 closed, assigned to nobody

[2019-01-29 10:46] TheRealDomm commented on #2399
Im not sure if any other plugins hook into EssentialsX i think mine is the only one. So this Issue happens when I listen on PlayerEnterPlotEvent from PlotSquared. Fly plan i to set players with the right permission fly on their plots my code is pasted [here](https://hastebin.com/bojovowope.java)
I delayed the PlotEnterEvent before it is fired for 5 seconds an then it works for some seconds but whe

[2019-01-29 12:50] mdcfe commented on #2399
Can you replicate this with **only EssentialsX, PlotSquared and your plugin** (plus Vault and LP) installed?

[2019-01-29 13:53] TheRealDomm commented on #2399
sure i will set this up

[2019-01-29 14:09] TheRealDomm commented on #2399
Hmm now it works i don't have a clue why...
I will test it later in my productive system and then we will see... I really thought it must be Essentials because of this strage thing with the permissionnode essentials.fly

[2019-01-29 17:59] Xeyame commented on #2398
You can try to enable `/lp verbose on yourplayername` and press the button, the required permission should show up then

[2019-01-29 23:36] PetrichorCraft opened #2400 "Balance Loss on Name Change"
### Information

Full output of `/ess version`:
(I asked for help with this in Discord, and since then, I have updated EssentialsX. I received no help there, so I'm hoping I will get some here. To be safe, I'm posting both sets of /ess version & latest.log. This has happened on both versions.)

(This was the 2nd time it happened, first time I reported it)

(This was the 3rd time it happened, 2nd t

[2019-01-30 12:32] SkytAsul opened #2401 "Support currency names through Vault"
### Feature request

**Feature description**
I'd like you to add two fields in your config menu : _currencyName_ and _currencyNamePlural_, who'll can ben hooked to Vault to allows other plugins to use it. Currently, we cannot get economy symbol via Vault API and it's quite annoying...

**How the feature is useful**
This will be very useful for developers, instead of creating money name fields in o

[2019-02-01 04:22] Techno3600 commented on #2181
Hmmmm.... not exactly sure where this is formatted before being displayed to a user. Does anyone know where this plugin formats the messages_en.properties's text?

[2019-02-01 05:21] EHAndrew opened #2403 "Ability to execute /back for another player"
### Feature request

**Feature description**
Use /back for another player. Example `/back drtshock` would send drtshock back to their previous location, even if they didn't have the permission to do so.

**How the feature is useful**
Useful as an admin tool to help players. Useful in command blocks for sending players back to a previous location (example, player warps to a special event site, but

[2019-02-01 14:40] anemul opened #2404 "give item with enchants 1.13.2"
### Details

**Description**
/give anemul minecraft:bow{Enchantments:[{id:"minecraft:infinity",lvl:1}]} 1 does not work in 1.13.2 with ESS installed . ESS uninstalled , the command works fine , the only error our puts is there is no such item named minecraft:bow{Enchantments:[{id:"minecraft:infinity",lvl:1}]}

**Steps to reproduce**
just copy and paste with ESS installed , changing to your name of

[2019-02-01 20:38] mdcfe commented on #2404
That command is the vanilla Minecraft `/give` syntax. If you want to use the vanilla command, run `/minecraft:give`.

The Essentials equivalent is `/give anemul bow 1 infinity:1`.

[2019-02-01 20:38] #2404 closed, assigned to nobody

[2019-02-02 05:52] D4RKKNIGH7 opened #2405 "Warnings before charging a player for the use of a command"
### Feature request

**Feature description**

Have a warning for players before charging them to use a command, right now it will just take the money out if they have it, or tell them they don't have enough.

**How the feature is useful**

Players wont be charged money when using commands they had no idea would charge them money

[2019-02-02 23:01] turtlshell opened #2406 "Issues with essentials commands checking for permissions which players have and then denying access (LuckPerms Latest build)"

[2019-02-03 00:05] AbbeLabben commented on #2406
Hello there! Thanks for posting about this issue.

What you are describing here is the exact same problem that I am experiencing. Whenever a player types /warp or /home it says nothing in the chat and they have to type the command 10x or even relog for it to work.

I have tried updating to the latest version, updating my config, removing plugins etc but nothing seems to work. So this must be an is

[2019-02-03 03:57] ecoterrorist opened #2407 "Confirmation for paid kits"
### Feature request

**Feature description**

A "Would you really like to spend $_ on and redeem this kit? Please retype the command to confirm" confirmation thing when a user attempts to claim a kit that they have access to, but has a cost.
**How the feature is useful**

Players may accidentally spend money if a kit shows up in `/kits` and they assume they have permission to use it, but afterward

[2019-02-03 05:33] triagonal opened #2408 "/createkit with 2.16 essx builds on 1.8.8 results in improperly defined kits"
### Information

**Full output of `/ess version`**:

[code]

**Server log**: https://gist.github.com/triagonal/ff4b40c1309064d88e28d393ce23f26b

**EssentialsX config**: default config, but here it is anyway https://gist.github.com/triagonal/e71b6f0052881e456771e24d0f235951

**Kits file**: https://gist.github.com/triagonal/4768b348f987c1f0112d73856005a73c

### Details

**Description**
Originally re

[2019-02-03 12:44] Castiella opened #2410 "Teleporting bug with warps"
**Full output of `/ess version`**:

[code]

https://gist.github.com/Castiella/5b5db7afb6beb160a3d438aa45b83f70

https://gist.github.com/Castiella/747acaca35f0189388de7ff2fee3116e

### Details

**Description**

See here: https://github.com/Multiverse/Multiverse-Core/issues/1964

Was told to report it here as you guys provide the warp command. :)

**Steps to reproduce**

Warp to a warp that is in a

[2019-02-03 13:15] mdcfe commented on #2410
Please copy and paste the `/ess version` output - don't retype it as we can't verify whether you're on a supported version.

We support [LuckPerms](https://luckperms.github.io), and other permissions plugins are not supported.

[2019-02-03 13:59] Castiella commented on #2410
03.02 13:58:33 [Server] INFO Server version: 1.13.2-R0.1-SNAPSHOT git-Paper-498 (MC: 1.13.2)
03.02 13:58:33 [Server] INFO EssentialsX version: 2.16.0.3
03.02 13:58:33 [Server] INFO GroupManager version: GMBuildVer (Phoenix)
03.02 13:58:33 [Server] INFO Vault version: 1.7.1-b91
03.02 13:58:33 [Server] INFO EssentialsXSpawn version: 2.16.0.3
03.02 13:58:33 [Server] INFO EssentialsXChat version: 2.16

[2019-02-03 13:59] Castiella commented on #2410
Shall I switch to Luck Perms and see if the problem persists?

[2019-02-03 14:06] Xeyame commented on #2410
Yea, Groupmanager is really old :P

[2019-02-03 18:43] andfont opened #2411 "short names do not work [TRADE]"
Server 1.13.1
Essentials version 1.16.0.34
BUG:
is it not possible to put short names of item.csv or from somewhere? when you create a new store with [trade] $ 1 1 prismarineblocks: 1 is impossible and many others! there is no way it does not work! please, is there a list with short names that works? What we see is that this since 1.13 has not worked well please some solution?

[2019-02-03 19:55] GoodLuckXD opened #2412 "ItemIDs"
I cant use my kit with the ID 276 AKA diamond sword it doesnt work. it says unknown ID.
[latest.log](https://github.com/EssentialsX/Essentials/files/2825924/latest.log) is my startup log so you can see there are alot of erros and spams from item.csv. IDK what I need to do

[2019-02-03 20:01] Xeyame commented on #2412
What version of essentials are you running? This is the latest one for 1.8.8: https://ci.ender.zone/job/EssentialsX/664/

The 1.13 versions don't fully support item id's on older versions iirc

[2019-02-03 20:03] GoodLuckXD commented on #2412
the newest

[2019-02-03 20:05] Xeyame commented on #2412
Well please try the version i linked above

[2019-02-03 20:53] triagonal commented on #2411
If you hold an item in your hand and run `/itemdb`, it will show you a list of all available short names for that material.

[2019-02-03 21:19] madolebr opened #2413 "Could not pass event InventoryMoveItemEvent to EssentialsBackup v3.5.8"
**Full output of `/ess version`**:

[code]

**Server log**: https://gist.github.com/madolebr/db14595b436b7987cc3f9ccd52386fb9

**EssentialsX config**: https://gist.github.com/madolebr/4071b5ac3606382500855e9f59f26797

### Details

**Description**
essentials backup is having issues processing items being picked up by minecart hoppers and transferred through the minecart hopper into a hopper below i

[2019-02-03 21:21] ghost opened #2414 "Warp signs no permission message"
### Information

**Full output of `/ess version`**:
[16:17:02] [Server thread/INFO]: CONSOLE issued server command: /ess version
[16:17:02] [Server thread/INFO]:Server version: 1.13.2-R0.1-SNAPSHOT git-Spigot-f56e2e7-b634e05 (MC: 1.13.2)
[16:17:02] [Server thread/INFO]: EssentialsX version: 2.16.0.16
[16:17:02] [Server thread/INFO]: LuckPerms version: 4.3.17
[16:17:02] [Server thread/INFO]:Vault v

[2019-02-03 23:16] triagonal commented on #2413
EssentialsBackup isn't a plugin that's developed by the EssentialsX team.

My limited research turned up [this spigot forum post](https://www.spigotmc.org/threads/suspicious-plugin-essentialsbackup.352389/) which suggests that EssentialsBackup is malware.

Could you please double check that a plugin named EssentialsBackup exists in your `/plugins` folder? If is isn't there and you see a plugin nam

[2019-02-04 00:13] madolebr commented on #2413
the craziest part is that i dont even have essentials.backup on my server at all either. just found plugin metrics tho. my server owner is looking into it more. tyvm

[2019-02-04 09:18] mdcfe commented on #2413
`/ess ver` is not a command and will just reload EssentialsX. Please use `/ess version` in the future.

As @triagonal correctly stated, "EssentialsBackup" is not an EssentialsX plugin. Running `/ess version` correctly would show that this plugin is not supported by us.

In addition, it is an obfuscated plugin, meaning the code has even scrambled to make it unreadable. No valid plugin would do this

[2019-02-04 11:27] andfont commented on #2411
We already know this, but the problem is that it does not fit in the poster! since you can not use ID's it does not fit! the official list with short names like item.csv or jitems.json does not fit in the poster to make the trade! [trade], we repeat! please fix the list of items.csv so that the short names work on the poster thank you

[2019-02-04 11:31] andfont commented on #2411
for example we intend to put / itemdb prismarinebricks the name is too long! does not fit! but in the items.csv if there are short names that do fit if you can put the poster of [trade] but they DO NOT WORK! please fix this great BUG! there is no way to use the [trade] thanks!

[2019-02-04 12:38] triagonal commented on #2411
Oh, I see. Got it.

@md678685, could you please add a shorter alias for prismarine bricks? As you've likely already gathered, the [available shortnames](http://prntscr.com/mgf5c1) are a bit too long for trade signs. Perhaps `pbricks` as in items.csv?

@andfont, do you know of any other blocks that are affected apart from prismarine bricks?

[2019-02-04 18:10] AngelDeaD opened #2415 "Permission for last reply message option"
### Feature request

**Feature description**
I know there are feature `last-message-reply-recipient` and for it `last-message-reply-recipient-timeout`, but those are config line. I would like it as permission.

**How the feature is useful**
Certain players that like this feature can enoy it, while rest of them who do not like it can enoy old way of "/r" working.

[2019-02-05 06:02] PiggiesGoSqueal commented on #2126
@SupaHam Well, 2 of my players reported the same issue @Scorpionvssub reported. /pweather allows players to have infinite riptide with trident + elytra. And /pweather is an Essentials / EssentialsX command I thought so... how does it not have to do with EssentialsX? I **don't** mean this in a smartass way, I mean that I am confused so could you please elaborate?

[2019-02-05 09:46] mdcfe commented on #2126
@pinkpig3777 EssentialsX tells Bukkit to change that player's weather. Riptide behaviour should be based on world weather, not player weather, so if this has somehow broken then it's down to the server not implementing this properly.

In addition, can you actually reliably replicate this yourself?

[2019-02-06 23:22] neodreen opened #2416 "Can not use /enchant command on Paper Spigot 1.12.2"
Essentials by default let me enchant everything but with the command /enchant and a different syntax than the original enchant command. This bug is very annoying because I need to create special items for my community  (I'm a server owner) and don't know why this happens. Pastebin: https://pastebin.com/a9p1vZWw

[2019-02-07 00:51] PiggiesGoSqueal commented on #2126
Ah okay @md678685.

**Deleted my old message has it had incorrect information.**

**UPDATE:**
I can replicate the issue after disabling a CMI plugin feature that disables riptide in storms. So to be clear, I CAN use /pweather storm then riptide + elytra to gain speed (while global weather is clear).

Also, worth noting that if you are familiar with CMI, it is not conflicting with EssentialsX. I us

[2019-02-07 08:03] mdcfe commented on #2126
Can you replicate this **without having CMI installed**? If not, CMI is interfering.

[2019-02-07 08:04] mdcfe commented on #2416
EssentialsX has always had its own `/enchant` command. If you want to use the vanilla command, use `/minecraft:enchant`.

[2019-02-07 12:30] triagonal commented on #2126
I was able to replicate this with only EssentialsX installed on 1.13.2 Paper and Spigot installs
[code]
[code]
I recorded the results (on Paper, but both cases were identical): https://youtu.be/GD2gV-frC8M
- 00:00 - 00:15: normal behaviour, world weather set to rain, riptide/elytra works as expected
- 00:20 - 00:40: world weather set to sun, pweather to storm, riptide/elytra works, but part of the

[2019-02-07 14:44] mdcfe commented on #2126
I've checked how the game implements the riptide effect, and it doesn't appear to check the player weather at any point - it specifically checks the world's weather, not the player's weather. I'm not sure if this caused by the client not being aware that riptide should be disabled?

[2019-02-07 17:08] Haileykins opened #2417 "EssentialsX Maven Repository?"
I am trying to use EssentialsX in my own plugin, and I don't want to have to build the jar and add it ass an artifact local jar, is there a current Maven repository for EssentialsX? If not can we please get one?

[2019-02-07 19:19] mdcfe commented on #2417
See the [Common Issues](https://essentialsx.github.io/#/Common-Issues?id=how-do-i-add-essentialsx-as-a-dependency) page.

[2019-02-07 19:19] #2417 closed, assigned to nobody

[2019-02-07 21:13] madolebr commented on #2413
i gotcha. will look through them and see what i can find

[2019-02-08 23:48] mclegendary1 opened #2418 "Colors of potions"
**Description**
If in kits are potions with metaid(it's must be if u want colored potions)

**Steps to reproduce**
Just add to kits.yml
potion:16800 2 splash:true name:&4Granate effect:harm power:4 duration:1

**Screenshots**
[https://imgur.com/a/IPux0kc](https://imgur.com/a/IPux0kc)

(and splash potions can't have two effects if they are in kits)

[2019-02-09 18:15] baloghdominik opened #2419 "Can not creat kits on 1.12.2 with /createkit not even with the pestebin option"
### Information

Full output of `/ess version`:

**Server log:**

**EssentialsX config**

### Help request

**Problem**

**What I have tried**

**Screenshots**

[2019-02-09 21:17] Rakdos8 commented on #958
The latest build now allow to trade back potions.
Thank you !

[2019-02-09 21:18] Rakdos8 commented on #1915
The latest build now allow to trade back potions.
Thank you !

[2019-02-09 21:18] #1915 closed, assigned to nobody

[2019-02-10 21:34] Disorbs opened #2420 "TP Toggle Bypass Perm?"
2.16.0.32

So when i give players the permission to do /TPToggle

why isnt there a permission for staff to still be able to tp but normal players cant request to them?
or am i blind and cant see it lol

[2019-02-10 22:42] Xeyame commented on #2420
You can use /tpo for this iirc

[2019-02-11 01:09] triagonal commented on #2400
Hi, would you mind going into your `/plugins/Essentials/userdata` folder and seeing if a file named `8d714f9f-6475-3358-aa03-627188bbe5e7.yml` is present? If so, could you upload that somewhere and reply with it here?

From these lines in your log, it seems like this issue may be related to #574
[code]

[2019-02-11 02:45] PetrichorCraft commented on #2400
Yeah, that does seem to be related. (note: He does still have access to his homes, even though they're not in this file)

https://pastebin.com/nXU4SGSX

[2019-02-11 03:07] triagonal commented on #2400
This definitely looks like the same issue. Until it's fixed, you can work around it by finding the npc file and giving the user back their balance, as you've probably already gathered:

`[Essentials] Found new UUID for <playername>. Replacing <npc-uuid> with <player-uuid>`

Where `<npc-uuid>.yml` will contain the missing balance.

[2019-02-11 03:11] PetrichorCraft commented on #2400
Thank you very much for the help!

[2019-02-11 10:09] Partyille opened #2421 "Killall still not working"
### Information

**Full output of `/ess version`**:

[code]

**Server log**:

**EssentialsX config**:

### Details

**Description**

**Steps to reproduce**

**Expected behavior**

**Screenshots**

[2019-02-12 21:08] axemwa commented on #2390
If you don't intend to add this then I'll close it. Thanx for replying either way

[2019-02-13 10:31] mdcfe commented on #2421
There are instructions in the template for a reason. Please fill out the template properly, following all the instructions given.

[2019-02-13 10:31] #2421 closed, assigned to nobody

[2019-02-13 10:36] mdcfe commented on #2418
Please [fill out the template](https://github.com/EssentialsX/Essentials/issues/new?template=report-a-bug.md) fully, following the instructions given.

[2019-02-13 10:36] #2418 closed, assigned to nobody

[2019-02-13 10:37] mdcfe commented on #2419
There are instructions in the template for a reason. Please [fill out the template](https://github.com/EssentialsX/Essentials/issues/new?template=report-a-bug.md) properly, following all the instructions given.

[2019-02-13 10:37] #2419 closed, assigned to nobody

[2019-02-13 10:39] mdcfe commented on #2420
You can use the `/tpo` command (with permission `essentials.tpo`) to teleport to players that have disabled teleportation.

[2019-02-13 10:39] #2420 closed, assigned to nobody

[2019-02-13 10:42] mdcfe commented on #2340
EssentialsX doesn't allow users to change their nicknames to be the same as other online players' nicknames. Similar to several other issues, it isn't possible to protect offline players' nicknames without storing a separate copy of everyone's nicknames, and this is not something we intend to do.

[2019-02-13 10:42] #2340 closed, assigned to nobody

[2019-02-13 10:44] mdcfe commented on #2389
Closing due to lack of response.

[2019-02-13 10:44] #2389 closed, assigned to nobody

[2019-02-13 10:44] #2387 closed, assigned to nobody

[2019-02-13 10:45] #2379 closed, assigned to nobody

[2019-02-13 10:45] mdcfe commented on #2412
Closing due to lack of resposne.

[2019-02-13 10:45] #2412 closed, assigned to nobody

[2019-02-13 10:46] mdcfe commented on #2413
Closing as this is not an EssentialsX issue.

[2019-02-13 10:46] #2413 closed, assigned to nobody

[2019-02-13 10:46] #2416 closed, assigned to nobody

[2019-02-13 10:48] mdcfe commented on #2415
If I'm understanding this correctly, you want individual players to be able to control which reply recipient setting they want to use? If this is the case, how would a permission be better than being able to run a single command?

[2019-02-13 11:02] AngelDeaD commented on #2415
What `single command` are you talking about?
If you are talking about `last-message-reply-recipient` it's not command it's an option in config file.
Currently, I do not see way, how can 1 player have `last-message-reply-recipient` false and other player (at the same time) `last-message-reply-recipient` true

I think the best way would be with permission, unless there is already something like /msg

[2019-02-13 13:22] mdcfe commented on #2415
I was suggesting adding a command.

I don't see the point of adding a permission? It's unclear to users and requires additional setup from server administrators.

[2019-02-13 14:49] AngelDeaD commented on #2415
You are right. On second though, users can not abuse it, so it can be a command. Will it be `/msgreplytoggle` or something else and when it will be?

[2019-02-15 03:00] supercrimeyt opened #2423 "unknown item name"
### Information

Full output of `/ess version`:

**Server log:** ![screenshot 2](https://user-images.githubusercontent.com/40644343/52831484-d3eef980-30a2-11e9-9154-3823d609779c.png)

**EssentialsX config** *arbitrary zip file removed*

### Help request

**Problem**
wont give items saying unknown item

**What I have tried**
306/iron_helmet/Iron_helmet/ironhelmet/minecraft:iron_helmet

**Screenshot

[2019-02-15 04:12] mibby opened #2424 "Allow setting / removing nick name based on their UUID."
Would it be possible to allow nicknaming players via UUID while offline? That way you can have the command ```/nick {UUID] off``` run automatically at the end of the month to remove nicknames from players who should no longer have access to nick in the event they changed their minecraft name.

[2019-02-15 16:41] resi23 commented on #2304
I do not need it anymore

[2019-02-15 16:41] #2304 closed, assigned to nobody

[2019-02-16 03:37] uwuscutely opened #2425 "Server Console Material Error"
I'm getting an error for EssentialsX that says Failed to find material for sstone and a bunch of other materials. The server is on 1.12.2. Using Spigot 1.12.2

[2019-02-16 03:52] uwuscutely commented on #2425
16.02 03:51:19 [Server] WARN Failed to find material for sstone
16.02 03:51:19 [Server] WARN Failed to find material for smoothstone
16.02 03:51:19 [Server] WARN Failed to find material for rock
16.02 03:51:19 [Server] WARN Failed to find material for granite
16.02 03:51:19 [Server] WARN Failed to find material for gstone
16.02 03:51:19 [Server] WARN Failed to find material for polishedgranite
16.

[2019-02-16 12:25] Ann-Helen opened #2426 "Essentials v2.16.0.3 generated an exception on login and logut"
### Information

**Server log:** [Essentials] Task #2270 for Essentials v2.16.0.3 generated an exception
java.lang.NullPointerException: null
        at com.earth2me.essentials.xmpp.XMPPManager.updatePresence(XMPPManager.java:144) ~[?:?]
        at com.earth2me.essentials.xmpp.EssentialsXMPP.updatePresence(EssentialsXMPP.java:109) ~[?:?]
        at com.earth2me.essentials.xmpp.EssentialsXMPPPlayer

[2019-02-16 17:48] mdcfe commented on #2425
You haven't provided enough information.

Please [fill out the template](https://github.com/EssentialsX/Essentials/issues/new?template=help.md), following the instructions given.

[2019-02-16 17:48] #2425 closed, assigned to nobody

[2019-02-16 18:20] mdcfe commented on #2426
Are you using XMPP? If not, remove the `EssentialsXXMPP` jar.

[2019-02-16 22:04] Xeyame commented on #2423
Why did you zip the .kits file lol, also please include a written descrioption as this screenshot is pretty much the laziest way you could do it and isn't easlily readable. Please do `/essentials version`, paste the output into here. Also please put in a console log when using iron_helmet in the kits.yml (and rebooting after changing)

[2019-02-17 00:54] mattyokan opened #2427 "Item DB issues with 1.8.8 Spigot"
### Information

**Full output of `/ess version`**:

I'm putting this on Hastebin cause it's over 5000 lines long: https://paste.md-5.net/yucifopize.md

**Server log**: https://paste.md-5.net/codicixoge.md

**EssentialsX config**: Default

### Details

**Description**
When using 2.16.X on 1.8.x versions, I am running into strange issues with the Item DB. Doing things like /i tripwire_hook and /i s

[2019-02-17 09:52] triagonal commented on #2427
Hi - The Spigot release version (2.16.0.3) is known to have this issue. You should update to the latest build at the build server: https://ci.ender.zone/job/EssentialsX/

[2019-02-17 10:17] triagonal commented on #2408
As far as I can tell, this issue is caused when using LegacyItemDB, and by createkit using the item's material enum name for the kit configuration (via `AbstractItemDB#serialize()`):

https://github.com/EssentialsX/Essentials/blob/fb779533e6dbff299f45376286ce9aab695e9832/Essentials/src/com/earth2me/essentials/items/AbstractItemDb.java#L66-L67

So when an iron pickaxe is registered in a kit, the ki

[2019-02-17 10:37] triagonal commented on #2408
This issue also occurs if the item db provider is manually specified as "csv" on 1.13+, which supports my speculation about FlatItemDB being the cause of the error.

https://gist.github.com/triagonal/0bc1a6d69d3f692df879047c253cc4fe

[2019-02-17 13:12] triagonal commented on #2408
(don't mind the deleted comment before this, no clue where I was going with that after re-reading it - obviously got confused somewhere)

This issue also occurs if the item db provider is manually specified as "csv" (`item-db-type: "csv"`) on 1.13+, so it seems that the issue may be caused by LegacyItemDB.

https://gist.github.com/triagonal/0bc1a6d69d3f692df879047c253cc4fe

[2019-02-17 16:29] mdcfe commented on #2408
@triagonal `item-db-type` isn't an officially supported feature. It's unlikely that the issue on 1.8.8 and 1.13.x have a common root cause.

[2019-02-17 17:15] mdcfe commented on #2424
I think this is supposed to already be possible - have you tried it?

[2019-02-17 17:18] mdcfe commented on #2423
As Xeyame pointed out, you haven't included the output of `/ess version`.

Please read and follow the instructions given in the template next time - you need to remove the arrows from the template before posting.

[2019-02-18 01:30] mibby opened #2429 "Sending color codes with '&' in a mail from console does not adapt the color."
When you send a mail through console or server command using &a for example, the mail returns ``&ahi`` instead of "hi" in green. Console seems to require ``§``.

Would it be possible to allow console to format mails using &?

[2019-02-18 01:39] mibby commented on #2424
Yes, I've tried it @md678685. However it does not seem to work when the player is offline. Only while they are online does it match the UUID to a player.

[2019-02-20 11:15] mdcfe commented on #2360
@aeyu Apologies for the delay in responding to this.

After looking into it, I believe the reason for those last couple of errors is that the new item database code doesn't allow spawning in stacks that aren't items, but the config tries to spawn in those items in order to figure out what their material is. I'm working on a fix for this which involves changing how the item databases work, but for

[2019-02-20 11:27] mdcfe commented on #2193
Closing in favour of #2326.

Edit:

[2019-02-20 11:27] #2193 closed, assigned to nobody

[2019-02-20 12:24] #2408 closed, assigned to nobody

[2019-02-20 12:24] #2360 closed, assigned to nobody

[2019-02-20 12:28] mdcfe commented on #2360
I've pushed a fix for this - grab the [latest build](https://ci.ender.zone/job/EssentialsX/) from the build server.

*edited: I posted the wrong comment here*

[2019-02-20 12:30] mdcfe commented on #2408
I've merged a couple of fixes that both ensure `/createkit` works as intended and fix kits that were created with broken versions. Download the [latest build](https://ci.ender.zone/job/EssentialsX/) from the build server.

@triagonal Thanks for posting the report on GitHub and helping to replicate it.

[2019-02-20 12:33] mdcfe commented on #2326
This should now be improved due to integrating PaperLib - grab the [latest build](https://ci.ender.zone/job/EssentialsX/) from the build server.

Special thanks goes to @DoNotSpamPls for contributing this.

[2019-02-20 12:33] #2326 closed, assigned to nobody

[2019-02-20 13:18] axemwa commented on #2326
Thanx heaps to you both this is awesome! I've generated/filled my world upto the world border by using worldborder (which i totally forgot was a thing). Didn't take long at all :)

[2019-02-20 14:30] axemwa commented on #2326
Wow this is soooo much faster. thanks again

[2019-02-20 14:54] mdcfe commented on #2347
@pinkpig3777 I believe all the issues raised here should be solved now. You can get the latest build from the [build server](https://ci.ender.zone/job/EssentialsX) - make sure you reset your `items.json`.

[2019-02-20 14:54] #2347 closed, assigned to mdcfe

[2019-02-21 15:23] mdcfe commented on #574
Closing this in favour of #2400, which is the same issue but has more detail.

[2019-02-21 15:23] #574 closed, assigned to nobody

[2019-02-21 15:32] mdcfe commented on #2400
From a quick glance, it looks like the economy is somehow migrating the player's balance to an offline mode UUID, then the user map is detecting that offline mode UUID and migrating it back to online mode. I'm looking into this further now.

### Update 1
https://github.com/EssentialsX/Essentials/blob/023cf6a1aaf63614d4603020258b2040f725c1a5/Essentials/src/com/earth2me/essentials/api/Economy.java#L

[2019-02-21 18:56] mdcfe commented on #2400
I've opened a PR at #2432 which *may* fix this. If anyone who was running into issues could try this build on a replica test server that mostly matches their production server, it'd be appreciated.

### Test builds

*Only use these builds on a test server! Don't use them in production!*

Commit | Link
---|---
79035254ddc6219c93a57c67e9fe894545303af8 (latest) | [EssentialsX-2.16.0.46-debug.jar.zip]

[2019-02-21 22:40] mattyokan commented on #2427
Awesome, sorry for the late response but thank you. I didn't check to use the dev builds since this was a very sudden issue (I got a message about it then had to rush to find a fix lol).

Glad to see this is fixed already!

[2019-02-21 22:40] #2427 closed, assigned to nobody

[2019-02-22 05:35] ghost opened #2433 "Build #697 breaks teleporting to spawn on join"
Error: https://pastebin.com/7eu7tYv4
Using Paper build # 525 for 1.13.2
(Discovered while using build # 700 for Essx)

[2019-02-22 09:58] #2433 closed, assigned to kashike

[2019-02-22 10:02] mdcfe commented on #2433
This should be fixed by 289d34d96c04f0e2db5994e1c6996eb33518b378 (thanks @kashike) - grab the [latest version](https://ci.ender.zone/job/EssentialsX/) from the build server.

[2019-02-22 14:34] #2429 closed, assigned to nobody

[2019-02-22 18:39] mdcfe commented on #2400
@PetrichorCraft Could you update to the [latest build](https://ci.ender.zone/job/EssentialsX) and see if the issue persists?

[2019-02-23 00:04] PetrichorCraft commented on #2400
Thank you so much! Yes, I just tested, and it's fixed!

[2019-02-23 00:25] MasterDash5 commented on #2382
I've tested this with EssentialsX by itself. Crash still occurs. I wouldn't think its caused by multiverse.

[2019-02-23 13:14] mdcfe commented on #2400
Glad to hear this fix has worked. Thanks to everyone who helped test and replicate this.

[2019-02-23 13:14] #2400 closed, assigned to mdcfe

[2019-02-23 13:17] mdcfe commented on #2382
@mart-r @MasterDash5 Could you try the [latest EssentialsX build](https://ci.ender.zone/job/EssentialsX) on the [latest version of Paper](https://papermc.io/downloads)? We've recently optimised teleportation on EssentialsX when using Paper.

Also, @MasterDash5 could you get the output of `/ess version`? It looks like you might have mistyped the command than first time round.

[2019-02-25 02:03] brobie1kanobi opened #2436 "Console said to post this to a developer"
2019-02-24 20-29
=============================== GM ERROR LOG ===============================
= ERROR REPORT START - GMBuildVer (Phoenix) =

java.lang.IllegalArgumentException: The following file couldn't pass on Parser.
plugins/GroupManager/worlds/lobby (mgw battle arena)/groups.yml
	at org.anjocaido.groupmanager.dataholder.WorldDataHolder.loadGroups(WorldDataHolder.java:590)
	at org.anjocaido.gr

[2019-02-26 07:53] mdcfe commented on #2436
GroupManager is an unmaintained and unsupported plugin, and is not part of Essentials**X**.

If you're having issue using GroupManager alongside EssentialsX, we recommend switching to [LuckPerms](https://luckperms.github.io).

[2019-02-26 07:53] #2436 closed, assigned to nobody

[2019-02-26 21:23] jwc65 opened #2437 "Spawners revert to Pig when being placed"
### Information

Essentials Version output:

[16:19:32 INFO]: CONSOLE issued server command: /ess version
[16:19:32 INFO]: Server version: 1.8.8-R0.1-SNAPSHOT git-PaperSpigot-"4c7641d" (MC: 1.8.8)
[16:19:32 INFO]: EssentialsX version: 2.16.0.46
[16:19:32 INFO]: Vault version: 1.7.1-b91

Server log has no details when placing spawners even with Debug enabled so I haven't uploaded, no errors on star

[2019-02-26 21:44] madolebr commented on #2413
just wanted to say you guys are very right, but the virus has made\ it deep into alot of our plugins, including essentials. cant find the origin, as we dont even have any leaked plugins. but will be deleting and readding all jars in hopes itll be cleared up

[2019-02-27 04:27] CathalCraft opened #2438 "/condense does not condense Melon Slices into a Melon block"
### Information

PaperMC 1.13.2 b541
EssentialsX 2.16.0.46 b703

### Details

**Description**
/condense command does not turn Melon Slices into a Melon block, and instead prints the message below:
You have no items that can be converted into blocks.

**Steps to reproduce**
Have at least 9 Melon Slices and type /condense

**Expected behavior**
Condense the Melon Slices into a Melon block

[2019-02-27 11:52] mdcfe commented on #2437
Thanks for opening an issue. This is usually fixed by giving players `essentials.spawnerconvert.<mob>`. However, it looks like you don't have a (supported) permissions plugin - could you get a full **startup log**?

[2019-02-27 13:03] Castiella commented on #2410
Hello, reopening this -

We are still having the issue, even with luckperms. Please let me know what you need from me to progress this issue.

[2019-02-27 14:57] Xeyame commented on #2438
This is not working because [Reverse crafting is also validated](https://github.com/EssentialsX/Essentials/blob/849efa9756495a34260d57ff1d81df1283e5f5e7/Essentials/src/com/earth2me/essentials/commands/Commandcondense.java#L68), and you can't craft a melon block into melon slices

[2019-02-27 15:04] mdcfe commented on #2438
This is intended - as Xeyame correctly pointed out, you can't craft both ways between melon blocks and melon slices, so it isn't a valid `/condense` type.

[2019-02-27 17:31] jwc65 commented on #2437
Startup log: https://gist.github.com/ipr0james/4893cfaf4a5c96f24e8eb2cddcd814bc

To test this theory, I've installed zPermissions and given myself essentials.spawnerconvert.Creeper which is the mob type I have been testing with, this doesn't seem to have made a difference and I am also op.
I'm not sure if the method of obtaining spawners has changed with the 1.8 editions of the latest essentials.

[2019-02-28 11:46] vPrapo opened #2440 "[Feature] redirect commands output"
**Feature request**
Send current position to someone in private.

**Feature description**
A combination of /w and the output of /position
Can be something like `/spos <player>`
(send position)

**How the feature is useful**
In a pvp/survival server this is useful to send your position to your allies quickly.

[2019-03-01 11:32] #2282 closed, assigned to nobody

[2019-03-05 06:18] Kbryst opened #2444 "EssentialsX canceling flight on world change"
EssentialsX version: 2.16.1.0
Paper Spigot 1.13.2

So I have an enchant plugin that toggles /fly on for players. I have fly disabled in essentials under disabled commands.

My issue is that its auto toggling off flight on world change, and thats causing issues with the enchant plugin.

I am able to recreate this on a test server with just the enchants and essentialsX.

[2019-03-05 08:01] mdcfe commented on #2444
You can give players `essentials.fly` to prevent this - they won't be able to use `/fly` if you've disabled it in the config, but they will be able to keep their fly status with that permission.

[2019-03-05 08:10] Kbryst commented on #2444
Oh that's brilliant! Thank you

On Tue, Mar 5, 2019, 3:01 AM md678685 <notifications@github.com> wrote:

[2019-03-05 08:50] #2444 closed, assigned to nobody

[2019-03-05 09:19] andfont commented on #2411
please fix this problem! with / itemdb there are names that do not fit in the poster! please the perfect solution is that you can use ID's again with an OWN database! of essentials! please fix the problem thank you!

[2019-03-05 09:20] mdcfe commented on #2411
@andfont There are now shorter names for prismarine bricks. Update EssentialsX and delete `items.json`, then start your server.

[2019-03-05 09:20] #2411 closed, assigned to nobody

[2019-03-05 13:26] Castiella opened #2445 "Teleportation sending players to wrong area when warping."
**Full output of `/ess version`**:

[code]

### Details

LOG: https://gist.github.com/Castiella/d1c59674b6eae61a652811ab90d80a7f

**Description**

See here: https://github.com/Multiverse/Multiverse-Core/issues/1964

Was told to report it here as you guys provide the warp command. :)

**Steps to reproduce**

Warp to a warp that is in a different world to the one you're in. It will take you to your

[2019-03-06 07:57] mdcfe commented on #2410
Closin favour of #2445 which has updated information from the author.

[2019-03-06 07:57] #2410 closed, assigned to nobody

[2019-03-06 08:03] mdcfe commented on #2445
Is there any way you could replicate this on default worlds without Multiverse-Core?

To my knowledge, no changes occurred in EssentialsX's teleport code between 2.15.0 and 2.16.0 (where the issue could be replicated as per #2410). I suspect this is related to a change in Paper or Spigot 1.13.2 that occurred recently - this needs further investigation.

[2019-03-06 08:07] Castiella commented on #2445
I can’t warp between worlds without multiverse core though? I’m confused about what you want from me.

This has also been happening since we updated to 1.13 paper, so that sounds plausible.

[2019-03-06 14:24] aikar commented on #2445
Please update Paper, that was fixed already in 554

[2019-03-06 16:56] Castiella commented on #2445
I am now running the recent paper and it is still doing this.

[2019-03-06 19:28] mdcfe commented on #2445
I can't replicate this on the latest version of EssentialsX and Paper without Multiverse installed, using the default Overworld and Nether worlds created by Minecraft. (Multiverse Core doesn't interfere as far as I can tell.)

![image](https://user-images.githubusercontent.com/1917406/53906224-46b81880-4042-11e9-9ebf-caec3b828c8b.png)

[2019-03-06 23:33] mclegendary1 opened #2446 "/enchant with id?"
### Feature request

**Feature description**
/enchant with id
Expample: /enchant 34 10 (durability 10)
On servers 1.12.2 and belows.

**How the feature is useful**
It's much easier than write full name of enchant.

I know, it's mb hard with version 1.13 in the plugin, but it's very useful function i think.
If you can't - it's okay.

[2019-03-07 01:37] AlvoriGaming opened #2447 "No @'s"
### Allow @'s

**Allows to specify a player in a range, nearest, all, and entitys**

**Help with other plugins and thing mainly I need it for the things I the am working on.**

**I would like if you do that and for reading have a good day bye**

**Not for vanilla but for outsided  plugin commands like Pex, CratePlus, and etc.**

[2019-03-07 02:01] SlimeDog commented on #1785
Is this PR going to be considered? It would be helpful.

[2019-03-07 02:42] kennyrkun commented on #2447
similar to #2102

[2019-03-07 07:47] md678685 commented on #2447
Duo)ovate of

[2019-03-07 07:47] #2447 closed, assigned to nobody

[2019-03-07 07:48] mdcfe commented on #2447
Duplicate of #2102 - see [this response](https://github.com/EssentialsX/Essentials/issues/2102#issuecomment-444973081) for the current state of command selectors.

[2019-03-07 07:50] mdcfe commented on #2446
This should already work.

Could you post the output of running `/ess version` on your server?

[2019-03-07 15:00] leonardo-dgs commented on #2016
@md678685 in my opinion this issue should be reopened because this inconsistency can happens with every plugin that uses NPCs, not only with Towny.
I think that should be done a converter for existing NPCs, and put a setting in the file `upgrades-done.yml`.

[2019-03-07 15:50] mdcfe commented on #2438
Closing as a duplicate of #1431.

[2019-03-07 15:50] #2438 closed, assigned to nobody

[2019-03-07 15:55] mdcfe commented on #2426
Closing due to lack of response.

[2019-03-07 15:55] #2426 closed, assigned to nobody

[2019-03-07 16:10] mdcfe commented on #2392
Please run the command `/ess version` and paste the full output - it looks like you didn't type it properly or didn't copy the full output.

You can find entity IDs for mobs at the [Minecraft wiki](https://minecraft.gamepedia.com/Java_Edition_data_values/Pre-flattening/Entity_IDs). To give a spawner with a specific mob, you would do `/give spawner:<ID>`, where the ID comes from the page above.

[2019-03-07 16:13] mdcfe commented on #2397
Closing due to lack of response. If this is still a problem, feel free to respond and reopen the issue.

[2019-03-07 16:13] #2397 closed, assigned to nobody

[2019-03-08 17:19] #2307 closed, assigned to nobody

[2019-03-08 22:22] mdcfe commented on #1321
I think this is safe to close, as no information was ever provided.

@SupaHam or @misuda12, feel free to reopen this if you feel it is appropriate.

[2019-03-08 22:22] #1321 closed, assigned to SupaHam

[2019-03-08 22:25] mdcfe commented on #1283
@Andre601 Did you ever resolve this, or does it still occur?

[2019-03-08 22:28] mdcfe commented on #1112
@julien1721 Apologies for than late response, but does this issue still occur?

[2019-03-08 23:40] CryLegende opened #2448 "[Feature] Ignore teleport cooldown"
### Feature request

**Feature description**
Add in the essentials configuration an option to bypass the teleportation cooldown in some worlds
Like:
[code]

**How the feature is useful**
It would (for example) activate cooldown only in the pvp world or the end / nether worlds

[2019-03-08 23:50] LaxWasHere commented on #2448
Just give them bypass permissions on those worlds.

[2019-03-08 23:54] CryLegende commented on #2448
With my permission plugin ?

[2019-03-08 23:59] Remski01 commented on #2448
Yes

[2019-03-09 00:22] Andre601 commented on #1283
I didn't check if the latest version has fixed that...
Will do that later this day and provide feedback.

[2019-03-09 02:13] caojohnny commented on #2440
IMHO this feature is pretty narrow in scope. I don't know if enough people will find this a useful addition to Essentials such that it would warrant an entirely separate command. Thoughts on this?

[2019-03-09 02:33] caojohnny commented on #2406
It would be immensely helpful if you followed the [issue format](https://github.com/EssentialsX/Essentials/blob/2.x/.github/ISSUE_TEMPLATE/report-a-bug.md).

Some of the things that would be useful are a server log, your essentials config, and the version output. It would also help if you elaborated on exactly what is happening and if you turned on `debug` mode in the essentials config and paste t

[2019-03-09 04:06] CryLegende commented on #2448
It's done thank you but it is possible to put a cooldown on a non-essentials order?

[2019-03-09 07:28] caojohnny commented on #2393
To clarify, you want something like `sethome-multiple`, except instead of having a different number of homes that a user can set based on their rank, it would be based on the world instead, correct?

[2019-03-09 08:54] mdcfe commented on #2440
I agree that this is limited in scope, as it doesn't serve much purpose for most servers beyond letting players communicate when teleportation isn't available. This might be better suited to a combat-focussed plugin instead of EssentialsX (which has to account for lots of different types of servers).

[2019-03-09 12:54] Andre601 commented on #1283
I checked it and it still doesn't work.

**How I tested it**:
1. I crafted firework like shown here: https://imgur.com/p4YZwQA
2. I hold it in my inventory.
3. I run the command `/createkit Example 0` to make the kit `Example` with `0` delay.
The Kit is saved in the kits.yml and also listed when running `/kits`
4. I run `/kit Example`

The same error happens like mentioned in the first comment of

[2019-03-09 12:57] mdcfe commented on #2393
This could also be implemented as an option to choose between having limits apply globally or per world, without changing how the limits are defined (which is how I initially interpreted the feature request).

It also seems @JadenDevon wants a way to prevent users teleporting into particular worlds using `/home`, which could be achieved in a similar way to how elwe currently implement `essentials.

[2019-03-09 16:20] JadenDevon commented on #2393
@AgentTroll Exactly, although having options for both world based and rank based would be preferable. Permissions would have to be world based and rank based. ie: `essentials.sethome.[world]` and `essentials.sethome-multiple.[world].[rank]`. The ranks could easily use the same config options for multiple homes that currently exist.

@md678685 Indeed. A configurable option preventing players from t

[2019-03-09 17:31] mdcfe commented on #2393
@JadenDevon The `essentials.sethome.<world>` permission would be redundant, since any recent/supported permissions plugin already lets you define per-world permissions, so you can just block `essentials.sethome`.

I'd also be wary of changing the existing permissions to include a world name - this will break lots of people's existing setups.

What I described regarding preventing cross-world telep

[2019-03-09 17:35] mdcfe commented on #140
Is this still an issue? I don't recall any subsequent reports of this.

[2019-03-09 17:40] mdcfe commented on #2192
This was fixed by ba959586e216f3d42888335e39e21b1f4396b652.

[2019-03-09 17:40] #2192 closed, assigned to nobody

[2019-03-09 17:45] mdcfe commented on #1691
@l12436 Do you still have your patch for this issue?

[2019-03-09 17:48] mdcfe commented on #239
This may require an `EssentialsUpgrade` converter to update userdata files (though we could alternatively just leave these entries as-is).

[2019-03-09 17:53] mdcfe commented on #145
Can anyone still replicate this as of 2.15.0 or any later version? #1796 appears to have fixed #1764 and I'm not aware of any recent reports of vanish bugs.

[2019-03-09 17:57] mdcfe commented on #469
Is this even a bug? As far as I can tell, `essentials.spawnerconvert.<mob>` is doing what it's supposed to be doing. If you don't want this behaviour, revoke/negate the permission.

[2019-03-09 17:57] JadenDevon commented on #2393
@md678685 That type of implementation would be ideal. The only issue that I have with it, if someone wanted to take up this project, is that world groups would have to be possible. I would like to have it so that a player with `essentials.sethome.multiple.three` would have access to creating and teleporting to those 3 homes in world, world_nether, and world_the_end and have separate homes for a di

[2019-03-09 20:06] mclegendary1 commented on #2446
I'm sorry for that long time no-answering.
Here is ess version https://imgur.com/bnQAOJV

[2019-03-09 21:11] cicatrice74 opened #2453 "send command prior to command execution"
### Feature request

**Feature description**

**How the feature is useful**

[2019-03-09 21:13] cicatrice74 commented on #2453
Is there a way to add the possibility to have a command executed prior to any command ?
I would like to send titles on screen prior to teleports, maybe something like, "Don't move, teleportation in 3.2.1..

[2019-03-09 21:29] Xeyame commented on #2453
This is probably also not something for essentialsX, The best i can think of is the plugin Titlemanager; Also are you like requesting ether commands to be executed only for waiting command (that could be done with commands.yml), add titles to the teleportation commands, or just what your requesting in your title (that can also be done in commands.yml)?

[2019-03-10 01:24] vPrapo commented on #2440
Well, can this be for redirect **any command** output to a user? is that possible?
for e.g. when a user don't have permission to use server info command
but as an admin I want to show him my output without giving him permission.
in the same time it can be used as well for /position and send its output to a user privately.
or if a user getting error for a command he can show the admin what it says.

[2019-03-10 05:49] caojohnny commented on #2302
This is legitimately infeasible to do without modifying the client somehow, the server isn't really in control of the way the player moves; it only communicates player movement to the rest of the server. I can imagine somehow hacking this in using entity velocity or something, but I don't think it will look pretty.

[2019-03-10 16:13] Xeyame commented on #2302
The only way of controlling this from the server i could think of, would be giving the Dolphin’s Grace effect, although that doesn’t have any speed control that i know of

[2019-03-10 17:26] EOT3000 opened #2456 "Essntials kits doesn't like enchanted shields"
enchant a shield with curse of bunding, then create a kit with it, the kit breaks. unecnchant it, redo kit, and everything works

[2019-03-10 17:28] EOT3000 commented on #2456
as it turns out, that happens with any enchant

[2019-03-10 17:48] Xeyame commented on #2456
Please run the command `/ess version` and paste the full output

[2019-03-10 18:01] EOT3000 commented on #2456
[Sun, 10. Mar 2019 14:01:44 EDT INFO] CONSOLE issued server command: /ess version
[Sun, 10. Mar 2019 14:01:44 EDT INFO] Server version: 1.13.2-R0.1-SNAPSHOT git-Paper-554 (MC: 1.13.2)
[Sun, 10. Mar 2019 14:01:44 EDT INFO] EssentialsX version: 2.16.0.3
[Sun, 10. Mar 2019 14:01:44 EDT INFO] LuckPerms version: 4.3.2
[Sun, 10. Mar 2019 14:01:44 EDT INFO] Vault version: 1.7.1-b91

[2019-03-10 20:25] EOT3000 commented on #2456
@Xeyame I did it

[2019-03-10 21:18] mdcfe commented on #2456
There is nowhere near enough information to help. Please [fill out the relevant issue template](https://github.com/EssentialsX/Essentials/issues/new/choose).

[2019-03-10 21:18] #2456 closed, assigned to nobody

[2019-03-11 03:44] l12436 commented on #1691
Sorry for the late response.

You can try this patch，I extract from my commit. This should be the fix of spawnegg null issue.

[code]

[2019-03-11 08:58] takatalvi commented on #1928
I would like to bring up this issue again, but I don't want to create a duplicate:
The issue persist, I understand that the root cause is that a player's AFK timer is not reset when disconnecting. This results in players logging in in AFK status, which doesn't make sense, and also, it subsequently means that the timer will pick up where it left - running past the autokick limit.

**Please, add res

[2019-03-14 04:02] BummyMan commented on #1341
No matter how I change the kits in the kits.yml folder, I get an error message for when i try to use the kit in game. The original kits work, but if i change them slightly, they will completely stop working.

[2019-03-14 18:00] mdcfe commented on #1341
@BummyMan Please [open a new issue](https://github.com/EssentialsX/Essentials/issues/new/choose), following the instructions and filling out the relevant template.

[2019-03-15 12:03] mdcfe commented on #385
This feature is now available in [builds 711 and above](https://ci.ender.zone/job/EssentialsX).

[2019-03-15 12:03] #385 closed, assigned to nobody

[2019-03-15 12:08] mdcfe opened #2459 "Include mute reason and duration in MuteStatusChangeEvent"
### Feature request

**Feature description**
[`MuteStatusChangeEvent`](https://github.com/EssentialsX/Essentials/blob/2.x/Essentials/src/net/ess3/api/events/MuteStatusChangeEvent.java) currently doesn't expose the mute timestamp or reason. This event could be extended to include these. Note that the timestamp and reason arguments would need to be parsed before sending the event, but currently they

[2019-03-15 12:10] #2415 closed, assigned to nobody

[2019-03-15 12:10] #2403 closed, assigned to nobody

[2019-03-15 12:11] #2414 closed, assigned to nobody

[2019-03-15 21:56] Stupremee commented on #2459
How about adding the timestamp to every StatusChangeEvent or even in every event?

[2019-03-15 22:06] mdcfe commented on #2459
@Stupremee The `timestamp` in this case is the mute duration (it's referred to as `timestamp` in the mute code). There isn't any point adding the timestamp to every event - you wouldn't gain anything over just checking the current time in your listener.

[2019-03-15 22:09] Stupremee commented on #2459
Ohh okay. I misinterpreted it.

[2019-03-15 23:05] CDAGaming opened #2460 "[AtomMC] /world Command with more then 3 world causes Client to respawn in an incorrect dimension"
### Information

**Full output of `/ess version`**:

[code]

**Server log**: https://gist.github.com/CDAGaming/df5fe366c619b556a1702491eeb979d5

**EssentialsX config**: https://gist.github.com/CDAGaming/84c9f240c965c0f25400a84b8c742272

### Details

**Description**
With Atom allowing both Bukkit/Spigot plugins and forge mods to be used together, /world as well as re-spawning is no longer working p

[2019-03-15 23:28] Xeyame commented on #2460
Essentials is only supported on Paper/Spigot as far as i know. Also your huge log is a pain to read. Anyways, this is probs cause that server software does weird stuff with worlds (or some misconfiguration with multiverse if you use that)

[2019-03-15 23:59] CDAGaming commented on #2460
Slimmed down the Gist, sorry about that. It may be just the Server Software so Im waiting for the dev over there to see if he can do anything about it

[2019-03-16 08:58] mdcfe commented on #2460
EssentialsX aims to support Spigot, Paper and Glowstone, and we don't support hybrid servers. (I recommend using Sponge; it's maintained by a large team that know how to integrate plugins and mods.)

The Bukkit API and Forge have traditionally always had different conventions for identifying worlds/dimensions. Forge follows the vanilla convention, where a "world" contains several dimensions, but i

[2019-03-18 17:07] milothedalmador opened #2462 "Elytra selling with /sellall command"
### Information

**EssentialsX config** https://gist.github.com/milothedalmador/978374844d04472db53d3deaeb95cf3a.js

### Help request

**Problem**
Players with access to /sellall seem to sell their elytra even if it's being worn and not just in their inventory.

**What I have tried**
I've hunted through the Spigot pages and google but haven't yet found a solution.

**Screenshots**
N/A

[2019-03-20 12:16] milothedalmador commented on #2462
As per the request on Discord - here is the output when doing /ess version:
![2019-03-20_12 14 13](https://user-images.githubusercontent.com/46726096/54683594-eaf19300-4b09-11e9-9eb4-b3472f100611.png)

[2019-03-20 12:21] triagonal commented on #2462
Replace all of your old EssentialsX jars with the [latest version on the build server](https://ci.ender.zone/job/EssentialsX/lastBuild/), and then test again to see if the problem persists.

[2019-03-20 12:24] milothedalmador commented on #2462
I'll get on that now!

[2019-03-24 18:27] JIH97 opened #2463 "Hiding non-accessible commands from the autofill"
### Information

Full output of `/ess version`:

Server version:1.13.2-r0.1-SNAPSHOT git-spigot-518206a-a5b9c7 (MC: 1.13.2)
EssentialsX version: 2.16.1.80
Luckperms version: 4.3.73

### Help request

**Problem**
To remove non_accessible commands from the autofill function.
and when i do /data get entity "player" i get no feedback, but if i do it in the consol i get it

**What I have tried**
Tried

[2019-03-24 23:41] silverwolfg11 opened #2464 "Issue teleportating to location atop barriers"
### Information

**Full output of `/ess version`**:

[code]

**Server log**:  N/A

**EssentialsX config**: https://gist.github.com/silverwolfg11/ef863d8f4c660617b9bf05a4a433a69d

### Details

**Description**
Teleporting to a location that is atop barriers will register as an unsafe location and teleport players below the barriers.

**Steps to reproduce**
Create an area of barriers above the ground

[2019-03-25 22:16] GunacP40 opened #2465 "Lag Notice Slow Economy Response"
EssentialsX version: 2.16.1

Server software: spigot-21fe707-e1ebe52 1.8.8 R0.1

Error: [22:55:34 INFO]: [Essentials] Lag Notice - Slow Economy Response - Request took
over 299.994ms!

When does this happen? I run a SkyWarsReloaded Server with MySQL, I've linked the plugin to PlayerPoints, and PlayerPoints to Vault. SkyWarsReloaded needs an Economy plugin to work, so I've installed EssentialsX, bu

[2019-03-25 22:17] GunacP40 commented on #2465
I also tried optimizing the MySQL server but that didn't help at all. This problem only happens with your plugin. I have a SkyBlock and Factions server running your plugin and MySQL and this doesn't happen.

[2019-03-26 17:02] GunacP40 commented on #2465
bump

[2019-03-26 18:35] Xeyame commented on #2465
This happens because your Economy plugin is slow in responding, so that message is put in your console. This is not an issue with essentials, seems like your sql database is indeed too slow then. However If your not using Essentials, this shouldn't pop up. SkyWarsreloaded can just use PlayerPoints as an economy provider for vault (if im understanding correctly what you are saying). Anyways this is

[2019-03-27 13:19] BoomEaro opened #2466 "EssentialsX saves the configuration of players to disk in the main thread causing performance problems."
### Information
**Full output of `/ess version`**:
[14:58:03] [Server thread/INFO]: Server version: 1.12.2-R0.1-SNAPSHOT git-Spigot-642f6d2-6103339 (MC: 1.12.2)
[14:58:03] [Server thread/INFO]: EssentialsX version: 2.15.0.45
[14:58:03] [Server thread/INFO]: LuckPerms version: 4.3.2
[14:58:03] [Server thread/INFO]: Vault version: 1.5.6-b49
[14:58:03] [Server thread/INFO]: EssentialsXChat version: 2

[2019-03-27 17:02] mdcfe commented on #2465
Please follow the instructions in the template, and please don't bump issues (especially not within 24 hours of posting).

---

PlayerPoints is an economy plugin, so every plugin on your server will use PlayerPoints as the economy backend, including EssentialsX. EssentialsX's economy features will manipulate your PlayerPoints economy, and removing EssentialsX won't affect SkyWarsReloaded or Player

[2019-03-27 17:02] #2465 closed, assigned to nobody

[2019-03-27 18:47] GunacP40 commented on #2465
Ok thank you. I noticed you said that if I remove EssentialsX then SWR will use PlayerPoints as the economy provider. Well, unfortunately that is not possible, if I remove EssentialsX, SWR won't start and will say that I need an economy plugin (even if I have playerpoints and vault installed)

[2019-03-27 18:48] GunacP40 commented on #2465
Also, sorry for bumping within 24 hours. I didn't know the rules, now I do.

[2019-03-27 19:06] GunacP40 commented on #2465
So, I just finished optimizing the database and the mysql server, and the problem is still there. I don't understand how this is a problem of optimization when the lag issue and the message does not happen or appear in any of my other servers, which also are connected to the same database. (The database saves a global coin)

[2019-03-27 20:21] mdcfe commented on #2465
If SWR isn't picking up PlayerPoints as an economy plugin, that isn't a problem on EssentialsX's end. You haven't provided anywhere near enough information for us to figure out whether there is an issue on EssentialsX's end or not.

This isn't support for SkyWarsReloaded nor PlayerPoints. If you're not planning to use EssentialsX, you need to contact the support for those plugins.

If you're *sure

[2019-03-27 22:21] ColorsASD opened #2467 "worth.yml"
Hi. Please update worth.yml to `1.13` material list.

[2019-03-28 19:56] Xeyame commented on #2467
What exactly do you mean with this?

As far as i can see, worth.yml is using material names that are supported on 1.13.

[2019-03-29 03:59] pawjwp commented on #2297
Did you ever find a proper solution to this problem that addresses tab completion? I have recently switched to 1.13.2, which broke the tab completion in the commands.yml fix. You are the only person I have found that seems to have all the same problems I do. I need to be able to do more advanced things in commands than the essentials version offers, but I still want /warp, /home, and the essential

[2019-03-29 07:27] Zefferis commented on #2297
@pawjwp

I unfortunately did not. Neither Essentials nor Spigot/Paper have worked on this issue. I continue to work around it by using "/minecraft:" in-game to get my vanilla commands without aliases.

I'm glad I'm not the only one on this sinking ship though, it's nice to have company 😆

[2019-03-29 10:09] ColorsASD commented on #2467
If it were supported with 1.13 item list I wouldn't have indicated it and the file is not updated because there are no data data objects in the file and can still be found. Exemplary oak_log material does not work. The /worth command use and not found ID, but barrier ID found and try:

[code]

But said not found material.

I use PaperSpigot 1.13.2 build 595 and Essentials 2.16.1.80 build 713.

Ple

[2019-03-29 10:59] ColorsASD commented on #2467
And can I get the EssentialsProtect supplement? (newMob, dangerousAbility)
For example snowman do not pull on snow.

[2019-03-29 20:08] xsovietbear opened #2468 "Title on Countdown"
### Feature request

**Feature description**

Title for commencing teleportation. For example, if I type /home, an title would appear on my screen with a countdown instead the boring chat message.

**How the feature is useful**

It is useful for players if they want to know how many seconds passed from the command and the actual teleport, also would increase the server design and originality.

[2019-03-30 01:46] mibby commented on #1397
Is there any possibility on using packets to send recipe lists instead of using real items?

Confirmed exploit still exists / is broken as of Essentials dev 713 and Paper dev 597 (Spigot 1.13.2) with it forced enabled.

[2019-03-30 08:48] mdcfe commented on #1397
This may be possible, but I don't feel it would be appropriate for EssentialsX to include any packet manipulation - this would require either tying us down to another external dependency, or writing our own packet code which would require significantly more maintenance effort.

I opened PaperMC/Paper#1783 a few months ago to see if there was any chance of adding API to Paper to allow us to cleanly

[2019-03-30 13:29] mdcfe commented on #2297
@pawjwp @Zefferis I've been looking into this recently.

So far, I've tried registering the permission to the command at runtime. This is currently the intended way for plugins to hide their commands from the autocomplete list.

The problem with this is that Bukkit will also check permissions before EssentialsX starts running the command, and won't let EssentialsX run the command if the player doe

[2019-03-30 15:00] mdcfe commented on #2467
In the future, please [fill out the template properly](https://github.com/EssentialsX/Essentials/issues/new/choose) for support.

`worth.yml` works on 1.13 without any problems. You can use `/setworth` to put the right item name in `worth.yml`:
[code]
[code]

---

Please [open a separate feature request](https://github.com/EssentialsX/Essentials/issues/new?template=request-a-feature.md) for this,

[2019-03-30 20:46] #2467 closed, assigned to nobody

[2019-03-31 00:08] Zefferis commented on #2297
Thank you for looking into it!

I hope it's something that can be integrated into Paper and Spigot/Bukkit later, your work is great, thank you for it 👍

[2019-03-31 20:49] mibby opened #2470 "Add player variable to TPPos."
Would it be possible to add a player variable to the tppos command? So you can force players to a specific coordinate in a specific world via console commands that auto-replace a %player% placeholder with the player name?

i.e.

``/tppos <x> <y> <z> [yaw] [pitch] [world] [player]``

With a condition if [player] is used, don't teleport yourself -- check for that player instead.

[2019-04-01 02:49] axemwa opened #2471 "EssentialsXGeoIP cannot detect local host's (127.0.0.1) IP address"
### Feature request

**Feature description**
**EssentialsXGeoIP cannot detect local host's (127.0.0.1) IP address**, if that is the case when ppl join via localhost then to either not display the "User is from (country)" message when they join (since it cannot be tracked when joining via localhost), or to change it so that it says
something like "User joined from localhost." or "User joined from a

[2019-04-03 18:14] kennyrkun commented on #2468
It would not increase server originality, because every server running Essentials would have this feature.

I don't think this is useful, and I think it would become annoying quickly.

If this is implemented, I believe it should be optional by way of the configuration.

[2019-04-03 19:39] drtshock commented on #2468
Things like this would always be configurable if implemented.

[2019-04-03 19:42] mdcfe commented on #2468
I don't see a need for this within EssentialsX itself - if we add the necessary API events, this could be easily implemented within a separate plugin. As far as I know, to use the title API you need to depend on the actual Spigot API, whereas we're currently depending on their updated Bukkit API.

[2019-04-06 23:39] ShredRum opened #2473 "Compile error"
[Google Translate]
Hey. Today I have a need to fix whois for myself by removing the player’s coordinates from there. To do this, I downloaded the sources, installed BuildTools according to the instructions, and for the sake of interest I made the test compilation of the plugin unchanged. As a result, I received an error:
[ERROR] D: \ BuildTools \ apache-maven-3.6.0 \ bin \ Essentials \ src \ com \

[2019-04-06 23:48] ShredRum commented on #2473
Screenshot http://prntscr.com/n8i323

[2019-04-07 07:18] mdcfe commented on #2473
This is quite common - often Spigot updates and causes the build process to break. I'll update the source soon.

For now, if you're using an IDE like IntelliJ IDEA or Eclipse, you should be able to generate the missing methods by opening EssentialsX's `OfflinePlayer` class and implementing the missing methods.

[2019-04-07 14:41] ShredRum commented on #2473
Thanks a lot, now I can forbid players to watch the coordinates of other players in whois!

[2019-04-07 18:47] mdcfe commented on #2473
This has been fixed by 3d97e93831f56450762f41b816321a30ede5a1b1 - you can download the latest source and it should now compile without error.

[2019-04-07 18:47] #2473 closed, assigned to nobody

[2019-04-08 02:36] Tomographix commented on #392
Just wanted to say that I also have this issue and would greatly appreciate a fix. :)

[2019-04-08 10:10] EvModder opened #2478 "Trade sign "Line is too long!" error when line is at or near maximum allowed length"
### Information

**Full output of `/ess version`**:

[code]

**EssentialsX config**:
https://gist.github.com/EvModder/29cf2c5d52cf6fcf425396cfb76e4c1f

### Details

**Description**
When the length of a line on a [Trade] sign is at or near the maximum allowed length of a line on a sign, EssentialsX will allow the creation of the sign (text will turn blue) but will not allow any interaction with the

[2019-04-09 01:04] Weasel-Beans commented on #1452
On my server regular members cannot use /sethome, but can right click a bed and use '/home' or '/home bed' to teleport back to it. However like stapleshotz points out, when players move their bed and forget to reset their home, the command takes them back to the global spawn, which is unused on my server. If it was possible to instead set it so typing /home with no home set returns an error messag

[2019-04-09 02:19] Redned235 commented on #2466
Having a similar problem too. Much appreciation if this gets patched.

[2019-04-09 18:10] Cobwebster opened #2479 "Invisible usernames"
If I use /nick &a it just gives me a empty name, given &a are accepted characters but when u go to type its just blank.

example,

https://images-ext-1.discordapp.net/external/mlBEdOUy0jKKDKRbZIQwHAvjs0o0m-TzfFllct312Tk/https/cdn.discordapp.com/attachments/400328165870010370/565186533506809856/2019-04-09_15.48.30.png?width=501&height=313

[2019-04-10 01:02] kennyrkun commented on #2479
I can't reproduce this behaviour with EssentialsX 2.16.1.0 -- inputting `&a` alone for /nick gives me the error `Error: Nicknames must be alphanumeric`.

As far as I'm aware there is no configuration option to allow the use of blank nicknames or non-alphanumeric characters, even with `essentials.nick.allowunsafe`.

Perhaps you're running an outdated version?

[2019-04-10 12:29] mdcfe commented on #2479
@Cobwebster Could you get the output of `/ess version` as requested in the template?

[2019-04-10 17:59] Cobwebster commented on #2479
EssentialsX version: 2.16.1.0

Probably a little dated.

[2019-04-10 18:03] Cobwebster commented on #2479
Ah, looks like another plugin is causing this. sorry guys.

[2019-04-10 18:04] #2479 closed, assigned to nobody

[2019-04-11 09:58] mibby commented on #2424
@md678685 Any possible update on this issue? :(

[2019-04-11 13:21] Justin42 commented on #2478
I can confirm that this occurs when using a valid username of 16 characters.

[2019-04-13 09:04] Alex802c opened #2482 "/shop error"
### Information

Full output of `/ess version`:

**Server log:**
https://pastebin.com/2PzEE9eV

**EssentialsX config**
https://pastebin.com/cRENvHDS
### Help request

**Problem**

/shop doesn't work. I use GuiShop+ and essentials are somehow blocking /shop "Error: that warp does not exist" please help

**What I have tried**

Scrolled through the intire confiq 100 times. My eyes are bleeding
**Scre

[2019-04-13 11:40] mdcfe commented on #2482
EssentialsX doesn't interfere with the `/shop` command. Are you sure you didn't set up an alias in Bukkit's `commands.yml`?

[2019-04-13 23:04] ghost opened #2483 "Kit Cooldown not showing up"
### Help request

**Problem**
Already used kit is not showing up, by that I mean the kit name is not in strikethrough.

**What I have tried**
Different EssentialsX versions, but those which work mess up the item ID's with other plugins.

**Screenshots**
![image](https://user-images.githubusercontent.com/11699611/56086165-97007280-5e59-11e9-834f-74d74de2c477.png)

[2019-04-15 09:07] #2297 closed, assigned to nobody

[2019-04-15 09:25] mdcfe commented on #2460
Closing as there isn't anything we can do about this ~~other than recommending SpongeForge and Nucleus~~.

[2019-04-15 09:25] #2460 closed, assigned to nobody

[2019-04-16 10:29] mdcfe commented on #2463
This has been fixed in #2469 - you can download the latest version from the [build server](https://ci.ender.zone/job/EssentialsX).

[2019-04-16 10:29] #2463 closed, assigned to nobody

[2019-04-16 11:48] mdcfe commented on #2399
Closing due to lack of response. Feel free to respond if this is an issue with EssentialsX.

[2019-04-16 11:48] #2399 closed, assigned to nobody

[2019-04-16 22:23] mdcfe opened #2485 "Allow players to look around without cancelling teleport"
### Feature request

**Feature description**
Allow players to look around during the teleportation warmup, without cancelling their teleport. This could be behind a config option to avoid changing existing behaviour.

**How the feature is useful**
It can be frustrating for players to not be able to even move their mouse until they teleport.

Requested in the Discord by `Thomoski#1154`.

[2019-04-17 06:04] #1947 closed, assigned to nobody

[2019-04-17 06:31] #1333 closed, assigned to nobody

[2019-04-17 06:33] #1586 closed, assigned to nobody

[2019-04-17 06:46] #94 closed, assigned to nobody

[2019-04-17 07:52] mdcfe commented on #1333
This has now been implemented - you can download the latest version from the [build server](https://ci.ender.zone/job/EssentialsX).

[2019-04-17 07:53] mdcfe commented on #94
This has now been fixed - you can download the latest version from the [build server](https://ci.ender.zone/job/EssentialsX).

[2019-04-17 07:54] mdcfe commented on #1586
This has now been fixed - you can download the latest version from the [build server](https://ci.ender.zone/job/EssentialsX).

[2019-04-17 07:55] mdcfe commented on #1947
This has now been added - you can download the latest version from the [build server](https://ci.ender.zone/job/EssentialsX).

[2019-04-17 16:12] mdcfe commented on #892
Closing in favour of #1561.

[2019-04-17 16:12] #892 closed, assigned to nobody

[2019-04-17 16:18] #1899 closed, assigned to nobody

[2019-04-17 16:58] mdcfe commented on #1899
This has now been added - you can download the latest version from the [build server](https://ci.ender.zone/job/EssentialsX).

[2019-04-18 00:45] #1928 closed, assigned to nobody

[2019-04-18 00:46] Ichbinjoe commented on #1928
For people having these problems, please try on the latest version to see if you still have the issue.

[2019-04-18 08:44] takatalvi commented on #1928
After basic testing, I can confirm the fix has worked, thank you so much!
This will enable me to disable those pesky afk-fish farms and so on, thank you :)

[2019-04-18 10:26] mdcfe commented on #1928
*Obligatory download message incoming...*

This has now been fixed - you can download the latest version from the [build server](https://ci.ender.zone/job/EssentialsX).

[2019-04-18 10:37] mdcfe commented on #2162
This was added by PR #2489 - you can download the latest version from the [build server](https://ci.ender.zone/job/EssentialsX).

[2019-04-18 10:37] #2162 closed, assigned to nobody

[2019-04-18 11:24] triagonal commented on #1125
This was fixed in 983f3a7.

[2019-04-18 11:24] #1125 closed, assigned to nobody

[2019-04-18 11:36] mdcfe commented on #2424
This can be fixed by trying to call `UserMap#getUser(UUID)` at the start of this method: https://github.com/EssentialsX/Essentials/blob/b831713737d556e31aa5df9849e4503dd761b727/Essentials/src/com/earth2me/essentials/UserMap.java#L87-L106

[2019-04-18 14:48] triagonal commented on #2167
Closing as this was not an issue with Essentials.

[2019-04-18 14:48] #2167 closed, assigned to nobody

[2019-04-19 10:14] ghost commented on #2483
Duplicate.

#2301

[2019-04-19 12:16] mdcfe commented on #2483
Closing as a duplicate of #2301 - it's easier to keep one issue updated.

[2019-04-19 12:16] #2483 closed, assigned to nobody

[2019-04-20 00:21] leonardo-dgs opened #2490 "Inconsistent saving of NPC UUID -> name"
I want to reopen the inconsistencies regarding UUID -> name saving of NPCs, exposed in the issue #2016, because that inconsistency can happens with every plugin that uses NPCs, not only with Towny.
I think that should be done a converter for existing NPCs, and put a setting in the file `upgrades-done.yml`.

[2019-04-20 05:57] caojohnny commented on #2485
Isn't there a permission to disable this?

[2019-04-20 06:34] triagonal commented on #1409
The ability to edit socialspy's PM format was added in a8d9139 / #1460.

[2019-04-20 06:34] #1409 closed, assigned to nobody

[2019-04-20 08:17] mdcfe commented on #2485
There's `essentials.teleport.timer.move`, but this just lets anyone move around during the teleport delay.

However, it appears EssentialsX doesn't actually consider the head rotation at all when determining whether players can move, so this feature request appears to be moot.

[2019-04-20 08:17] #2485 closed, assigned to nobody

[2019-04-20 11:37] GewoonLeonYT opened #2491 "[Question] How to spawn Charged Creeper with /spawnmob command."
How do I spawn a Charged Creeper with the /spawnmob command?

[2019-04-20 14:48] trentnbauer opened #2492 "Double Bed - /Home goes to Spawn"
### Information

**Full output of `/ess version`**:

[code]

**Server log**: https://gist.github.com/xardoniak/4ca2296aff566cc65d49f5cc1f298519

**EssentialsX config**: https://gist.github.com/xardoniak/5ad6c425e7d54f1e1f389f153f6af683

### Details

**Description**
When sleeping in a double bed, the /home command is reset to spawn. After removing and replacing a single bed, /home then works as exp

[2019-04-20 15:47] triagonal commented on #2234
Closing - issue resolved, and not related to EssentialsX.

[2019-04-20 15:47] #2234 closed, assigned to nobody

[2019-04-20 16:03] triagonal commented on #2491
You can spawn in mobs with mob data using `/spawnmob [mob]:[data]` - in this case, you would use `/spawnmob creeper:powered`, or `/spawnmob creeper:charged`.

[2019-04-20 16:19] triagonal commented on #2462
@milothedalmador - Did you end up solving your issue?

[2019-04-21 22:30] chexo3 opened #2493 "Human Readable Banner colors"
### Feature request

**Feature description**

Human readable banner meta color

**How the feature is useful**

Just add the ability to refer to colors in banners by their [DyeColor](https://hub.spigotmc.org/javadocs/spigot/org/bukkit/DyeColor.html)

[2019-04-22 02:31] ghost commented on #2471
if a user joins from 'localhost', it's impossible to find their external IP address, so unfortunately the most I could do is offer a message saying the user's country could not be found.

my changes are offered in https://github.com/EssentialsX/Essentials/pull/2494

[2019-04-22 03:05] ghost commented on #2302
relatively hacky to do, we could listen for a `PlayerMoveEvent` then modify the player's velocity but it'd be pretty ugly

[2019-04-22 03:13] pop4959 commented on #2302
yeah probably don't want to do that, there isn't an easy way to change this from the server without making it hacky, and it would probably be more work to maintain on essentials part

[2019-04-22 08:38] #2471 closed, assigned to nobody

[2019-04-22 08:39] mdcfe commented on #2471
This has now been implemented in b4baa28f01a6e40a76a2c24e1b57fad1a97102ad - you can download the latest version from the [build server](https://ci.ender.zone/job/EssentialsX).

Thanks @latiku for the PR!

[2019-04-22 12:26] latiku commented on #2284
https://github.com/EssentialsX/Essentials/pull/2495 offers functionality for this, enjoy!

[2019-04-22 13:33] ghost commented on #2388
as far as I know there is no way to select which you could choose @axemwa, would you prefer it just say their actual display name or nickname?

[2019-04-22 14:23] triagonal commented on #2265
Closing due to lack of response. Please comment on this issue if you still require support.

[2019-04-22 14:23] #2265 closed, assigned to nobody

[2019-04-22 15:30] triagonal commented on #2123
This was fixed in #2458.

[2019-04-22 15:30] #2123 closed, assigned to nobody

[2019-04-22 17:31] latiku commented on #2336
https://github.com/EssentialsX/Essentials/issues/2336 adds this functionality :)

[2019-04-22 17:34] ghost commented on #2185
the only way this could be done is if the player is temporarily granted that permission then quickly revoked as fast as the command is executed so they don't abuse it

[2019-04-22 23:00] darbyjack commented on #2492
Could not replicate this bug. Following the steps provided above, I placed down a double bed, which then when I slept in it, set my Bed Home. After doing /home it proceeded to take me to the bed and not the spawn.

[2019-04-22 23:01] trentnbauer commented on #2492
Will try to replicate the issue again and let you know. Maybe something weird on my end

[2019-04-22 23:53] darbyjack commented on #2029
This is a great idea and we will be mapping out a solution for this soon.

[2019-04-23 00:13] darbyjack commented on #1286
Just looking over this since it's on the 2.17.0 milestone. As of the latest build, it currently works. This issue can be closed.

[2019-04-23 00:14] pop4959 commented on #392
I can confirm that this is still an issue, have had it happen several times

[2019-04-23 00:18] #1286 closed, assigned to nobody

[2019-04-23 00:23] triagonal commented on #2396
The latest version of Magic (6.9.20) is now compatible with EssentialsX.

[2019-04-23 00:23] #2396 closed, assigned to mdcfe

[2019-04-23 01:37] triagonal commented on #2322
Closing - question seems to be resolved. Please comment on this issue if you require further support.

[2019-04-23 01:37] #2322 closed, assigned to nobody

[2019-04-23 02:15] pop4959 commented on #2344
Closing since this question appears to be long already answered

[2019-04-23 02:15] #2344 closed, assigned to nobody

[2019-04-23 02:17] pop4959 commented on #2311
It looks like this feature has been added, so I'm going to go ahead and close this

[2019-04-23 02:17] #2311 closed, assigned to nobody

[2019-04-23 02:22] pop4959 commented on #2299
I'm not sure that this is easily possible, since as far as I know you actually need a valid bed location to [sleep](https://hub.spigotmc.org/javadocs/spigot/org/bukkit/entity/HumanEntity.html#sleep-org.bukkit.Location-boolean-) at. If it was possible though, maybe a name like "/rest" would be better, since it is setting your status to rested. I think the only way to add this might be hacky right n

[2019-04-23 02:31] pop4959 commented on #2298
I'm not able to replicate this issue at all in Paper 1.13.2. I followed the steps to reproduce (rode about 300 blocks in a boat, then used /home home) and I was completely fine.

Any updates, FrozenBeard?

[2019-04-23 03:22] pop4959 commented on #2126
Since this doesn't seem to be within the scope of Essentials to fix I'm going to go ahead and close this. If that is a mistake please feel free to re-open it, but I see that most points to this being some sort of other clientside/serverside issue.

[2019-04-23 03:22] #2126 closed, assigned to nobody

[2019-04-23 04:21] triagonal commented on #2324
Closing due to lack of response.

[2019-04-23 04:21] #2324 closed, assigned to nobody

[2019-04-23 05:12] mart-r commented on #2299
It's not all that difficult. All you need to do is [Player#setStatistic](https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/entity/Player.html#setStatistic-org.bukkit.Statistic-int-) and set the [Statistic.TIME_SINCE_REST](https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/Statistic.html#TIME_SINCE_REST) to 0.

[2019-04-23 05:15] pop4959 commented on #2299
Good to know, thank you for pointing that out!

[2019-04-23 08:10] TomLewis commented on #2298
@pop4959 Im not using 1.13.2 im using 1.12.2

[2019-04-23 08:13] mdcfe commented on #2029
I think this should come as part of #2391, so I'm pushing this back to 2.18.

[2019-04-23 08:19] mdcfe commented on #2298
Did you test with other teleport commands in the end?

[2019-04-23 08:22] #1354 closed, assigned to nobody

[2019-04-23 08:44] pop4959 commented on #2298
@FrozenBeard I'm aware, was just wondering if you are still having this issue in 1.12.2. Also, updates as in what md quoted you as saying

[2019-04-23 16:27] Phoenix616 commented on #2391
Regarding backwards compatibility of non-named placeholders in existing custom messages files:

This could be easily done by replacing both, the actual placeholder name and the legacy index placholder in messages, the only thing that would need to stay the same is the order in which placeholder replacements are passed to the translation method.

Possible (pseudo) code for the replacement assuming

[2019-04-23 18:49] mdcfe commented on #2391
### Backwards compatibility
@Phoenix616 This looks like a good way to handle backwards-compatibility with older messages - I'll keep a note of that.

### Placeholder "expressions"

While this seemed like a good idea at the time I wrote the issue, in retrospect I think including this in EssentialsX itself is both overcomplicated and unnecessary. PlaceholderAPI already covers pretty much everything

[2019-04-23 19:50] Phoenix616 commented on #2391
You might be interested in my own markdown-inspired library: https://github.com/Phoenix616/MineDown, either to use directly (depends on bungee-chat though) or for some ideas on what to do with the syntax. Paper also has [some plans](https://github.com/PaperMC/Paper/issues/1144) to add a syntax for components that is easier to use than pure json.

[2019-04-23 20:16] mdcfe commented on #2391
@Phoenix616 I was aware of MineDown before, but hadn't really looked into it. The main issue with depending on it is that I was leaning towards using kashike's library, since there's a set of adapters to use it with both CraftBukkit and Spigot, in case people stick with CB. Otherwise, the syntax looks quite good - I'm particularly a fan of how hover and click are done.

Regarding Paper's proposed

[2019-04-24 09:31] ghost commented on #459
Requesting this PR be closed.

This is solved by https://github.com/EssentialsX/Essentials/blob/2.x/Essentials/src/com/earth2me/essentials/Jails.java#L224-L241 since the event sets teleporting jailed players back to the user's jail.

[code]

[2019-04-24 11:09] triagonal commented on #2423
Closing due to lack of response.

[2019-04-24 11:09] #2423 closed, assigned to nobody

[2019-04-24 21:02] #1523 closed, assigned to nobody

[2019-04-24 21:03] #1513 closed, assigned to nobody

[2019-04-24 21:03] #1380 closed, assigned to nobody

[2019-04-24 21:04] #785 closed, assigned to nobody

[2019-04-24 21:04] #1695 closed, assigned to nobody

[2019-04-24 21:05] #890 closed, assigned to nobody

[2019-04-24 21:20] #1269 closed, assigned to nobody

[2019-04-24 21:36] mdcfe commented on #785
This can be achieved by just running `/ignore` to see every user that has been ignored.

[2019-04-25 09:02] mdcfe opened #2506 "Add teleport warmup event to API"
### Feature request

**Feature description**
An event called when teleport warmups start.

**How the feature is useful**
This would allow other plugins to listen to the event and add their own functionality (like #2468).

[2019-04-25 09:02] mdcfe commented on #2468
Closing in favour of #2506.

[2019-04-25 09:02] #2468 closed, assigned to nobody

[2019-04-25 11:13] jvdoorn opened #2507 "Null error when giving shields with enchantments or using them in a kit"
### Information

**Full output of `/ess version`**:

[code]

**Server log**: https://gist.github.com/Argetan/88a9e8bbc4bc4f21a46fb1e28e102cbf

**EssentialsX config**: https://gist.github.com/Argetan/33708df3b81b687fad536374e23fe826

### Details

**Description**
When trying to give or use a shield _with enchantments_ in a kit EssentialsX will throw a null error.

Possibly related to #2187. Giving a

[2019-04-25 17:54] triagonal commented on #2147
Closing - insufficient information. If you still require support, please open another issue (or comment here) with a complete template.

[2019-04-25 17:54] #2147 closed, assigned to nobody

[2019-04-26 09:37] miladesign opened #2508 "Update to 1.14-spigot version"
Can you update this plugin for 1.14 spigot version?

[2019-04-26 10:16] Eutherin commented on #2508
probably not until an official 1.14 spigot jar is out.

[2019-04-26 10:46] triagonal commented on #2508
EssentialsX is currently in the process of being updated to 1.14. There is no confirmed release date as of yet.

When 1.14 support is added, there will almost certainly be a new release posted in the Releases section of the repository, so you could click the "Watch" button at the top of the page and select "Releases only" to be notified when a new release is posted.

Alternatively, you could join

[2019-04-26 20:52] Tsoccerguy3 commented on #2508
java -jar BuildTools.jar --rev 1.14

compile against the 1.14 API

[2019-04-26 21:18] Xeyame commented on #2508
@Tsoccerguy3 It's not that easy sadly

[2019-04-27 13:46] miladesign commented on #2508
there is 1.14 spigot version in spigot website!

[2019-04-27 13:59] miladesign commented on #2508
its work on 1.14 version!
but signs and shop not work.

[2019-04-27 15:13] smmmadden commented on #2508
This will be an iterative process to update everything to 1.14 since Mojang renamed a lot of blocks and added a ton of new ones.  That's just the block side.  I'll be setting up my test server this weekend to see how well buildtools.jar build 101 is with the latest EssentialsX and some other plugins to provide some feedback to the devs.

[2019-04-27 15:47] Motytheultimate opened #2509 "Unlimited command breaks userdata"
### Information

**Full output of `/ess version`**:

[code]

**Server log**:

**EssentialsX config**:

### Details

**Description**
/unlimited Command breaks Userdata
the ulimited command produces
unlimited:
- !!org.bukkit.Material 'STONE_BRICKS'
in userdata

which is not valid yml

**Steps to reproduce**
/unlimited stone_bricks
produces
unlimited:
- !!org.bukkit.Material 'STONE_BRICKS'
in Userdat

[2019-04-27 16:35] mdcfe commented on #2509
There is no indication in your report that the YAML is broken. This is valid YAML - `!!` is used to define types and is how SnakeYAML knows the entry is a Bukkit `Material`.

You also didn't include a log in your report. If you think this is wrong somehow or is causing other issues, please add more information **including a log**.

Closing as this is not a bug.

[2019-04-27 16:35] #2509 closed, assigned to nobody

[2019-04-27 17:23] mdcfe commented on #2508
You can keep track of 1.14 progress in #2510.

[2019-04-27 17:23] #2508 closed, assigned to nobody

[2019-04-28 00:36] Roux84 opened #2511 "Enderchest Vanish bug"
Found a Bug in Essentials/Essentials/src/com/earth2me/essentials/commands/Commandenderchest.java

If an admin is in Vanish you can still open the enderchest when he is online. On invsee its fixxed but on enderchest not.

[2019-04-28 02:56] Leomelonseeds opened #2512 "/jump goes through vanilla world border"
This is a bug report/feature request.

The /jump command can currently teleport you right through the vanilla world border. Maybe make a detection and/or togglable option for that?

Thanks.

[2019-04-28 03:59] pop4959 commented on #2511
Not able to reproduce this issue. Can you fill out the bug report template fully, please?

[2019-04-28 04:18] pop4959 commented on #2512
I don't think it's a bug, but adding some sort of check sounds possible. Jump isn't the only command that can let a player teleport through the border though, as most other teleportation commands can also do this (such as tppos). So I think a good question would be whether this is a good feature to add to teleportation in general.

Just out of curiosity, what is the use case? I'm not trying to sho

[2019-04-28 04:57] Leomelonseeds commented on #2512
Going past the worldborder can have many negative effects for a server, even if block placing and breaking is disabled.

For starters, it can cause many new chunks which were previously unfilled with the WorldBorder pre-gen feature to be loaded, causing server lag.

Land claiming plugins will normally not have a check for claiming past the worldborder, posing a problem with unraidable land.

Going

[2019-04-28 04:59] Leomelonseeds commented on #2470
Couldn’t you use /tp [player] (x y z)?

[2019-04-28 11:35] triagonal commented on #2507
I was able to replicate this bug on the following version:
[code]
Debug output: https://hastebin.com/sipaxumogu.md

[2019-04-28 18:02] gmemstr commented on #392
Looks like the perfect issue to get back into plugin dev with. I'll investigate but hold off on self assigning.

[2019-04-29 15:08] axemwa commented on #2388
nickname if the player has one

[2019-04-30 02:29] gmemstr commented on #392
After some testing, I fail to see the bug here. This should be marked as working as intended - it's possible to unban using the new username. If someone could elaborate as to why this would be considered a bug, let me know :) @md678685

[2019-04-30 02:36] Tomographix commented on #392
But it is also impossible to unban with the old username?
minecraft:pardon is the only way to unban them.
Unbanning with /unban {name/uuid/oldname} does not work.

[2019-04-30 02:47] gmemstr commented on #1194
Outdated, unable to replicate on

[code]

[2019-04-30 16:09] jvdoorn commented on #2507
It seems to me something is going wrong in these lines: https://github.com/EssentialsX/Essentials/blob/f793b7607f0dd1c4da71a936a6ab6b8765c6d0c7/Essentials/src/com/earth2me/essentials/MetaItemStack.java#L215-L217

I think this because looking at my error log it's calling `addBannerMeta()`, which I think it shouldn't do seen that it's a shield. I'll investigate further and see if I'm able to fix thi

[2019-04-30 16:25] motelcoconut opened #2514 "Essentials Signs not working on 1.14"
The title says it all. On Spigot 1.14, signs do not work. I have tried [Warp], [Buy], and [Sell] and nothing happens when you right click them. They were working fine on 1.13.2. I assume this has to do with there being new signs in 1.14. There is no exception on the console. They just don't do anything.

[2019-04-30 22:36] ghost commented on #912
I would definitely like this. I'm currently using a custom plugin of my own to store player's nicknames in a database and apply their nick each time they join a server + this plugin to sync economy balances: https://www.spigotmc.org/resources/mysql-player-data-bridge.8117/ . . . but native bungeecord support would be fantastic cause these solutions aren't perfect.

Regarding this reason for not ad

[2019-04-30 23:23] robimoli commented on #2514
Me too, any solution?

[2019-04-30 23:26] delocura commented on #2514
Any solution?

[2019-05-01 00:52] Izaic opened #2516 "Spigot 1.14 gamemode time cycle bug"
### Information

**Full output of `/ess version`**:

[code]

**Logs**: https://gist.github.com/Izaic/0ad27f0d91f5e3a92aec53c0d4c5b59f

### Details

**Description**
When night comes and you use the gamemode command, the time resets to day.

**Expected behavior**
Time to stay the same

**Screenshots**
![image](https://user-images.githubusercontent.com/31933482/57001966-bd2c4f00-6b89-11e9-8bc6-c23352

[2019-05-01 01:55] triagonal commented on #2514
The solution is to wait until EssentialsX has been fully updated to support 1.14. You can follow update progress at #2510.

[2019-05-01 03:33] #2068 closed, assigned to nobody

[2019-05-01 04:06] triagonal commented on #1026
This was fixed in #2455.

[2019-05-01 04:06] #1026 closed, assigned to nobody

[2019-05-01 09:55] Guarmanda commented on #1105
I just tested createkits with unbreakable tags, and it doesn't works. Test your things before closing threads.

[2019-05-01 20:53] mdcfe commented on #1105
@Guarmanda This issue is still open. If you would like to contribute with a PR or any constructive feedback, let us know.

[2019-05-02 08:33] Jadiction opened #2517 "Ability to change player name above head"
Currently, Essentials provides the ability to change your display name and with that name change, you can have it show in chat and even in the tab list (scoreboard) as well as the prefix, which is great.

The last step to fully modifying a player's identity (and always showing their prefix aka rank) is to add the ability to add the prefix to their nametag above their head (and even show their nick

[2019-05-02 14:55] Kongolan commented on #2516
It's true, happened to me unregulary too, but only on an empty server. 1.14 really needs fixes, it's close to be stable, but Essentials is a major crash factor right now!!

[2019-05-03 13:53] willjallen commented on #2512
#2518

[2019-05-03 13:58] willjallen commented on #2512
This can now be toggled with the permission
essentials.jump.pastWorldBorder

[2019-05-03 19:54] Xeyame commented on #912
Bungee logs the player out after it logs into another server (when switching servers). This would mean the server the player switches to would be using old data.

[2019-05-03 19:58] Xeyame commented on #2512
Once #2518 has been merged, @Leomelonseeds can download the latest build from [here](https://ci.ender.zone/job/EssentialsX/)